{extend name="public:base" /}

{block name="js"}
<script>
    $(function (){
        $('#type').val($('#fen').val());
       $('#fen').click(function(){
           $('#type').val($('#fen').val());
       })
    })
    $('.relation').click(function(){
        window.location.href="/admin/classes/relationclassadd";
    })

//修改网站子分类名称
    $(".data-edit").click(function(){
        var href= $(this).attr('durl');
        var arr = $(this).attr('data');
        var params = $.parseJSON(arr);
        var _this = $(this);
    
        layer.prompt({
          formType: 0,
          value: '',
          title: '修改子分类名称'
        }, function(value, index, elem){
            params.class_name = value;
            $.post(href,params,success);
            function success(data) {
                if (data.status == 1) {
                    _this.text(value);
                    layer.msg('修改成功', {icon: 1});
                } else {
                    layer.msg('修改失败', {icon: 1});
                }
            }
        });

    });
</script>
{/block}

{block name="main"}

<div class="wrapper">

    <div class="row-fluid">
        <h3 class="heading">分类管理</h3>
        <div class="dataTables-wrapper">
            <div class="tb-lis users_lis">
                <a><i class="fa fa-plus-circle"></i>新增分类</a>
                <div style="display:none;">
                    <a href="#"><i class="fa fa-flag-o"></i>待审核</a>
                    <a href="#"><i class="fa fa-flag-o"></i>已审核</a>
                    <a href="#"><i class="fa fa-flag-o"></i>已锁定</a>
                </div>
                <span class="relation"><a><i class="fa fa-plus-circle"></i>新增子分类</a></span>
            </div>

            <table class="dataTable table-hover" name="users-list" >
                <tr role="row">
					<th>序号</th>
                    <th>ID</th>
                    <th>分类名称</th>
                    <th>子分类名称</th>
                    <th>分类类型</th>
                    <th>操作</th>
                </tr>
                {volist name="classes_list" id="vo" key="k"}
                <tr class="unread">

                    <td>{$k}</td>
                    <td>{$vo.class_id}</td>
                    <td>{$vo.class_name}</td>
                    <td>{if condition="$vo.name neq null"}<a href="javascript:;" class="data-edit" data='{"relation_class_id":"{$vo.relation_class_id}","name":"{$vo.name}"}' durl="/admin/classes/editSub">{$vo.name}</a>{else/}空{/if}</td>
                    <td>网站分类</td>
                    <td>
                        <a href="/admin/classes/edit?classid={$vo.class_id}">编辑</a>
                        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="javascript:;" class="ajax-del" data='{"relation_class_id":"{$vo.relation_class_id}","relation":"{$vo.relation}","class_id":"{$vo.class_id}"}' durl="/admin/classes/delete">删除</a>
                    </td>
                </tr>
                {/volist}
            </table>
            <div class="row"></div>

        </div>
    </div>
</div>
<div class="modal_layer"></div>
<div class="modal" style="width: 600px; height:455px; top: 64px; left: 651.5px; display:none;">
    <div class="modal-header">
        <div class="modal_title">新建分类</div>
        <div class="modal_close"></div>
    </div>
    <div class="modal-body">
        <div class="text" style="margin:0; padding-top:0;">
            <form action="/admin/classes/add" name="addform" method="post">
                <div class="txt-fld">
                    <label class="tit" for="">类型</label>
                    <select id="fen">
                        <option value="1" >网站分类</option>
                        <!-- <option value="2">计划分类</option> -->
                    </select>

                </div>
                <div class="txt-fld">
                    <label class="tit" for="">分类名称</label>
                    <input name="class_name" type="text">
                </div>
                <input type="hidden" name="type" value="" id="type"/>
                <div class="btn-fld">
                    <button class="btn btn-primary" type="submin">提交</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer"></div>

</div>
<!-- end wrapper -->

{/block}