{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div class="main_nav">
        <div class="mn_left"></div>
        <div class="mn_right">
            <div class="mn_mt">
                <ul>
                    <li><a href="/bigclick/bigclick/prolist">返回列表</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h3 class="heading">新增产品</h3>
        <form class="" action="/bigclick/bigclick/proAdd" method="post" name="addform">
            <div class="control-group formSep st">
                <label class="control-label">产品名称</label>
                <div class="controls">
                    <input class="input-text input1 required" name="pro_name" type="text"><span class="erro">输入产品名称</span>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">客户名称</label>
                <div class="controls">
                    <input class="input-text input1 required b_quired" name="adv_name" type="text"><span class="erro">输入客户名称</span>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">计划备注</label>
                <div class="controls">
                    <input class="input-text input1" name="plan_name" type="text"><span>输入关联计划,没有则不填写</span><span class="erro">输入关联计划</span>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">计费模式</label>
                <div class="controls">
                    <input type="radio" name="billing_model" value="CPA" checked> CPA
                    <input type="radio" name="billing_model" value="CPM"> CPM
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">投放机型</label>
                <div class="controls">
                    <input type="radio" name="launch_model" value="IOS" checked> IOS
                    <input type="radio" name="launch_model" value="Android"> Android
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">发送方式</label>
                <div class="controls">
                    <input type="radio" name="post_type" value="1" checked> Ajax.get
                    <input type="radio" name="post_type" value="2"> aj,1
                    <input type="radio" name="post_type" value="3"> aj
                </div>
            </div>
            <div class="control-group formSep">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

{/block}

<!-- end wrapper -->

{block name="js"}
<script>
    $(function(){
        //为空验证判断
        $("form").submit(function(){
            var flag = true;
            $(".required").each(function(){
                if($(this).val() == ""){
                    $(this).next().css("display","inline");
                    $(this).focus();
                    $("html,body").animate({scrollTop:0}, 0);
                    flag = false;
                }
            })
            if(!flag){
                return false;
            }
        })
        //keyup事件
        $(".required").keyup(function(){
            var value = $(this).val();
            if(value!=""){
                $(this).next().css("display","none");
                return true;  
            }else{  
                $(this).next().css("display","inline");
                return false;  
            }
        })
    })
</script>
{/block}