{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
         <div id="repo_data" class="tb_sts" style="position:absolute; top:110px; right:30px;">
            <a href="/bigclick/bigclick/prolist?status=all&search={$one.search | default=''}&index={$one.index | default=''}"  {if condition="$one.status eq 'all'"} class="repo_data" {/if} >全部</a>
            <a href="/bigclick/bigclick/prolist?status=1&search={$one.search | default=''}&index={$one.index | default=''}" {if condition="$one.status eq '1'"} class="repo_data" {/if}>激活</a>
             <a href="/bigclick/bigclick/prolist?status=0&search={$one.search | default=''}&index={$one.index | default=''}" {if condition="$one.status eq '0'"} class="repo_data" {/if} >锁定</a>
         </div>
        <h3 class="heading">产品管理</h3>
        <div class="dataTables-wrapper">
            <div class="tb-lis users_lis">
                <a href="/bigclick/bigclick/proAdd"><i class="fa fa-plus-circle"> 新增产品</i></a>
                <div class="tb_sts">
                   <form  action="/bigclick/bigclick/prolist?status=all" name="adzone" method="post">
                        搜索：
                        <input class="input-text input1" name="search" value="{$one.search|default=''}" type="text" style="width:160px">
                        <select name="index">
                            <option value="pro_name"  {if condition="$one.index eq 'pro_name'"} selected {/if}>产品名称</option>
                            <option value="plan_name" {if condition="$one.index eq 'plan_name'"} selected {/if}>计划名称</option>
                            <option value="adv_name" {if condition="$one.index eq 'adv_name'"} selected {/if}>客户名称</option>
                        </select>
                       <button type="input" style="width:100px"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
            <table class="dataTable table-hover" name="users-list" >
                <tr role="row">
                    <th rowspan="1" colspan="1" style="width:13px;"><input class="checkedAll" id="" name="site" type="checkbox" data-name="name-data"></th>
                    <th>ID</th>
                    <th>产品名称</th>
                    <th>客户名称</th>
                    <th>计划备注</th>
                    <th>计费模式</th>
                    <th>投放机型</th>
                    <th>发送方式</th>
                    <th>链接个数</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                {volist name="list" id="vo"}
                <tr class="unread">
                    <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="site" type="checkbox" data-name="name-data"></td>
                    <td>{$vo.pro_id}</td>
                    <td><a class="detailed_info">{$vo.pro_name}</a></td>
                    <td>{$vo.adv_name}</td>
                    <td>
                    {if condition="$vo.plan_name eq ''"}
                    {$vo.plan_name|default='不存在'}{else /}<a href="/admin/plan/one?pid={$vo.plan_name}">{$vo.plan_name|default='不存在'}</a>{/if}
                    </td>
                    <td>{$vo.billing_model}</td>
                    <td>{$vo.launch_model}</td>
                    <td>
                        <span class="">
                            {switch name="$vo.post_type" }
                                {case value="1"}<span>Ajax.get</span>{/case}
                                {case value="2"}<span>aj,1</span>{/case}
                                {case value="3"}<span>aj</span>{/case}
                                {case value="4"}<span>Ajax.get.test</span>{/case}
                                {case value="5"}<span>aj,1.test</span>{/case}
                                {case value="6"}<span>aj.test</span>{/case}
                            {/switch}
                        </span>
                    </td>
                    <td>{$vo.num}</td>
                    <td>
                        <span class="common-button ajax-status">
                            {switch name="$vo.status" }
                                {case value="0"}<span class="sta_er">锁定</span>{/case}
                                {case value="1"}<span class="sta_bl">活动</span>{/case}
                            {/switch}
                        </span>
                    </td>
                    <td>
                        <a href="javascript:;"  class="data-lock"  data='{"pro_id":"{$vo.pro_id}","status":"0"}' durl='/bigclick/bigclick/proEditStatus' statuscls='ajax-status'>锁定</a>
                        <a href="javascript:;"  class="data-activation"  data='{"pro_id":"{$vo.pro_id}","status":"1"}' durl='/bigclick/bigclick/proEditStatus' statuscls='ajax-status'>激活</a>
                        <a href="/bigclick/bigclick/proEdit?id={$vo.pro_id}">编辑</a>
                        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="javascript:;" class="ajax-del" data='{"id":{$vo.pro_id}}' durl="/bigclick/bigclick/proDel">删除</a>
                    </td>
                </tr>
                <tr class="u_info">
                    <td colspan="103">
                        <table class="tab_info" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td height="30">
                                    <strong>基本信息</strong>
                                    <span class="span7" style="padding-left:20px;">
                                        <a href="/bigclick/bigclick/urlAdd?id={$vo.pro_id}">新建链接</a>
                                        <a href="/bigclick/bigclick/urllist?id={$vo.pro_id}">查看链接</a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#fff">
                                    <table class="master_table">
                                        <tr>
                                            <td>产品链接:</td>
                                            <td class="color_h">{$vo.url}</td>
                                        </tr>
                                        <tr>
                                            <td>投放方式:</td>
                                            <td class="color_h">{$vo.delivery_mode}</td>
                                        </tr>
                                        <tr>
                                            <td>开始日期:</td>
                                            <td class="color_h">{$vo.start_day}</td>
                                        </tr>
                                        <tr>
                                            <td>投放周期:</td>
                                            <td class="color_h">{$vo.revolution}</td>
                                        </tr>
                                        <tr>
                                            <td>投放日期:</td>
                                            <td class="color_h">{$vo.day}</td>
                                        </tr>
                                        <tr>
                                            <td>投放时间:</td>
                                            <td class="color_h">{$vo.hour}</td>
                                        </tr>
                                        <tr>
                                            <td>投放频率:</td>
                                            <td class="color_h">{$vo.percent}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {/volist}

            </table>
            <div class="row">
            {$page}
            </div>
        </div>
    </div>
</div>

<!-- end wrapper -->
{/block}

{block name="js"}
<script type="text/javascript">
</script>
{/block}