{extend name="public:business-base" /}

{block name="main"}
    <!--会员管理-->
    <div class="main_left">
        <div class="subnav">
            <div class="subnav-title">
                <a href="" class="toggle-subnav">
                    <i></i>
                    <span>我的概括</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li><a href="/home/business/index">我的概括</a></li>
            </ul>
        </div>
    </div>
    <div class="main" style="padding-top:10px;">
        <table style=" margin-top:30px;" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <form method="post" action="/home/business/adver">
                                <table style="width:430px;" border="0" cellpadding="0" cellspacing="0">
                                    <tr class="user_input">
                                        <td><input type="text" name="num" {if condition="$one.params.num eq '0'"} value="" {else/} value="{$one.params.num}" {/if} ></td>
                                        <td>
                                            <select name="selectName">
                                                <option value="uname" {if condition="$one.params.selectName eq 'uname'"} selected {/if}>广告商名称</option>
                                                <option value="uid" {if condition="$one.params.selectName eq 'uid'"} selected {/if}>广告商ID</option>
                                            </select>
                                        </td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                        <td>
                                            <select name="sortMethod">
                                                <option value="descend" {if condition="$one.params.sortMethod eq 'descend'"} selected {/if}>降序</option>
                                                <option value="ascend" {if condition="$one.params.sortMethod eq 'ascend'"} selected {/if}>升序</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select name="sortName">
                                                <option value="ctime" {if condition="$one.params.sortName eq 'ctime'"} selected {/if}>默认排序</option>
                                                <option value="money" {if condition="$one.params.sortName eq 'money'"} selected {/if}>总余额</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-primary">搜索</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </td>
                    </tr>
                </table>
        <div class="box">
            <div class="box-title">
                <h3>
                    <i></i>会员管理
                </h3>
            </div>
            <div class="box-content">
                <table class="table">
                    <tr>
                        <th>广告商ID</th>
                        <th>广告商名称</th>
                        <th>今日消耗</th>
                        <th>昨日消耗</th>
                        <th>余额</th>
                        <th>计划(条)</th>
                        <th>广告(条)</th>
                        <th>联系人</th>
                        <th>QQ</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    {volist name="one.res" id="vo"}
                    <tr>
                        <td>{$vo.uid}</td>
                        <td><a href="/home/business/toAdvertiser?uid={$vo.uid}" target="_blank">{$vo.username}</a></td>
                        <td>{$vo.today|default='0.00 '|decimal}</td>
                        <td>{$vo.Yesterday|default='0.00 '|decimal}</td>
                        <td>{$vo.money|default='0.00 '|decimal}</td>
                        <td>{$vo.plan_count}</td>
                        <td>{$vo.ad_count}</td>
                        <td>{$vo.contact|default='空'}</td>
                        <td>{$vo.qq|default='空'}</td>
                        <td>
                            <span class="common-button ajax-status">
                            {switch name="vo.status" }
                                {case value="0"}<span class="sta_er">锁定</span>{/case}
                                {case value="1"}<span class="sta_bl">活动</span>{/case}
                                {case value="2"}<span class="sta_er">待审</span>{/case}
                            {/switch}
                            </span>
                        </td>
                        <td>
                            <a href="javascript:;"  class="data-activation"  data='{"uid":"{$vo.uid}","status":"1"}' durl='/home/business/userActive' >审核</a>
                            <a href="javascript:;"  class="data-lock"  data='{"uid":"{$vo.uid}","status":"0"}' durl='/home/business/userActive' >锁定</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
            </div>
        </div>
        {$one.show}
    </div>
{/block}

{block name="js"}

{/block}
