{extend name="public:business-base" /}

{block name="main"}
    <!--广告管理-->
    <div class="main_left">
        <div class="subnav">
            <div class="subnav-title">
                <a href="" class="toggle-subnav">
                    <i></i>
                    <span>我的概括</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li><a href="/home/business/index">我的概括</a></li>
            </ul>
        </div>
    </div>
    <div class="main" style="padding-top:10px;">
        <div class="mt30" style="display:none;">
            <button class="btn btn-primary">待审广告</button>
            <button class="btn btn-primary">已审广告</button>
            <button class="btn btn-primary">已锁定广告</button>
            <button class="btn btn-primary">修改待审</button>
        </div>
        <table style=" margin-top:30px;" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <form  method="post">
                                <table style="width:430px;" border="0" cellpadding="0" cellspacing="0">
                                    <tr class="user_input">
                                        <td width="150"><input name="typename" value="{$data.typename|default=''}" type="text"></td>
                                        <td width="100">
                                            <select name="type">
                                                <option value="adid" {if condition="$data['type'] eq 'adid' "} selected {/if}>广告ID</option>
                                                <option value="pid" {if condition="$data['type'] eq 'pid' "} selected {/if}>计划ID</option>
                                                <option value="zid" {if condition="$data['type'] eq 'zid' "} selected {/if}>广告商ID</option>
                                                <option value="pname" {if condition="$data['type'] eq 'pname' "} selected {/if}>计划名称</option>
                                                <option value="zname" {if condition="$data['type'] eq 'zname' "} selected {/if}>广告商名称</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-primary">搜索</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </td>
                    </tr>
                </table>
        <div class="box">
            <div class="box-title">
                <h3>
                    <i></i>广告管理
                </h3>
            </div>
            <div class="box-content">
                <table class="table">
                    <tr>
                        <th>ID</th>
                        <th>浏览</th>
                        <th>计划名称</th>
                        <th>计费形式</th>
                        <th>广告类型</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    {volist name="data['res']" id="vo"}
                    <tr>
                        <td>{$vo.ad_id}</td>
                        <td width="30%">
                            {if condition="$vo['imageurl'] !=''"}<img  class="small"  src="{$vo.imageurl}" width="100px"; height="40px"/>
                            {else/}暂无图片
                            {/if}
                        </td>
                        <td>{$vo.plan_name}</td>
                        <td>{$vo.plan_type}</td>
                        <td>{$vo.tplname}</td>
                        <td>
                            <span class="common-button ajax-status" >
                                {switch name="$vo.status"}
                                {case value="1"}<span class="sta_bl">活动</span>{/case}
                                {case value="2"}<span class="sta_er">待审</span>{/case}
                                {default/}<span class="sta_er">锁定</span>
                                {/switch}
                            </span>
                        </td>
                        <td><a href="javascript:;" class="data-activation" style="padding-right:10px;" statuscls='ajax-status' data='{"ad_id":"{$vo.ad_id}","status":"1"}' durl="/home/business/adsActive">审核</a>
                            <a href="javascript:;" class="data-lock " style="padding-right:10px;" statuscls='ajax-status' data='{"ad_id":"{$vo.ad_id}","status":"0"}' durl="/home/business/adsActive">锁定</a>
                            <a href="/home/advertiser/adsEdit?aid={$vo.ad_id}" target="_blank">编辑</a></td>
                    </tr>
                    {/volist}
                </table>
                {$data.page}
            </div>
        </div>
    </div>
{/block}

{block name="js"}
<script type="text/javascript">
 $('.small').mouseenter(function(){
        var img = $(this).attr('src');
        $(this).css('width','80%');
        $(this).css('height','80%');
    }).mouseleave(function(){
        $(this).css('width','100px');
        $(this).css('height','40px');
    })
</script>
{/block}
