{extend name="public:business-base" /}

{block name="main"}
    <!--我的概括-->
    <div class="main_left">
        <div class="subnav">
            <div class="subnav-title">
                <a href="" class="toggle-subnav">
                    <i></i>
                    <span>我的概括</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li class="current"><a href="/home/business/index">我的概括</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <p>厂商发展链接：{$res.url}/busnewusers/{$res.uid}/2</p>
        <table border="0" cellpadding="0" cellspacing="0" class="mt30">
            <tr>
                <td width="21%"><span class="money">{$num['add']}</span>个</td>
                <td width="21%"><span class="money">{$num['adver']}</span>个</td>
                <td width="21%"><span class="money">{$num['plan']}</span>个</td>
                <td width="21%"><span class="money">{$num['ads']}</span>个</td>
                <td width="21%"><span class="money">{$num['money']|decimal}</span>元</td>
            </tr>
            <tr>
                <td>当天新增下属广告商</td>
                <td>待审广告商</td>
                <td>待审计划</td>
                <td>待审广告</td>
                <td>当日业绩</td>
            </tr>
        </table>
        <div class="box">
            <div class="box-title">
                <h3><i></i>待审广告商TOP50</h3>
            </div>
            <div class="box-content">
                <table class="table table-hover table-nomargin">
                    <tr>
                        <th>UID</th>
                        <th>广告商名</th>
                        <th width="160" class="hidden-350">注册IP</th>
                        <th width="160">注册时间</th>
                        <th width="160" class="hidden-480">操作</th>
                    </tr>
                    {volist name="res['0']['adver']" id="vo" }
                    <tr>
                        <td>{$vo.uid}</td>
                        <td>{$vo.username}</td>
                        <td>{$vo.regip}</td>
                        <td>{$vo.ctime|ctime}</td>
                        <td>
                            <a href="javascript:;"  class="homepage-activation"  data='{"uid":"{$vo.uid}","status":"1"}' durl='/home/business/userActive' >审核</a>
                            <a href="javascript:;"  class="homepage-lock"  data='{"uid":"{$vo.uid}","status":"0"}' durl='/home/business/userActive' >锁定</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
            </div>
            <div class="box-title" style="margin-top:50px;">
                <h3><i></i>待审计划TOP50</h3>
            </div>
            <div class="box-content ai_report">
                <table class="table table-hover table-nomargin">
                    <tr>
                        <th width="120">ID</th>
                        <th width="120">广告商名</th>
                        <th class="hidden-350">计划名称</th>
                        <th width="120" class="hidden-480">类型</th>
                        <th width="120">结算周期</th>
                        <th width="120">操作</th>
                    </tr>
                    {volist name="res['0']['plan']" id="vo" }
                    <tr>
                        <td >{$vo.pid}</td>
                        <td >{$vo.username}</td>
                        <td >{$vo.plan_name}</td>
                        <td >{$vo.plan_type}</td>
                        <td >{$vo.clearing}</td>
                        <td>
                            <a href="javascript:;"  class="homepage-activation"  data='{"pid":"{$vo.pid}","status":"1"}' durl='/home/business/planActive' >审核</a>
                            <a href="javascript:;"  class="homepage-lock"  data='{"pid":"{$vo.pid}","status":"0"}' durl='/home/business/planActive' >锁定</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
            </div>
            <div class="box-title" style="margin-top:50px;">
                <h3><i></i>待审广告TOP50</h3>
            </div>
            <div class="box-content ai_report">
                <table class="table table-hover table-nomargin">
                    <tr>
                        <th width="120">ID</th>
                        <th width="120">广告名</th>
                        <th width="120">广告商名</th>
                        <th class="hidden-350">属于计划</th>
                        <th width="120" class="hidden-480">计划类型</th>
                        <th width="160">广告类型</th>
                        <th width="120">操作</th>
                    </tr>
                    {volist name="res['0']['ads']" id="vo" }
                    <tr>
                        <td >{$vo.ad_id}</td>
                        <td >{$vo.adname}</td>
                        <td >{$vo.username}</td>
                        <td >{$vo.plan_name}</td>
                        <td >{$vo.plan_type}</td>
                        <td >{$vo.tplname}</td>
                        <td>
                            <a href="javascript:;"  class="homepage-activation"  data='{"ad_id":"{$vo.ad_id}","status":"1"}' durl='/home/business/adsActive' >审核</a>
                            <a href="javascript:;"  class="homepage-lock"  data='{"ad_id":"{$vo.ad_id}","status":"0"}' durl='/home/business/adsActive' >锁定</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
            </div>
        </div>
    </div>
{/block}

{block name="js"}

{/block}