{extend name="public:business-base" /}

{block name="main"}
    <!--计划管理-->
    <div class="main_left">
        <div class="subnav">
            <div class="subnav-title">
                <a href="" class="toggle-subnav">
                    <i></i>
                    <span>我的概括</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li><a href="/home/business/index">我的概括</a></li>
            </ul>
        </div>
    </div>
    <div class="main" style="padding-top:10px;">
        <div class="mt30" style="display: none">
            <button class="btn btn-primary" name="2">待审计划</button>
            <button class="btn btn-primary" name="1">已审计划</button>
            <button class="btn btn-primary" name="0">已锁定计划</button>
            <button class="btn btn-primary">限额停止</button>
            <button class="btn btn-primary">过期或是余额不足停止</button>
        </div>
        <table style=" margin-top:30px;" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <form  method="post">
                                <table style="width:430px;" border="0" cellpadding="0" cellspacing="0">
                                    <tr class="user_input">
                                        <td width="150"><input name="typename" value="{$data.typename|default=''}" type="text"></td>
                                        <td width="100">
                                            <select name="type">
                                                <option value="pid" {if condition="$data['type'] eq 'pid' "} selected {/if} >计划ID</option>
                                                <option value="pname" {if condition="$data['type'] eq 'pname' "} selected {/if}>计划名称</option>
                                                <option value="zid" {if condition="$data['type'] eq 'zid' "} selected {/if}>广告商ID</option>
                                                <option value="zname" {if condition="$data['type'] eq 'zname' "} selected {/if}>广告商名称</option>

                                            </select>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-primary">搜索</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </td>
                    </tr>
                </table>
        <div class="box">
            <div class="box-title">
                <h3>
                    <i></i>计划管理
                </h3>
            </div>
            <div class="box-content">
                <table class="table">
                    <tr>
                        <th>厂商</th>
                        <th>计划ID</th>
                        <th>计划名称</th>
                        <th>类型</th>
                        <th>限额</th>
                        <th>结算</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    {volist name="data['res']" id="vo"}
                    <tr>
                        <td>{$vo.username}</td>
                        <td>{$vo.pid}</a></td>
                        <td>{$vo.plan_name}</td>
                        <td>{$vo.plan_type}</td>
                        <td>{$vo.budget}</td>
                        <td>
                        {switch name="vo.clearing"}
                        {case value="day"}<span>日结</span>{/case}
                        {case value="week"}<span>周结</span>{/case}
                        {default/}<span>月结</span>
                        {/switch}
                        </td>
                        <td>
                            <span class="common-button ajax-status" >
                                {switch name="vo.status"}
                                {case value="1"}<span class="sta_bl">活动</span>{/case}
                                {case value="2"}<span class="sta_er">待审</span>{/case}
                                {default/}<span class="sta_er">锁定</span>
                                {/switch}
                            </span>
                        </td>
                        <td>
                            <a href="javascript:;" class="data-activation" style="padding-right:10px;" statuscls='ajax-status' data='{"pid":"{$vo.pid}","status":"1"}' durl="/home/business/planActive">审核</a>
                            <a href="javascript:;" class="data-lock "  style="padding-right:10px;" statuscls='ajax-status' data='{"pid":"{$vo.pid}","status":"0"}' durl="/home/business/planActive" >锁定</a>
                            <a href="/home/advertiser/planEdit?pid={$vo.pid}" target="_blank">编辑</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
                {$data.page}
            </div>
        </div>
    </div>
{/block}

{block name="js"}

{/block}
