{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
        <div id="repo_data" class="tb_sts" style="position:absolute; top:110px; right:30px;"></div>
        <h3 class="heading">城市池管理</h3>
        <div class="dataTables-wrapper">
            <div class="tb-lis users_lis">
                <a href="/tackjs/tackjs/addcitypool"><i class="fa fa-plus-circle"> 新增城市
                </i></a>
                <div class="tb_sts">
                    <form  action="/tackjs/tackjs/citypoollist" name="tack" method="post">
                        搜索：
                        <input class="input-text input1" name="search" value="{$pageParam.search|default=''}" type="text" style="width:160px">
                        <select name="select">
                            <option value="city_name" {if condition="$pageParam.select eq 'city_name'"} selected {/if}>城市名称</option>
                            <option value="id" {if condition="$pageParam.select eq 'id'"} selected {/if}>ID</option>
                        </select>
                        <button type="input" style="width:100px"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <table class="dataTable table-hover" name="users-list" >
            <tr role="row">
                <th rowspan="1" colspan="1" style="width:13px;"><input class="checkedAll" id="" name="site" type="checkbox" data-name="name-data"></th>
                <th>ID</th>
                <th>城市名称</th>
                <th>城市</th>
                <th>操作</th>
            </tr>
            {volist name="res" id="vo"}
            <tr class="unread">
                <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="site" type="checkbox" data-name="name-data"></td>
                <td>{$vo.id}</td>
                <td style="word-break:break-all;max-width: 350px;"><a href="">{$vo.city_name}</a></td>
                <td style="word-break:break-all;max-width: 350px;">{$vo.city}</td>
                <td>
                    <a href="/tackjs/tackjs/editcitypool?id={$vo.id}">编辑</a>
                </td>
            </tr>
            {/volist}
        </table>
        <div class="row">
            {$page}
        </div>
    </div>
</div>

<!-- end wrapper -->
{/block}

{block name="js"}
<script type="text/javascript">
</script>
{/block}