{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div class="main_nav">
        <div class="mn_left"></div>
        <div class="mn_right">
            <div class="mn_mt">
                <ul>
                    <li><a href="/tackjs/tackjs/citypoollist">返回列表</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h3 class="heading">编辑城市池城市</h3>
        <form class="" action="/tackjs/tackjs/editcitypool" method="post" name="addform">
            <div class="control-group formSep st">
                <label class="control-label">城市名称</label>
                <div class="controls">
                    <input class="input-text input1 required" name="city_name" type="text" value="{$res.city_name}"><span class="erro">输入城市名称</span>
                </div>
            </div>
            <div class="control-group control-padding">
                <label class="control-label">选择地域</label>
                <div class="controls control-input">
                    <div class="t-show-hide" style="display:block;height: 300px">
                        <div style="margin-top:5px; margin-left:-5px;">
                            <script src="__JS__/plan.js"></script>
                            <script language="JavaScript">
                                var _province = "{$res['city_province']}";
                                var _city = "{$res['city']}";
                                var _c = acity();
                                document.write(_c);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            <input class="input-text input1" name="id" type="hidden" value="{$res.id}">
            <div><button class="btn btn-primary" type="submit" style="margin-top: -300px; margin-left: 200px">提交</button></div>
        </form>
    </div>
</div>

{/block}

<!-- end wrapper -->

{block name="js"}
<script src="__JS__/plan.js"></script>
<script src="__JS__/plan_add.js"></script>
<script src="__JS__/submit.js"></script>
<script>
    $(function () {
        //为空验证判断
        $("form").submit(function () {
            var flag = true;
            $(".required").each(function () {
                if ($(this).val() == "") {
                    $(this).next().css("display", "inline");
                    $(this).focus();
                    $("html,body").animate({scrollTop: 0}, 0);
                    flag = false;
                }
            })
            if (!flag) {
                return false;
            }
        })
        //keyup事件
        $(".required").keyup(function () {
            var value = $(this).val();
            if (value != "") {
                $(this).next().css("display", "none");
                return true;
            } else {
                $(this).next().css("display", "inline");
                return false;
            }
        })
    })



    $(".hour").click(function(){
        if ($(this).children().children().prop("checked")==true) { // 全选
            $(this).siblings().find('input').prop("checked",true);
        } else { // 取消全选
            $(this).siblings().find('input').prop("checked",false);
        }
    })


</script>
{/block}