{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
         <div id="repo_data" class="tb_sts" style="position:absolute; top:110px; right:30px;">

         </div>
        <h3 class="heading">js链接屏蔽管理</h3>
        <div class="dataTables-wrapper">
            <div class="tb-lis users_lis">
                <a href="/tackjs/tackjs/addJsLimit"><i class="fa fa-plus-circle"> 新增js链接屏蔽
                </i></a>
                <div class="tb_sts">
                   <form  action="/tackjs/tackjs/jslimitlist" name="adzone" method="post">
                        搜索：
                        <input class="input-text input1" name="search" value="{$params.search|default=''}" type="text" style="width:160px">
                        <select name="select">
                            <option value="js_name" {if condition="$params.select eq 'js_name'"} selected {/if}>js链接名称</option>
                            <option value="limit_id" {if condition="$params.select eq 'limit_id'"} selected {/if}>屏蔽的ID</option>
                            <option value="id" {if condition="$params.select eq 'id'"} selected {/if}>js链接ID</option>
                        </select>
                       <button type="input" style="width:100px"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
            <table class="dataTable table-hover" name="users-list" >
                <tr role="row">
                    <th rowspan="1" colspan="1" style="width:13px;"><input class="checkedAll" id="" name="site" type="checkbox" data-name="name-data"></th>
                    <th>屏蔽ID</th>
                    <th>js链接名称</th>
                    <th>屏蔽站长id</th>
                    <th>屏蔽广告位id</th>
                    <th>屏蔽省份</th>
                    <th>屏蔽城市</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                {volist name="res" id="vo"}
                <tr class="unread">
                    <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="site" type="checkbox" data-name="name-data"></td>
                    <td>{$vo.zid}</td>
                    <td><a href="/tackjs/tackjs/tacklist?id={$vo.id}">{$vo.js_name}</a></td>
                    <td>{$vo.uid}</td>
                    <td>{$vo.adz_id}</td>
                    <td style="word-break:break-all;max-width: 260px;">{$vo.city_province}</td>
                    <td style="word-break:break-all;max-width: 360px;">{$vo.city_data}</td>
                    <td>                        
                        <span class="common-button ajax-status">
                            {switch name="$vo.status" }
                                {case value="0"}<span class="sta_er">锁定</span>{/case}
                                {case value="1"}<span class="sta_bl">活动</span>{/case}
                            {/switch}
                        </span>
                    </td>
                    <td> 
                        <a href="javascript:;"  class="data-lock"  data='{"zid":"{$vo.zid}","status":"0"}' durl='/tackjs/tackjs/limitStatus' statuscls='ajax-status'>锁定</a>
                        <a href="javascript:;"  class="data-activation"  data='{"zid":"{$vo.zid}","status":"1"}' durl='/tackjs/tackjs/limitStatus' statuscls='ajax-status'>激活</a>
                        <a href="/tackjs/tackjs/limitEdit?zid={$vo.zid}">编辑</a>
                        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="javascript:;" class="ajax-del" data='{"zid":{$vo.zid}}' durl="/tackjs/tackjs/delete">删除</a>
                    </td>
                </tr>
                {/volist}
            </table>
            <div class="row">
            {$page}
            </div>
        </div>
    </div>
</div>

<!-- end wrapper -->
{/block}

{block name="js"}
<script type="text/javascript">
</script>
{/block}