{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div class="main_nav">
        <div class="mn_left"></div>
        <div class="mn_right">
            <div class="mn_mt">
                <ul>
                    <li><a href="/tackjs/tackjs/tacklist">返回列表</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h3 class="heading">编辑链接屏蔽</h3>
        <form class="" action="/tackjs/tackjs/limitEdit" method="post" name="addform">
            <div class="control-group control-padding">
                <label class="control-label">js链接名称</label>
                <div class="controls">
                    <select name="js_name" class="required onesel">
                        <option value="{$res.js_name}">{$res.js_name}</option>
                    </select>
                    <span class="erro"></span>
                </div>
            </div>
            <input type="hidden" name="id" value="{$res.id}">
            <input type="hidden" name="zid" value="{$res.zid}">
            <div class="control-group formSep">
                <label class="control-label" for="">链接屏蔽ID</label>
                <div class="controls control-input">
                    <input type="radio" name="radio_id" value="0" {if condition="$res.radio_id eq '0'"} checked {/if}>站长id
                    <input type="radio" name="radio_id" value="1" {if condition="$res.radio_id eq '1'"} checked {/if}>广告位id
                </div>
            </div>
             <div class="control-group formSep st">
                <label class="control-label">ID</label>
                <div class="controls">
                    <input class="input-text input1 required" name="limit_id" type="text" value="{$res.limit_id}"><span class="erro">输入需要屏蔽的站长或者广告位ID</span>
                </div>
            </div>

            <div class="pl-tab">
            <div class="control-group control-padding">
                <label class="control-label">屏蔽地域</label>
                <div class="controls control-input">
                    选择地域
                    <div class="t-show-hide"">
                        <div style="margin-top:10px;">
                        </div>
                        <div style="margin-top:10px; margin-left:-50px;">
                            <script src="__JS__/plan.js"></script>
                            <script language="JavaScript">
                                var _province = "{$check['city_province']}";
                                var _city = "{$check['city_data']}";
                                var _c = acity();
                                document.write(_c);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            <div class="control-group formSep">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

{/block}

<!-- end wrapper -->

{block name="js"}
<script src="__JS__/plan.js"></script>
<script src="__JS__/plan_add.js"></script>
<script src="__JS__/submit.js"></script>
<script>

</script>
{/block}