{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div class="main_nav">
        <div class="mn_left"></div>
        <div class="mn_right">
            <div class="mn_mt">
                <ul>
                    <li><a href="/tackjs/tackjs/jumppoollist">返回列表</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h3 class="heading">编辑跳转链接信息</h3>
        <form class="" action="/tackjs/tackjs/editjumppool" method="post" name="addform">
            <div class="control-group formSep st">
                <label class="control-label">链接名称</label>
                <div class="controls">
                    <input class="input-text input1 required" name="url_name" type="text" value="{$res.url_name}"><span class="erro">输入链接名称</span>
                </div>
            </div>
            <div class="control-group formSep st">
                <label class="control-label">链接URL</label>
                <div class="controls">
                    <input class="input-text input1 required" name="url" type="text" value="{$res.url}"><span class="erro">输入链接URL</span>
                </div>
            </div>
            <input class="input-text input1" name="id" type="hidden" value="{$res.id}">
            <div class="control-group formSep">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

{/block}

<!-- end wrapper -->

{block name="js"}
<script src="__JS__/plan.js"></script>
<script src="__JS__/plan_add.js"></script>
<script src="__JS__/submit.js"></script>
<script>

</script>
{/block}