{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div class="main_nav">
        <div class="mn_left"></div>
        <div class="mn_right">
            <div class="mn_mt">
                <ul>
                    <li><a href="/tackjs/tackjs/jumppoollist">返回列表</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h3 class="heading">新增跳转链接信息</h3>
        <form class="" action="/tackjs/tackjs/addjumppool" method="post" name="addform">
            <div class="control-group formSep st">
                <label class="control-label">链接名称</label>
                <div class="controls">
                    <input class="input-text input1 required" name="url_name" type="text"><span class="erro">输入链接名称</span>
                </div>
            </div>
            <div class="control-group formSep st">
                <label class="control-label">链接URL</label>
                <div class="controls">
                    <input class="input-text input1 required" name="url" type="text"><span class="erro">输入链接URL</span>
                </div>
            </div>
            <div class="control-group formSep">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}

<!-- end wrapper -->

{block name="js"}
<script>
    $(function () {
        //为空验证判断
        $("form").submit(function () {
            var flag = true;
            $(".required").each(function () {
                if ($(this).val() == "") {
                    $(this).next().css("display", "inline");
                    $(this).focus();
                    $("html,body").animate({scrollTop: 0}, 0);
                    flag = false;
                }
            })
            if (!flag) {
                return false;
            }
        })
        //keyup事件
        $(".required").keyup(function () {
            var value = $(this).val();
            if (value != "") {
                $(this).next().css("display", "none");
                return true;
            } else {
                $(this).next().css("display", "inline");
                return false;
            }
        })
    })
</script>
{/block}