{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
         <div id="repo_data" class="tb_sts" style="position:absolute; top:110px; right:30px;">
             <a href="/tackjs/tackjs/point?status=all&search={$pageParam.search | default=''}&select={$pageParam.select | default=''}"  {if condition="$pageParam.status eq 'all'"} class="repo_data"   {/if} >全部</a>
             <a href="/tackjs/tackjs/point?status=0&search={$pageParam.search | default=''}&select={$pageParam.select | default=''}" {if condition="$pageParam.status eq '0'"} class="repo_data" {/if} >锁定</a>
             <a href="/tackjs/tackjs/point?status=1&search={$pageParam.search | default=''}&select={$pageParam.select | default=''}" {if condition="$pageParam.status eq '1'"} class="repo_data" {/if}>激活</a>

         </div>
        <h3 class="heading">点弹落地页管理</h3>
        <p style="color: red">同一个广告位在同时间段，尽量不要出现两个点弹落地页</p>
        <div class="dataTables-wrapper">
            <div class="tb-lis users_lis">
                <a href="/tackjs/tackjs/pointAdd"><i class="fa fa-plus-circle"> 新增广告位点弹
                </i></a>
                <div class="tb_sts">
                   <form  action="/tackjs/tackjs/point" name="tack" method="post">
                        搜索：
                        <input class="input-text input1" name="search" value="{$pageParam.search|default=''}" type="text" style="width:160px">
                        <select name="select">
                            <option value="adz_id" {if condition="$pageParam.select eq 'adz_id'"} selected {/if}>广告位ID</option>
                            <option value="url" {if condition="$pageParam.select eq 'url'"} selected {/if}>落地页链接</option>
                        </select>
                       <button type="input" style="width:100px"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
            <table class="dataTable table-hover" name="users-list" >
                <tr role="row">
                    <th>广告位ID</th>
                    <th>落地页名称</th>
                    <th>落地页地址</th>
                    <th>点弹次数</th>
                    <th>地域限制</th>
                    <th>限制类型</th>
                    <th>限制城市</th>
                    <th>时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                {volist name="res" id="vo"}
                <tr class="unread">
                    <td>{$vo.adz_id}</td>
                    <td>{$vo.url_name}</td>
                    <td style="word-break:break-all;max-width: 350px;">{$vo.url}</td>
                    <td>{$vo.num}</td>
                    {if condition="$vo.city_isacl eq 0"}
                        <td style="word-break:break-all;max-width: 350px;">不限</td>
                        <td style="word-break:break-all;max-width: 350px;">/</td>
                        <td style="word-break:break-all;max-width: 350px;">/</td>
                    {else/}
                        <td style="word-break:break-all;max-width: 350px;">限制</td>
                        {if condition="$vo.comparison eq 1"}
                            <td style="word-break:break-all;max-width: 350px;">允许</td>
                        {else/}
                            <td style="word-break:break-all;max-width: 350px;">拒绝</td>
                        {/if}
                        <td style="word-break:break-all;max-width: 350px;">{$vo.city}</td>
                    {/if}
                    <td style="word-break:break-all;max-width: 350px;">{$vo.hour}</td>
                    <td>                        
                        <span class="common-button ajax-status">
                            {switch name="$vo.status" }
                                {case value="0"}<span class="sta_er">锁定</span>{/case}
                                {case value="1"}<span class="sta_bl">活动</span>{/case}
                            {/switch}
                        </span>
                    </td>
                    <td> 
                        <a href="javascript:;"  class="data-lock"  data='{"id":"{$vo.id}","status":"0"}' durl='/tackjs/tackjs/pointStatus' statuscls='ajax-status'>锁定</a>
                        <a href="javascript:;"  class="data-activation"  data='{"id":"{$vo.id}","status":"1"}' durl='/tackjs/tackjs/pointStatus' statuscls='ajax-status'>激活</a>
                        <a href="/tackjs/tackjs/pointEdit?id={$vo.id}">编辑</a>
                        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="javascript:;" class="ajax-del" data='{"id":{$vo.id}}' durl="/tackjs/tackjs/deletePonit">删除</a>
                    </td>
                </tr>
                {/volist}
            </table>
            <div class="row">
                {$page}
            </div>
        </div>
    </div>
</div>

<!-- end wrapper -->
{/block}

{block name="js"}
<script type="text/javascript">
</script>
{/block}