{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div class="main_nav">
        <div class="mn_left"></div>
        <div class="mn_right">
            <div class="mn_mt">
                <ul>
                    <li><a href="/tackjs/tackjs/point">返回列表</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h3 class="heading">新增广告位落地页</h3>
        <form class="" action="/tackjs/tackjs/pointEdit" method="post" name="addform">
            <div class="control-group formSep st">
                <label class="control-label">广告位ID</label>
                <div class="controls">
                    <input class="input-text input1 required" name="adz_id" type="text" value="{$res.adz_id}"><span class="erro">输入广告位ID</span>
                </div>
            </div>
            <div class="control-group formSep st">
                <label class="control-label">落地页名称</label>
                <div class="controls">
                    <input class="input-text input1 required" name="url_name" type="text" value="{$res.url_name}"><span class="erro">输入落地页名称</span>
                </div>
            </div>
            <div class="control-group formSep st">
                <label class="control-label">落地页url</label>
                <div class="controls">
                    <input class="input-text input1 required" name="url" type="text" value="{$res.url}"><span class="erro">输入落地页url</span>
                </div>
            </div>
            <div class="control-group formSep st">
                <label class="control-label">点弹次数</label>
                <div class="controls">
                    <input class="input-text input1 required" name="num" type="text" value="{$res.num}"><span class="erro">输入点弹次数</span>  若需要无限点弹，将次数设置成大于等于100的数字
                </div>
            </div>


            <div class="control-group control-padding">
                <label class="control-label">投放地域</label>
                <div class="controls control-input" id="gion">
                    <input name="city_isacl" value="0" {if condition="$res['city_isacl'] eq '0'" } checked {/if} type="radio" directional="directional">不限
                    <input name="city_isacl" value="1"{if condition="$res['city_isacl'] eq '1'" } checked {/if} type="radio" directional="directional">
                    选择地域
                    <div class="t-show-hide" style="display:none;">
                        <div style="margin-top:10px;">
                            <input name="comparison" value="1" {if condition="$res['comparison'] eq '1'" } checked {/if} checked="" type="radio">允许
                            <input name="comparison" value="0" {if condition="$res['comparison'] eq '0'" } checked {/if}  type="radio">拒绝
                            <label for="main_checked" style="margin-left:100px;font-size: 14px;"><input type="checkbox" id="main_checked" class="main_checked" style="float: left;margin-top: 4px;margin-right: 2px;">选择主要城市</label>
                        </div>
                        <div style="margin-top:10px; margin-left:-50px;">
                            <script src="__JS__/plan.js"></script>
                            <script language="JavaScript">
                                var _province = "{$res['city_province']}";
                                var _city = "{$res['city']}";
                                var _c = acity();
                                document.write(_c);
                            </script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-group control-padding">
                <label class="control-label" style="margin-top:13px;">小时选择</label>
                <div class="controls control-input">
                    <ol class="schedule-list" style="display:block; margin-top:20px;">
                        <li>
                            <ol class="schedule sch7">
                                <li class="hour">
                                    <label><input  class="weekdata7" name="hour" style="margin-left: -7px;" type="checkbox">全选</label>
                                </li>
                                {volist name="hour" id="vo"}
                                <li><label for=""><input type="checkbox" name="hour[]" value="{$vo}"  {if  condition=" !empty($res.hour_data) && in_array($vo,$res.hour_data)" } checked="checked" {/if} ></label><br>{$vo}</li>
                                {/volist}
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
            <input class="input-text input1" name="id" type="hidden" value="{$res.id}">

    <div class="control-group formSep">
        <div class="controls">
            <button class="btn btn-primary" type="submit">提交</button>
        </div>
    </div>
</form>
</div>
</div>

{/block}

<!-- end wrapper -->

{block name="js"}
<script src="__JS__/plan.js"></script>
<script src="__JS__/plan_add.js"></script>
<script src="__JS__/submit.js"></script>
<script>
    $(function () {
        //为空验证判断
        $("form").submit(function () {
            var flag = true;
            $(".required").each(function () {
                if ($(this).val() == "") {
                    $(this).next().css("display", "inline");
                    $(this).focus();
                    $("html,body").animate({scrollTop: 0}, 0);
                    flag = false;
                }
            })
            if (!flag) {
                return false;
            }
        })
        //keyup事件
        $(".required").keyup(function () {
            var value = $(this).val();
            if (value != "") {
                $(this).next().css("display", "none");
                return true;
            } else {
                $(this).next().css("display", "inline");
                return false;
            }
        })
    })
    //投放地域
    $('#gion > input').each(function(){
        if($(this).val() == '1' && $(this).is(":checked")){
            $('.t-show-hide').css('display','block');
        }
    })


    $(".hour").click(function(){
        if ($(this).children().children().prop("checked")==true) { // 全选
            $(this).siblings().find('input').prop("checked",true);
        } else { // 取消全选
            $(this).siblings().find('input').prop("checked",false);
        }
    })

</script>
{/block}