{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div class="main_nav">
        <div class="mn_left"></div>
        <div class="mn_right">
            <div class="mn_mt">
                <ul>
                    <li><a href="/tackjs/tackjs/tacklist">返回列表</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h3 class="heading">编辑链接</h3>
        <form class="" action="/tackjs/tackjs/editTackJs" method="post" name="addform">
            <div class="control-group formSep st">
                <label class="control-label">js链接名称</label>
                <div class="controls">
                    <input class="input-text input1 required" name="js_name" type="text" value="{$one.js_name}"><span class="erro">输入链接名称</span>
                </div>
            </div>
            <div class="control-group formSep st">
                <label class="control-label">投放机型端口</label>
                <div class="controls">
                    <input class="" name="port" type="radio" value="0" {if condition="$one.port eq 0 "} checked {/if}>不限
                    <input class="" name="port" type="radio" value="1" {if condition="$one.port eq 1 "} checked {/if}>Ios
                    <input class="" name="port" type="radio" value="2" {if condition="$one.port eq 2 "} checked {/if}>Android
                </div>
            </div>
            <input type="hidden" name="id" value="{$one.id}">
            <div>
            <div class="control-group control-padding z-show-hide">
                <label class="control-label">js加密url</label>
                <div class="controls">
                    <textarea name="js_url" class="input-text input1" style="width:600px; height:150px">{$one.js_url}</textarea><span>* 由研发部编辑修改,输入的js发送链接必须加密,直接将加密的链接填写在框中,并且在加密的链接前、后加上英文的‘;’</span>
                </div>
            </div>
            <div class="control-group control-padding z-show-hide">
                <label class="control-label">不发送js站长</label>
                <div class="controls">
                    <textarea name="resuid" class="input-text input1">{$checkjs.resuid}</textarea><span>多ID限制格式,以“,”逗号隔开(特别注意：英文状态)</span>
                </div>
            </div>

            <div class="control-group control-padding z-show-hide">
                <label class="control-label">不发送js广告位</label>
                <div class="controls">
                    <textarea name="resadzid" class="input-text input1">{$checkjs.resadzid}</textarea><span>多ID限制格式,以“,”逗号隔开(特别注意：英文状态)</span>
                </div>
            </div>
            <div class="control-group control-padding z-show-hide">
                <label class="control-label">不发送js地域</label>
                <div class="controls">
                    <textarea name="resarea" class="input-text input1">{$checkjs.resarea}</textarea><span>多地域限制格式,以“,”逗号隔开(特别注意：英文状态)
                    若屏蔽省，则该省下所有的城市全部屏蔽，若屏蔽城市请直接填写城市名
                    <span style="color: red;">
                    例如： 北京,成都,西安</span></span>
                </div>
            </div>
            
            
               <div class="control-group control-padding">
                <label class="control-label" style="margin-top:13px;">小时选择</label>
                <div class="controls control-input">
                    <ol class="schedule-list" style="display:block; margin-top:20px;">
                        <li>
                            <ol class="schedule sch7">
                                <li class="hour">
                                    <label><input  class="weekdata7" style="margin-left: -7px;" type="checkbox">全选</label>
                                </li>

                                 {volist name="hour" id="vo"}
                                <li><label for=""><input type="checkbox" name="hour[]" value="{$vo}"  {if  condition=" !empty($s_hour) && in_array($vo,$s_hour)" } checked="checked" {/if} ></label><br>{$vo}</li>
                                {/volist}
                                <li><span style="color: red;">选择的时间段发送</span></li>
                            </ol>

                        </li>
                    </ol>
                </div>
            </div>
            
            
            <div class="control-group formSep">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

{/block}

{block name="js"}
<script>
    $(".hour").click(function(){
        if ($(this).children().children().prop("checked")==true) { // 全选
            $(this).siblings().find('input').prop("checked",true);
        } else { // 取消全选
            $(this).siblings().find('input').prop("checked",false);
        }
    })
</script>
{/block}