{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
         <div id="repo_data" class="tb_sts" style="position:absolute; top:110px; right:30px;">

         </div>
        <h3 class="heading">js链接管理</h3>
        <div class="dataTables-wrapper">
            <div class="tb-lis users_lis">
                <a href="/tackjs/tackjs/addTackJs"><i class="fa fa-plus-circle"> 新增js链接
                </i></a>
                <div class="tb_sts">
                   <form  action="/tackjs/tackjs/tacklist" name="tack" method="post">
                        搜索：
                        <input class="input-text input1" name="search" value="{$pageParam.search|default=''}" type="text" style="width:160px">
                        <select name="select">
                            <option value="js_name" {if condition="$pageParam.select eq 'js_name'"} selected {/if}>js链接名称</option>
                            <option value="id" {if condition="$pageParam.select eq 'id'"} selected {/if}>js链接ID</option>
                        </select>
                       <button type="input" style="width:100px"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
            <table class="dataTable table-hover" name="users-list" >
                <tr role="row">
                    <th rowspan="1" colspan="1" style="width:13px;"><input class="checkedAll" id="" name="site" type="checkbox" data-name="name-data"></th>
                    <th>ID</th>
                    <th>js链接名称</th>
                    <th>投放端口</th>
                    <th>不发送站长</th>
                    <th>不发送广告位</th>
                    <th>不发送地域</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                {volist name="res" id="vo"}
                <tr class="unread">
                    <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="site" type="checkbox" data-name="name-data"></td>
                    <td>{$vo.id}</td>
                    <td><a class="detailed_info">{$vo.js_name}</a></td>
                    <td>
                        {switch name="vo.port"}
                        {case value="0"}<span>不限</span>{/case}
                        {case value="1"}<span>Ios</span>{/case}
                        {case value="2"}<span>Android</span>{/case}
                        {/switch}
                    </td>
                    <td style="word-break:break-all;max-width: 350px;">{$vo.resuid}</td>
                    <td style="word-break:break-all;max-width: 350px;">{$vo.resadzid}</td>
                    <td style="word-break:break-all;max-width: 350px;">{$vo.resarea}</td>
                    <td>                        
                        <span class="common-button ajax-status">
                            {switch name="$vo.status" }
                                {case value="0"}<span class="sta_er">锁定</span>{/case}
                                {case value="1"}<span class="sta_bl">活动</span>{/case}
                            {/switch}
                        </span>
                    </td>
                    <td> 
                        <a href="javascript:;"  class="data-lock"  data='{"id":"{$vo.id}","status":"0"}' durl='/tackjs/tackjs/tackStatus' statuscls='ajax-status'>锁定</a>
                        <a href="javascript:;"  class="data-activation"  data='{"id":"{$vo.id}","status":"1"}' durl='/tackjs/tackjs/tackStatus' statuscls='ajax-status'>激活</a>
                        <a href="/tackjs/tackjs/editTackJs?id={$vo.id}">编辑</a>
                        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="javascript:;" class="ajax-del" data='{"id":{$vo.id}}' durl="/tackjs/tackjs/deleteJs">删除</a>
                    </td>
                </tr>
                <tr class="u_info">
                    <td colspan="103">
                        <table class="tab_info" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td height="30">
                                    <strong>基本信息</strong>
                                    <span class="span7" style="padding-left:20px;">
                                        <a href="/tackjs/tackjs/addJsLimit?id={$vo.id}">新建屏蔽</a>
                                        <a href="/tackjs/tackjs/jslimitlist?id={$vo.id}">查看屏蔽详情</a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </table>
                    </td>
                </tr>
                {/volist}
            </table>
            <div class="row">
            {$page}
            </div>
        </div>
    </div>
</div>

<!-- end wrapper -->
{/block}

{block name="js"}
<script type="text/javascript">
</script>
{/block}