{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div class="main_nav">
        <div class="mn_left"></div>
        <div class="mn_right">
            <div class="mn_mt">
                <ul>
                    <li><a href="/tackjs/tackjs/tacklist">返回列表</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h3 class="heading">新增js链接</h3>
        <form class="" action="/tackjs/tackjs/addTackJs" method="post" name="addform">
            <div class="control-group formSep st">
                <label class="control-label">js链接名称</label>
                <div class="controls">
                    <input class="input-text input1 required" name="js_name" type="text"><span class="erro">输入链接名称</span>
                </div>
            </div>
            <div class="control-group formSep st">
                <label class="control-label">投放机型端口</label>
                <div class="controls">
                    <input class="" name="port" type="radio" value="0" checked="checked">不限
                    <input class="" name="port" type="radio" value="1">Ios
                    <input class="" name="port" type="radio" value="2">Android
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">js链接密文</label>
                <div class="controls">
                    <textarea class="input-text" name="js_url"  style="width:600px; height:200px"></textarea><span>输入的js发送链接必须加密,直接将加密的链接填写在框中,并且在加密的链接前、后加上英文的‘;’</span>
                </span><span class="erro">输入js链接密文</span>
        </div>
    </div>


    <div class="control-group formSep">
        <div class="controls">
            <button class="btn btn-primary" type="submit">提交</button>
        </div>
    </div>
</form>
</div>
</div>

{/block}

<!-- end wrapper -->

{block name="js"}
<script>
    $(function () {
        //为空验证判断
        $("form").submit(function () {
            var flag = true;
            $(".required").each(function () {
                if ($(this).val() == "") {
                    $(this).next().css("display", "inline");
                    $(this).focus();
                    $("html,body").animate({scrollTop: 0}, 0);
                    flag = false;
                }
            })
            if (!flag) {
                return false;
            }
        })
        //keyup事件
        $(".required").keyup(function () {
            var value = $(this).val();
            if (value != "") {
                $(this).next().css("display", "none");
                return true;
            } else {
                $(this).next().css("display", "inline");
                return false;
            }
        })
    })
</script>
{/block}