{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
        <h3 class="heading">新建单价</h3>
            <form action="" method="post" id="formId">
                <div class="control-group control-padding">
                    <label class="control-label">选择单价模板</label>
                    <div class="controls">
                        <select id="template_name" name="template_name" >
                            {volist name="typename" id="vo"}
                            <option value="{$vo.template_name}">{$vo.template_name}</option>
                            {/volist}
                        </select>
                        <span class="erro"></span>
                    </div>
                </div>
                <div class="control-group control-padding">
                        <label class="control-label">类型和尺寸</label>
                        <div class="controls">
                            <select id="get_price" name="price_name" >
                                {volist name="one" id="vo"}
                                <option value="{$vo.tplname},{$vo.size},{$vo.tpl_id}">{$vo.name}</option>
                                {/volist}
                            </select>
                             <span class="erro"></span>
                        </div>
                </div>
                    <div class="control-group control-padding">
                        <label class="control-label">广告商单价</label>
                        <div class="controls">
                            <input class="input-text input1 mon-input" name="pricedv" value="" type="text"><span>元</span>
                        </div>
                    </div>

                    <div class="control-group control-padding">
                        <label class="control-label">站长单价分级</label>
                        <div class="controls adzone_month">
                            <input type="radio" name="gradation" value="0" checked="checked">不分等级
                            <input type="radio" name="gradation" value="1">分网站等级
                        </div>
                    </div>
                    <div id="ad_lists" class="control-group control-padding">
                        <label class="control-label">站长单价</label>
                        <div class="controls">
                            <input class="input-text input1 money-input" name="price" value="" type="text"><span class="erro">站长单价必须小于广告商单价</span><span>元</span>
                        </div>
                    </div>
                    <div class="control-group control-padding adzone_list">
                        <label class="control-label">站长分级单价</label>
                        <div class="controls">
                            1星级&nbsp;&nbsp;<input class="input-text input1 money-input-1 " name="price_1" value="" type="text"><span class="erro">站长单价必须小于广告商单价</span><span>元</span>
                        </div>
                        <div class="controls" style="margin-top:20px;">
                            2星级&nbsp;&nbsp;<input class="input-text input1 money-input-2 " name="price_2" value="" type="text"><span class="erro">站长单价必须小于广告商单价</span><span>元</span>
                        </div>
                        <div class="controls" style="margin-top:20px;">
                            3星级&nbsp;&nbsp;<input class="input-text input1 money-input-3 " name="price_3" value="" type="text"><span class="erro">站长单价必须小于广告商单价</span><span>元</span>
                        </div>
                        <div class="controls" style="margin-top:20px;">
                            4星级&nbsp;&nbsp;<input class="input-text input1 money-input-4 " name="price_4" value="" type="text"><span class="erro">站长单价必须小于广告商单价</span><span>元</span>
                        </div>
                        <div class="controls" style="margin-top:20px;">
                            5星级&nbsp;&nbsp;<input class="input-text input1 money-input-5 " name="price_5" value="" type="text"><span class="erro">站长单价必须小于广告商单价</span><span>元</span>
                        </div>
                    </div>
                    <div class="control-group control-padding" style="margin-top:10px;">
                        <div class="controls">
                            <input class="btn btn-primary" type="submit" value="提交">
                        </div>
                    </div>
            </form>
    </div>
</div>

<!-- end wrapper -->

{/block}
{block name="js"}
<script type="text/javascript">
    $('#formId').submit(function(){
        //点击按钮提交
        var href = '/admin/plan/addprice?pid={$pid}';
        var data = $("#formId").serialize();
        $.post(href,data,success);
        function success(data) {
            if (data.status == 1) {
                window.location.href='/admin/plan/planprice/pid/'+data.data;
            } else {
                layer.msg(data.info, {icon: 1});
                setTimeout(function(){},2000);
                return false;
            }
        }
        return false;
    });
    $(function(){
        //显示隐藏
        $('.adzone_month input').change(function(){
            var val = $(this).val();
            if(val == '0'){
                $('.adzone_list').css('display','none');
                $('#ad_lists').css('display','block');
                $('#ad_lists input').addClass('money-input required');
            }else if(val == '1'){
                $('.adzone_list').css('display','block');
                $('#ad_lists input').removeClass('money-input required');
                $('#ad_lists').css('display','none');
                $('#ad_lists input').val('');
            }
        })
        window.onload = function(){
            $('.adzone_list').css('display','none');
            $('#ad_lists').css('display','block');
            $('#ad_lists input').addClass('money-input required');
            var template_name = $("#template_name option:checked").val();
            //ajax请求价格模板
            var href = '/admin/plan/getPrice?template_name='+template_name;
            var params = {
                price_id:$('#get_price').val()
            };
            $.post(href,params,success);
            function success(data) {
                if (data.status == 1) {
                    console.log(data.data.pricedv);
                    $(".mon-input").val(data.data.pricedv);
                    $(".money-input").val(data.data.price);
                    $(".money-input-1").val(data.data.price_1);
                    $(".money-input-2").val(data.data.price_2);
                    $(".money-input-3").val(data.data.price_3);
                    $(".money-input-4").val(data.data.price_4);
                    $(".money-input-5").val(data.data.price_5);
                } else {
                    console.log('----0');
                }
            }
        }
    })

    //选择模板时刷新页面
    $('#template_name').on('change',function(){
        var template_name = $("#template_name option:checked").val();
        var href = '/admin/plan/getPrice?template_name='+template_name;
        var params = {
            price_id:$('#get_price').val()
        };
        $.post(href,params,success);
        function success(data) {
            if (data.status == 1) {
                $(".mon-input").val(data.data.pricedv);
                $(".money-input").val(data.data.price);
                $(".money-input-1").val(data.data.price_1);
                $(".money-input-2").val(data.data.price_2);
                $(".money-input-3").val(data.data.price_3);
                $(".money-input-4").val(data.data.price_4);
                $(".money-input-5").val(data.data.price_5);
            } else {
                console.log('----0');
            }
        }
    })

    //ajax请求价格默认模板
    $('#get_price').on('change',function(){
        var template_name = $("#template_name option:checked").val();
        var href = '/admin/plan/getPrice?template_name='+template_name;
        var params = {
            price_id:$('#get_price').val()
        };
        $.post(href,params,success);
        function success(data) {
            if (data.status == 1) {
                $(".mon-input").val(data.data.pricedv);
                $(".money-input").val(data.data.price);
                $(".money-input-1").val(data.data.price_1);
                $(".money-input-2").val(data.data.price_2);
                $(".money-input-3").val(data.data.price_3);
                $(".money-input-4").val(data.data.price_4);
                $(".money-input-5").val(data.data.price_5);
            } else {
                console.log('----0');
            }
        }
    })

</script>
{/block}