{extend name="public:base" /}
<!--{block name="js"}-->
<!--<script>-->
    <!--$(function (){-->
        <!--$('#fen').click(function(){-->
            <!--$('#type').val($('#fen').val());-->
        <!--})-->
    <!--})-->
<!--</script>-->
<!--{/block}-->
{block name="main"}

<div class="wrapper">
    <div class="main_nav">
        <div class="mn_left"></div>
        <div class="mn_right">
            <div class="mn_mt">
                <ul>
                    <li><a href="">返回列表</a></li>
                    <li><a href="">修改分类</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h3 class="heading">修改计划分类</h3>
        <form action="/admin/plan/planclassedit/class/{$classid}" name="addform" method="post">
            <div class="control-group formSep st">
                <label class="control-label" for="">类型</label>
                <div class="controls">
                    <select  name="type">
                        <option value="2">计划分类</option>
                    </select>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label" for="">分类名称</label>
                <div class="controls">
                    <input class="input1 input-text required" name="class_name" value="{$plan_res['class_name']}" type="text"> <span class="erro">请输入分类名称</span>
                </div>
            </div>
            <!--<input type="hidden" name="type" value="" id="type"/>-->
            <input type="hidden" name="classid" value="{$classid}"/>
            <div class="control-group formSep">
                <div class="controls">
                    <button class="btn btn-primary" type="submin">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- end wrapper -->
{/block}