{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
        <div id="repo_data" class="tb_sts" style="position:absolute; top:56px; right:30px;">
            <a href="/admin/plan/list">全部</a>
            <a href="/admin/plan/lock">锁定</a>
            <a href="/admin/plan/activity" class="payTab">活动</a>
            <a href="/admin/plan/pending">待审</a>
            <a href="/admin/plan/quota">超过限额</a>
        </div>
        <h3 class="heading">计划管理</h3>
        <div class="dataTables-wrapper">
            <div class="tb-lis">
                <a href="/admin/plan/add"><i class="fa fa-plus-circle"></i>新增计划</a>
                  <div class="dataTables-filter">
                        <form action="/admin/plan/activity" name="list" method="post">
                            <!--搜索：-->
                            <select name="plan">
                                <option value="plan_name" {if condition="$plan.plan eq 'plan_name'"} selected {/if}>计划名称</option>
                                <option value="pid" {if condition="$plan.plan eq 'pid'"} selected {/if}>计划ID</option>
                                <option value="uid" {if condition="$plan.plan eq 'uid'"} selected {/if}>广告商ID</option>
                                <option value="username" {if condition="$plan.plan eq 'username'"} selected {/if}>广告商名称</option>
                                <option value="plan_type" {if condition="$plan.plan eq 'plan_type'"} selected {/if}>计费模式</option>
                            </select>
                            <input class="input-text input1" name="search" value="{$plan.search|default=''}" type="text" style="width:230px">
                             <button type="input" style="width:60px"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
            </div>
            <!--批量操作，暂时隐藏，下一期进行开发-->
            <form action="/admin/plan/batchDel" name="deductionform" method="post">
                <div class="row">
                    <div class="plan6">
                        <div class="dataTables-length">
                            批量操作：
                            <a href="javascript:;"  ><button class="btn btn-primary" type="button" onclick="delLst();" style="padding:2px 12px;">删除</button></a>

                        </div>
                    </div>


                <!-- <div class="plan6">
                    <div class="dataTables-filter">
                        <from method="post"> -->
                            <!--搜索：-->
                            <!-- <select>
                                <option value="planname">计划名称</option>
                                <option value="planid">计划ID</option>
                                <option value="uid">广告商ID</option>
                            </select>
                            <input class="input-text input1" name="search" value="" type="text">
                            <span class="plan-search"><i class="fa fa-search"></i></span>
                        </from>
                    </div>
                </div> -->


                </div>
            <table class="dataTable table-hover" name="plan-list" >
                <tr role="row">
                    <th rowspan="1" colspan="1" style="width:13px;"><input id="" class="checkedAll" name="" type="checkbox" data-name="name-data"></th>
                    <th>ID</th>
                    <th>计划名称</th>
                    <th class="mobile">
                        <select name="mobile">
                            <option value="">投放设备</option>
                            <option value="2" {if condition="!empty($mobile)"} {if condition="$mobile eq '2'"}selected{/if} {/if}>IOS</option>
                            <option value="3" {if condition="!empty($mobile)"} {if condition="$mobile eq '3'"}selected{/if} {/if}>android</option>
                            <option value="4" {if condition="!empty($mobile)"} {if condition="$mobile eq '4'"}selected{/if} {/if}>微信</option>
                        </select>
                    </th>
                    <th>计费模式</th>
                    <th>计划权重</th>
                    <th>广告商</th>
                    <th>单价</th>

                    <th>限额</th>
                    <!--<th>结算</th>-->
                    <th>状态</th>
                    <th>操作</th>
                    <th>广告筛选器</th>
                </tr>
                {volist name="plan_list" id="vo"}
                <tr class="unread">
                    <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="id[]" value="{$vo.pid}" type="checkbox" data-name="name-data"></td>
                    <td>{$vo.pid}</td>
                    <td><a class="detailed_info">{$vo.plan_name}</a></td>
                    {if condition="$vo.run_terminal eq '4'"}<td>微信</td>
                    {else/}
                    <td>{$vo.checkplan|f_plan_mobile}</td>
                    {/if}
                    <td>{$vo.plan_type}</td>
                    <td><a href="javascript:;"  class="data-amount"  data='{"pid":"{$vo.pid}"}' durl='/admin/plan/changePriority'>{$vo.priority}</a></td>
                    <td>
                    {if condition="$vo.username neq '' "}
                    <a href="/admin/plan/planToUser/uid/{$vo.uid}/type/2" >{$vo.username}</a>
                    {else/}
                    {$vo.username|default='已删除'}
                    {/if}
                    </td>
                    <td><a href="/admin/plan/planprice/pid/{$vo.pid}">查看单价详情</a></td>
                    <td><a href="javascript:;"  class="data-amount"  data='{"pid":"{$vo.pid}"}' durl='/admin/plan/changeBudget'>{$vo.budget}</a></td>
                    <!--<td>
                        {switch name="$vo.clearing" }
                        {case value="month"}月结{/case}
                        {case value="week"}周结{/case}
                        {case value="day"}日结{/case}
                        {/switch}
                    </td>-->
                    <td>
                        <span class="common-button ajax-status" >
                            {switch name="vo.status" }
                                {case value="0"}<span class="sta_er">锁定</span>{/case}
                                {case value="1"}<span class="sta_bl">活动</span>{/case}
                                {case value="2"}<span class="sta_er">待审</span>{/case}
                                {case value="3"}<span class="sta_er">超限额</span>{/case}
                            {/switch}
                        </span>
                    </td>
                    <td>
                        {if condition="$vo.status eq 2 "}
                        锁定
                        {else/}
                        <a href="javascript:;" class="data-lock " statuscls='ajax-status' data='{"pid":"{$vo.pid}","status":"0","activate":"{$vo.status}"}' durl="/admin/plan/activate" >锁定</a>
                        {/if}
                        <a href="javascript:;" class="activation" statuscls='ajax-status' data='{"pid":"{$vo.pid}","status":"1","activate":"{$vo.status}"}' durl="/admin/plan/activate" >激活</a>
                        <a href="/admin/plan/edit?pid={$vo.pid}">编辑</a>
                        <a href="/admin/plan/addprice?pid={$vo.pid}">新建单价</a>
                        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="javascript:;" class="ajax-del" data='{"pid":"{$vo.pid}"}' durl='/admin/plan/dodel'>删除</a>
                    </td>
                    <td>
                         <span class="common-button ajax-adssel" >
                            {switch name="vo.ads_sel_status" }
                             {case value="0"}<span class="sta_er ads_sel_close" statuscls='ajax-adssel' data='{"pid":"{$vo.pid}","status":"1"}' durl="/admin/plan/adssel">关闭</span>{/case}
                             {case value="1"}<span class="sta_bl ads_sel_close" statuscls='ajax-adssel' data='{"pid":"{$vo.pid}","status":"0"}' durl="/admin/plan/adssel">打开</span>{/case}
                            {/switch}
                        </span>
                    </td>
                </tr>
            </form>
                <tr class="u_info">
                    <td colspan="103">
                        <table class="tab_info" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td height="30">
                                    <strong>基本信息</strong>
                                    <span class="span7" style="padding-left:20px;">
                                        <a href="/admin/ads/add?pid={$vo.pid}&plan_name={$vo.plan_name}&uid={$vo.uid}">新建广告</a>

                                        <a href="/admin/ads/batchUpImg?pid={$vo.pid}&plan_name={$vo.plan_name}&uid={$vo.uid}">新建批量广告</a>
                                        <a href="/admin/ads/planToAds?pid={$vo.pid}">查看广告</a>
                                        <a href="/admin/report/planReport?stats=plan_list&id=pid&numid={$vo.pid}">查看报表</a>
                                        <!-- <a href="/admin/ads/add">流量趋势</a> -->
                                        <!-- <a href="#">当天IP信息</a> -->
                                        <!-- <a href="/admin/ads/add">获取跟踪代码</a> -->
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#fff">
                                    <table class="master_table">
                                        <tr>
                                            <td>投放设备:</td>
                                            <td class="color_h">{$vo.checkplan|f_plan_mobile}</td>
                                            <td width="100">定向功能:</td>
                                            <td class="color_h">{$vo.checkplan|f_planlst}</td>
                                        </tr>
                                        <tr>
                                            <td>会员限制:</td>
                                            <td class="color_h">{$vo.restrictions|f_planLimit}</td>
                                            <td>网站限制:</td>
                                            <td class="color_h">{$vo.sitelimit|f_planLimit}</td>
                                        </tr>
                                        <tr>
                                            <td>移动出价:</td>
                                            <td class="color_h">{$vo.mobile_price}</td>
                                            <td>活动分类:</td>
                                            <td class="color_h">{$vo.class_name|default='空'}</td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td>活动周期:</td>
                                            <td class="color_h">{$vo.checkplan|f_planExpiredate}</td>
                                            <td></td>
                                            <td class="color_h"></td>
                                        </tr>
                                        <!-- <tr>
                                            <td>Logo:</td>
                                            <td class="color_h"></td>
                                        </tr> -->
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {/volist}
            </table>
            <div class="row">{$page}</div>
        </div>
    </div>
</div>
<!-- end wrapper -->
{/block}
{block name="js"}

<script>
    // 批量删除
    function delLst(){
        layer.confirm('确定删除吗？', {
          btn: ['确定','取消'] //按钮
        }, function(){
            $('form').submit();
        });
    }
    //用户信息激活
    $(".activation").click(function(){
        var href= $(this).attr('durl');
        var arr = $(this).attr('data');
        var params = $.parseJSON(arr);
        var statuscls = $(this).attr('statuscls');
        var _this = $(this);

        $.post(href,params,success);
        function success(data) {
            if(data.status == 2) {
                window.location.href='/admin/plan/addprice?pid='+data.data+'';
                return false;
            }else if(data.status == 1){
                _this.parent().parent().find('.ajax-status').html('活动').css({
                    "background":"#058dc7",
                    "padding":"2px 6px",
                    "font-size":"12px",
                    "color":"#fff",
                    "border-radius":"4px"
                });
                layer.msg('激活成功', {icon: 1});
            }else if(data.status == 0){
                layer.msg('激活失败', {icon: 1});
                return false;
            }
        }
    });
    $(".ads_sel_close").click(function(){
    var href= $(this).attr('durl');
    var arr = $(this).attr('data');
    var params = $.parseJSON(arr);
    var statuscls = $(this).attr('statuscls');
    var _this = $(this);
    $.post(href,params,success);
    function success(data) {
        if(data.info == 1) {
            _this.parent().parent().find('.ajax-adssel').html('打开').css({
                "background":"#058dc7",
                "padding":"2px 6px",
                "font-size":"12px",
                "color":"#fff",
                "border-radius":"4px"
            });
            layer.msg('开启成功', {icon: 1});
        }else if(data.info == 0){
            _this.parent().parent().find('.ajax-adssel').html('关闭').css({
                "background":"#ae432e",
                "padding":"2px 6px",
                "font-size":"12px",
                "color":"#fff",
                "border-radius":"4px"
            });
            layer.msg('关闭成功', {icon: 1});
        }else{
            layer.msg('该计划浏览数不足10万，不能开启广告筛选器', {icon: 1});
            return false;
        }
    }
});
    //获取选择的投放设备
    $('.mobile select').change('click',function(){
        var mobile = $(this).val();
        window.location.href='/admin/plan/activity?mobile='+mobile;
    })
</script>
{/block}