
{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="main_nav">
        <!-- <div class="mn_left"></div> -->
        <div class="mn_right">
            <div class="mn_mt">
                <ul>
                    <li><a href="/admin/plan/list">返回列表</a></li>
                    <!-- <li><a href="">编辑单价</a></li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <h3 class="heading">计划单价管理</h3>
        <div class="tb-lis">
            <a href="/admin/plan/addprice?pid={$pid}"><i class="fa fa-plus-circle"></i>新建单价</a>
            <a href="/admin/plan/batchaddprice?pid={$pid}" ><i class="fa fa-plus-circle"></i>应用模板单价</a>
        </div>
        <form action="/admin/plan/delPrice?pid={$pid}" id="delPrice" method="post">
            <div class="row">
                <div class="plan6">
                    <div class="dataTables-length">
                        批量操作：
                        <!-- <a href="javascript:;"  ><button class="btn btn-primary" type="submit" onclick="delLst();" style="padding:2px 12px;">删除</button></a> -->
                        <a href="javascript:;"  ><button class="btn btn-primary" type="button"  onclick="delLst();" style="padding:2px 12px;">删除</button></a>
                    </div>
                </div>
            </div>

            <div class="dataTables-wrapper">
                <table class="dataTable table-hover" name="users-list" >
                    <tr role="row">
                        <th rowspan="1" colspan="1" style="width:13px;"><input class="checkedAll" id="" type="checkbox" data-name="name-data"></th>
                        <th>计划名称</th>
                        <th>类型+尺寸</th>
                        <th>广告商单价</th>
                        <th>站长单价</th>
                        <th>操作</th>
                    </tr>
                    {volist name="one" id="vo"}
                    <tr class="unread">
                        <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="id[]" value="{$vo.id}" type="checkbox" data-name="name-data"></td>
                        <td>{$vo.plan_name}</td>
                        <td>{$vo.price_name}</td>
                        <td>{$vo.pricedv}</td>
                        {if condition="$vo.gradation  eq '1'"}
                        <td>
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            {$vo.price_1}
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            {$vo.price_2}
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            {$vo.price_3}
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            {$vo.price_4}
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                            {$vo.price_5}</td>
                        {else/}
                        <td>{$vo.price}</td>
                        {/if}

                        <td>
                            <!-- <a href="javascript:;" class="ajax-del" data='{"id":"{$vo.id}"}' durl='/admin/plan/delOneprice?pid={$vo.pid}'>删除</a> -->
                            <!-- <a href="/admin/plan/delOneprice?pid={$vo.pid}&id={$vo.id}">删除</a> -->
                            <a href="/admin/plan/editPrice?id={$vo.id}">编辑</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
            </div>
        </form>
    </div>
</div>
<!-- end wrapper -->
{/block}

{block name="js"}
<script>
    function delLst(){
        //点击按钮提交
        var href = '/admin/plan/ads';
        var data = $("input[name='id[]']").serialize();
        $.post(href,data,success);
        function success(data) {
            console.log(data)
            if(data.info == '请先删除该计划下广告！'){
                layer.msg(data.info, {icon: 1});
            }else{
                $('form').submit();
            }
        }
    }
</script>
{/block}