<!DOCTYPE HTML>
<html>
<head>
<link href="__CSS__/main.css" rel="stylesheet" />
<script src="__STATIC__/jquery/jquery.min.js"></script>
</head>
<body>
<div id="tt" onclick="test();" >
    test
</div>
<script>
//demo 1
    // var a= 3;
    // var test = function(){
    //     console.log(this);
    // }
    // // $('#tt').click(test);


//demo 2
    // var test2 = {
    //     num:2,
    //     add:function(){
    //         this.num=3;
    //         (function(){
    //             alert(this.num+'222');
    //             this.num=4;
    //         })();
    //         alert(this.num+'111');

    //     }
    // }

    // test2.add();
</script>
</body>
</html>