{include  file="public:header" /}
<script src="__JS__/geetest.5.5.39.js"></script>
<div style="width:100%; height:100%; background:#f8f8f8;">
    <div id="itemBox" class="item-box">
        <form class="form-login" method="post" name="loginform" id="formId">
            <h2>修改用户密码</h2>
            <input class="form-control" type="text" name="uname" value="" placeholder="用户名"/>
            <input style="margin:10px 0;" class="form-control" type="password" name="pwd_old" value="" placeholder="请输入旧密码"/>
            <input style="margin:10px 0;" class="form-control" type="password" name="pwd_new_1" value="" placeholder="请输入新密码"/>
            <input style="margin:10px 0;" class="form-control" type="password" name="pwd_new_2" value="" placeholder="请再次输入新密码"/>
            <button style="margin-top:10px;" class="btn btn-lg btn-primary btn-block" id="popup-submit" type="submit">重置密码</button>
            <div id="popup-captcha"></div>
        </form>
    </div>
</div>

{block name="js"}
<script src="__STATIC__/layer/layer.js"></script>
<script src="//static.geetest.com/static/tools/gt.js"></script>
<script src="//code.jquery.com/jquery-1.12.3.min.js"></script>
<script type="text/javascript">
    var captchaObja = '';
    $('#formId').submit(function(){
        //点击按钮提交
        var href = '/admin/index/passrevise';
        var data = $("#formId").serialize();
        $.post(href,data,success);
        function success(data) {
            if (data.status == 1) {
                layer.msg('密码修改成功', {icon: 1});
            } else {
                layer.msg(data.info, {icon: 1});
                setTimeout(function(){},2000);
                return false;
            }
        }
        return false;
    });
</script>

{/block}

{include  file="public:footer" /}