{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
<div class="row-fluid ">
    {switch name="$data.stats" }
    {case value="site"}<form action="/admin/deduction/sitededuction" name="deductionform" method="post">{/case}
    {case value="zone"}<form action="/admin/deduction/zonededuction" name="deductionform" method="post">{/case}
    {case value="webmaster"}<form action="/admin/deduction/webdeduction" name="deductionform" method="post">{/case}
    {case value="ads"}<form action="/admin/deduction/adsdeduction" name="deductionform" method="post">{/case}
    {case value="plan"}<form action="/admin/deduction/plandeduction" name="deductionform" method="post">{/case}
    {case value="all"}<form action="/admin/deduction/alldeduction" name="deductionform" method="post">{/case}
    {/switch}
        <div id="repo_data" class="tb_sts" style="position:absolute; top:56px; right:30px;">
          {if condition="$data.status eq '1' || $data.status eq '3'"}
          <!-- <a href="/admin/deduction/sitededuction?stats=site" ><i class="fa fa-plus-circle"></i>站点扣量</a> -->
          <a href="/admin/deduction/webdeduction?stats=webmaster" class="repo_data"><i class="fa fa-plus-circle"></i>站长扣量</a>
          <a href="/admin/deduction/zonededuction?stats=zone" ><i class="fa fa-plus-circle"></i>广告位扣量</a>
          
          {/if}
          {if condition="$data.status eq '1' || $data.status eq '2'"}
          <a href="/admin/deduction/adsdeduction?stats=ads"><i class="fa fa-plus-circle"></i>广告扣量</a>
          <a href="/admin/deduction/plandeduction?stats=plan"><i class="fa fa-plus-circle"></i>计划扣量</a>
          {/if}
          {if condition="$data.status eq '1'"}
          <a href="/admin/deduction/alldeduction?stats=all"><i class="fa fa-plus-circle"></i>全局扣量</a>
          {/if}
        </div>
     <!--  {if condition="$data.stats eq 'site'"}
        <h3 class="heading">站点扣量设置</h3>

        <div class="control-group">
          <label class="control-label control-label-left">网站名称</label>
            <div class="controls">
              <select name="site_id" id="site_deduction" style="width:160px;">
                <option value="">请选择网站</option>
                {volist name="res" id="vo" }
                <tr class="unread">
                  <option value="{$vo.site_id}" {if condition="$vo.site_id eq $data.id"} selected {/if} data-web='{$vo.web_deduction}' data-adv='{$vo.adv_deduction}'>{$vo.sitename}</option>
                </tr>
                {/volist}
              </select>
            </div>
        </div>
          <div class="control-group">
            <label class="control-label control-label-left">搜索网站名称</label>
            <div class="controls">
              <input class="input-text input1" type="text" name="sitename" value="" />
              <span id="site_error">快速搜索网站名称</span>
            </div>
          </div>

        <div class="control-group">
          <label class="control-label control-label-left">站长扣量</label>
          <div class="controls">
            <input class="input-text input1 site-web" type="text" name="web_deduction" value="{$data.web_deduction}" />
            <span> %</span><span> *扣量负为减钱，正为加钱</span>
          </div>
        </div>
        {if condition="$data.status neq '3' "}
        <div class="control-group">
          <label class="control-label control-label-left">广告商扣量</label>
          <div class="controls">
            <input class="input-text input1 site-adv" type="text" name="adv_deduction" value="{$data.adv_deduction}" />
            <span> %</span><span> *扣量负为减钱，正为加钱</span>
          </div>
        </div>
        {else/}
          <input class="input-text input1 site-adv" type="hidden" name="adv_deduction" value="{$data.adv_deduction}" />
        {/if}
      {/if} -->



       {if condition="$data.stats eq 'zone'"}
        <h3 class="heading">广告位扣量设置</h3>   
         <div class="control-group">
          <input class="input-text input1 adz_id" type="hidden" name="adz_id" value="" />
            <label class="control-label control-label-left">搜索广告位ID</label>
            <div class="controls">
              <input class="input-text input1" type="text" name="webname" value="" />
              <span id="zone_error">快速搜索广告位ID</span>
            </div>
          </div>
        <div class="control-group">
          <label class="control-label control-label-left">站长扣量</label>
          <div class="controls">
            <input class="input-text input1 zone-web" type="text" name="web_deduction" value="{$data.adv_deduction}" />
            <span> %</span><span> *扣量负为减钱，正为加钱</span>
          </div>
        </div>
        {if condition="$data.status neq '3' "}
        <div class="control-group">
          <label class="control-label control-label-left">广告商扣量</label>
          <div class="controls">
            <input class="input-text input1 zone-adv" type="text" name="adv_deduction" value="{$data.adv_deduction}" />
            <span> %</span><span> *扣量负为减钱，正为加钱</span>
          </div>
        </div>
        {else/}
          <input class="input-text input1 adz_id" type="hidden" name="adz_id" value="" />
        {/if}
      {/if}




      {if condition="$data.stats eq 'webmaster'"}
      <h3 class="heading">站长扣量设置</h3>
      <div class="control-group">
        <label class="control-label control-label-left">站长名称</label>
        <div class="controls">
          <select name="uid" id="webmaster_deduction" style="width:160px;">
            <option value="">请选择站长</option>
            {volist name="res" id="vo" }
            <tr class="unread">
              <option value="{$vo.uid}" {if condition="$vo.uid eq $data.id"} selected {/if} data-web='{$vo.web_deduction}' data-adv='{$vo.adv_deduction}'>{$vo.username}</option>
            </tr>
            {/volist}
          </select>
        </div>
      </div>

          <div class="control-group">
            <label class="control-label control-label-left">搜索站长名称</label>
            <div class="controls">
              <input class="input-text input1" type="text" name="username" value="" />
              <span id="web_error">快速搜索站长名称</span>
            </div>
          </div>

      <div class="control-group">
        <label class="control-label control-label-left">站长扣量</label>
        <div class="controls">
          <input class="input-text input1 web-web" type="text" name="web_deduction" value="{$data.web_deduction}" />
          <span> %</span><span> *扣量负为减钱，正为加钱</span>
        </div>
      </div>
      {if condition="$data.status neq '3' "}
      <div class="control-group">
        <label class="control-label control-label-left">广告商扣量</label>
        <div class="controls">
          <input class="input-text input1 web-adv" type="text" name="adv_deduction" value="{$data.adv_deduction}" />
          <span> %</span><span> *扣量负为减钱，正为加钱</span>
        </div>
      </div>
      {else/}
          <input class="input-text input1 web-adv" type="hidden" name="adv_deduction" value="{$data.adv_deduction}" />
      {/if}
      {/if}
      {if condition="$data.stats eq 'ads'"}
      <h3 class="heading">广告扣量设置</h3>
      <div class="control-group">
        <label class="control-label control-label-left">广告名称</label>
        <div class="controls">
          <select name="ad_id" id="advertiser_deduction" style="width:160px;">
            <option value="">请选择广告</option>
            {volist name="res" id="vo" }
            <tr class="unread">
              <option value="{$vo.ad_id}" {if condition="$vo.ad_id eq $data.id"} selected {/if} data-web='{$vo.web_deduction}' data-adv='{$vo.adv_deduction}'>{$vo.adname}</option>
            </tr>
            {/volist}
          </select>
        </div>
      </div>

          <div class="control-group">
            <label class="control-label control-label-left">搜索广告名称</label>
            <div class="controls">
              <input class="input-text input1" type="text" name="adname" value="" />
              <span id="ad_error">快速搜索广告名称</span>
            </div>
          </div>

      {if condition="$data.status neq '2' "}
      <div class="control-group">
        <label class="control-label control-label-left">站长扣量</label>
        <div class="controls">
          <input class="input-text input1 ads-web" type="text" name="web_deduction" value="{$data.web_deduction}" />
          <span> %</span><span> *扣量负为减钱，正为加钱</span>
        </div>
      </div>
      {else/}
          <input class="input-text input1 ads-web" type="hidden" name="web_deduction" value="{$data.web_deduction}" />
      {/if}
      <div class="control-group">
        <label class="control-label control-label-left">广告商扣量</label>
        <div class="controls">
          <input class="input-text input1 ads-adv" type="text" name="adv_deduction" value="{$data.adv_deduction}" />
          <span> %</span><span> *扣量负为减钱，正为加钱</span>
        </div>
      </div>
      {/if}
      {if condition="$data.stats eq 'plan'"}
      <h3 class="heading">计划扣量设置</h3>
      <div class="control-group">
        <label class="control-label control-label-left">计划名称</label>
        <div class="controls">
          <select name="pid" id="plan_deduction" style="width:160px;">
            <option value="">请选择计划</option>
            {volist name="res" id="vo" }
            <tr class="unread">
              <option value="{$vo.pid}" {if condition="$vo.pid eq $data.id"} selected {/if} data-web='{$vo.web_deduction}' data-adv='{$vo.deduction}'>{$vo.plan_name}</option>
            </tr>
            {/volist}
          </select>
        </div>
      </div>

          <div class="control-group">
            <label class="control-label control-label-left">搜索计划名称</label>
            <div class="controls">
              <input class="input-text input1" type="text" name="plan_name" value="" />
              <span id="plan_error">快速搜索计划名称</span>
            </div>
          </div>

      {if condition="$data.status neq '2' "}
      <div class="control-group">
        <label class="control-label control-label-left">站长扣量</label>
        <div class="controls">
          <input class="input-text input1 plan-web" type="text" name="web_deduction" value="{$data.web_deduction}" />
          <span> %</span>
          <span> *扣量负为减钱，正为加钱</span>
        </div>
      </div>
      {else/}
          <input class="input-text input1 plan-web" type="hidden" name="web_deduction" value="{$data.web_deduction}" />
      {/if}
      <div class="control-group">
        <label class="control-label control-label-left">广告商扣量</label>
        <div class="controls">
          <input class="input-text input1 plan-adv" type="text" name="deduction" value="{$data.adv_deduction}" />
          <span> %</span><span> *扣量负为减钱，正为加钱</span>
        </div>
      </div>
      {/if}
      {if condition="$data.stats eq 'all'"}
      <h3 class="heading">全局扣量设置</h3>
        <div class="control-group">
          <label class="control-label control-label-left">站长CPC扣量</label>
          <div class="controls">
            <input class="input-text input1" type="text" name="cpc_deduction" value="{$res.0.cpc_deduction}" />
            <span> %</span><span> *扣量负为减钱，正为加钱</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label control-label-left">广告商CPC扣量</label>
          <div class="controls">
            <input class="input-text input1" type="text" name="adv_cpc_deduction" value="{$res.0.adv_cpc_deduction}" />
            <span> %</span><span> *扣量负为减钱，正为加钱</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label control-label-left">站长CPM扣量</label>
          <div class="controls">
            <input class="input-text input1" type="text" name="cpm_deduction" value="{$res.0.cpm_deduction}" />
            <span> %</span><span> *扣量负为减钱，正为加钱</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label control-label-left">广告商CPM扣量</label>
          <div class="controls">
            <input class="input-text input1" type="text" name="adv_cpm_deduction" value="{$res.0.adv_cpm_deduction}" />
            <span> %</span><span> *扣量负为减钱，正为加钱</span>
          </div>
        </div>
      {/if}
    <div class="sbut">
      <button class="btn btn-primary" type="submit">保存设置</button>
    </div>
    </form>
</div>
</div>
{if condition="$data.keep eq '1'"}
<div class="al_box" style="position:fixed; top:80px; right:0; color:#444; width:280px; height:32px; line-height:32px; background:#d5ffce; text-indent:10px; border:1px solid #9adf8f;">保存成功</div>
{/if}
</div>
{/block}
{block name="js"}
<script type="text/javascript">
  $(".al_box,body").click(function(){
    setTimeout(function(){
      $(".al_box").css("display","none");
    },3000);
  })

//站点扣量 ===============================================================================   site_deduction
  $("input[name='sitename']").mouseout(function(){
    $.ajax({
        type: 'post',
        url : '/admin/deduction/siteone',
        data: {sitename:$("input[name='sitename']").val()},
        dataType:'json',
      success:function(data){
        if(data != ''){

            $("#site_deduction option").each(function(){

              if(data == $(this).val()){
                var web = $(this).attr('data-web');
                var adv = $(this).attr('data-adv');

                $(".site-web").val(web);
                $(".site-adv").val(adv);
                $("#site_error").text('');
                $(this).prop('selected',true);
              }
            })
        }else{
          //.text("没有这个广告商，请重新输入").css({'color':'red','font-size':'12px'});
          $("#site_error").text('没有这个网站,请重新输入').css({'color':'red','font-size':'12px'});
          $(".site-web").val('');
          $(".site-adv").val('');
          $('#site_deduction option').prop('selected',false);
        }
      }
    })
  });

  $("input[name='sitename']").keyup(function(){
    $.ajax({
      type: 'post',
      url : '/admin/deduction/siteone',
      data: {sitename:$("input[name='sitename']").val()},
      dataType:'json',
      success:function(data){
        if(data != ''){

          $("#site_deduction option").each(function(){

            if(data == $(this).val()){
              var web = $(this).attr('data-web');
              var adv = $(this).attr('data-adv');

              $(".site-web").val(web);
              $(".site-adv").val(adv);
              $("#site_error").text('');
              $(this).prop('selected',true);
            }
          })
        }else{
          //.text("没有这个广告商，请重新输入").css({'color':'red','font-size':'12px'});
          $("#site_error").text('没有这个网站,请重新输入').css({'color':'red','font-size':'12px'});
          $(".site-web").val('');
          $(".site-adv").val('');
          $('#site_deduction option').prop('selected',false);
        }
      }
    })
  });

  //广告位扣量 =============================================================================== zone_deduction
  $("input[name='webname']").keyup(function(){
    $.ajax({
      type: 'post',
      url : '/admin/deduction/zoneone',
      data: {webname:$("input[name='webname']").val()},
      dataType:'json',
      success:function(data){
        if(data != ''){
            $('input[name="adz_id"]').val(data[0].adz_id);
            // console.log(option[i].data)
            $('input[name="web_deduction"]').val(data[0].web_deduction);
            $('input[name="adv_deduction"]').val(data[0].adv_deduction);
            $("#zone_error").text('');
        }else{
        $("#zone_error").text('没有这个广告位ID,请重新输入').css({'color':'red','font-size':'12px'});
        }
      }
    })
  }); 



  //站长扣量 =============================================================================== webmaster_deduction
  $("input[name='username']").keyup(function(){
    $.ajax({
      type: 'post',
      url : '/admin/deduction/webuserone',
      data: {username:$("input[name='username']").val()},
      dataType:'json',
      success:function(data){
        if(data != ''){

          $("#webmaster_deduction option").each(function(){

            if(data == $(this).val()){
              var web = $(this).attr('data-web');
              var adv = $(this).attr('data-adv');

              $(".web-web").val(web);
              $(".web-adv").val(adv);
              $("#web_error").text('');
              $(this).prop('selected',true);
            }
          })
        }else{
          $("#web_error").text('没有这个站长,请重新输入').css({'color':'red','font-size':'12px'});
          $(".web-web").val('');
          $(".web-adv").val('');
          $('#webmaster_deduction option').prop('selected',false);
        }
      }
    })
  });

  $("input[name='username']").mouseout(function(){
    $.ajax({
      type: 'post',
      url : '/admin/deduction/webuserone',
      data: {username:$("input[name='username']").val()},
      dataType:'json',
      success:function(data){
        if(data != ''){

          $("#webmaster_deduction option").each(function(){

            if(data == $(this).val()){
              var web = $(this).attr('data-web');
              var adv = $(this).attr('data-adv');

              $(".web-web").val(web);
              $(".web-adv").val(adv);
              $("#web_error").text('');
              $(this).prop('selected',true);
            }
          })
        }else{
          $("#web_error").text('没有这个站长,请重新输入').css({'color':'red','font-size':'12px'});
          $(".web-web").val('');
          $(".web-adv").val('');
          $('#webmaster_deduction option').prop('selected',false);
        }
      }
    })
  });

  //广告扣量 =============================================================================== advertiser_deduction
  $("input[name='adname']").keyup(function(){
    $.ajax({
      type: 'post',
      url : '/admin/deduction/adsone',
      data: {adname:$("input[name='adname']").val()},
      dataType:'json',
      success:function(data){
        if(data != ''){

          $("#advertiser_deduction option").each(function(){

            if(data == $(this).val()){
              var web = $(this).attr('data-web');
              var adv = $(this).attr('data-adv');

              $(".ads-web").val(web);
              $(".ads-adv").val(adv);
              $("#ad_error").text('');
              $(this).prop('selected',true);
            }
          })
        }else{
          $("#ad_error").text('没有这个广告,请重新输入').css({'color':'red','font-size':'12px'});
          $(".ads-web").val('');
          $(".ads-adv").val('');
          $('#advertiser_deduction option').prop('selected',false);
        }
      }
    })
  });

  $("input[name='adname']").mouseout(function(){
    $.ajax({
      type: 'post',
      url : '/admin/deduction/adsone',
      data: {adname:$("input[name='adname']").val()},
      dataType:'json',
      success:function(data){
        if(data != ''){

          $("#advertiser_deduction option").each(function(){

            if(data == $(this).val()){
              var web = $(this).attr('data-web');
              var adv = $(this).attr('data-adv');

              $(".ads-web").val(web);
              $(".ads-adv").val(adv);
              $("#ad_error").text('');
              $(this).prop('selected',true);
            }
          })
        }else{
          $("#ad_error").text('没有这个广告,请重新输入').css({'color':'red','font-size':'12px'});
          $(".ads-web").val('');
          $(".ads-adv").val('');
          $('#advertiser_deduction option').prop('selected',false);
        }
      }
    })
  });

  //计划扣量 =============================================================================== plan_deduction
  $("input[name='plan_name']").keyup(function(){
    $.ajax({
      type: 'post',
      url : '/admin/deduction/planone',
      data: {plan_name:$("input[name='plan_name']").val()},
      dataType:'json',
      success:function(data){
        if(data != ''){

          $("#plan_deduction option").each(function(){

            if(data == $(this).val()){
              var web = $(this).attr('data-web');
              var adv = $(this).attr('data-adv');

              $(".plan-web").val(web);
              $(".plan-adv").val(adv);
              $("#plan_error").text('');
              $(this).prop('selected',true);
            }
          })
        }else{
          $("#plan_error").text('没有这个计划,请重新输入').css({'color':'red','font-size':'12px'});
          $(".plan-web").val('');
          $(".plan-adv").val('');
          $('#plan_deduction option').prop('selected',false);
        }
      }
    })
  });

  $("input[name='plan_name']").mouseout(function(){
    $.ajax({
      type: 'post',
      url : '/admin/deduction/planone',
      data: {plan_name:$("input[name='plan_name']").val()},
      dataType:'json',
      success:function(data){
        if(data != ''){

          $("#plan_deduction option").each(function(){

            if(data == $(this).val()){
              var web = $(this).attr('data-web');
              var adv = $(this).attr('data-adv');

              $(".plan-web").val(web);
              $(".plan-adv").val(adv);
              $("#plan_error").text('');
              $(this).prop('selected',true);
            }
          })
        }else{
          $("#plan_error").text('没有这个计划,请重新输入').css({'color':'red','font-size':'12px'});
          $(".plan-web").val('');
          $(".plan-adv").val('');
          $('#plan_deduction option').prop('selected',false);
        }
      }
    })
  });


  $("#site_deduction").change(function(){
    var web = $('#site_deduction option:selected').attr('data-web');
    var adv = $('#site_deduction option:selected').attr('data-adv');
    $(".site-web").val(web);
    $(".site-adv").val(adv);
    $("input[name='sitename']").val($('#site_deduction option:selected').text());
  })

  // $("#zone_deduction").change(function(){
  //   var web = $('#zone_deduction option:selected').attr('data-web');
  //   var adv = $('#zone_deduction option:selected').attr('data-adv');
  //   var adz_id = $('#zone_deduction option:selected').attr('data-adz_id');
  //   $('input[name="adz_id"]').val(adz_id);
  //   $(".zone-web").val(web);
  //   $(".zone-adv").val(adv);
  // })


  $("#webmaster_deduction").change(function(){
    var web = $('#webmaster_deduction option:selected').attr('data-web');
    var adv = $('#webmaster_deduction option:selected').attr('data-adv');
    $(".web-web").val(web);
    $(".web-adv").val(adv);
    $("input[name='username']").val($('#webmaster_deduction option:selected').text());
  })
  $("#advertiser_deduction").change(function(){
    var web = $('#advertiser_deduction option:selected').attr('data-web');
    var adv = $('#advertiser_deduction option:selected').attr('data-adv');
    $(".ads-web").val(web);
    $(".ads-adv").val(adv);
    $("input[name='adname']").val($('#advertiser_deduction option:selected').text());
  })
  $("#plan_deduction").change(function(){
    var web = $('#plan_deduction option:selected').attr('data-web');
    var adv = $('#plan_deduction option:selected').attr('data-adv');
    $(".plan-web").val(web);
    $(".plan-adv").val(adv);
    $("input[name='plan_name']").val($('#plan_deduction option:selected').text());
  })
  //页面跳转之后 的状态以及颜色
  $('#repo_data').children("a").each(function(){
    // $(this).removeClass("repo_data");
    if($(this)[0].href==String(window.location)){
      $(this).addClass("repo_data");
      $(this).siblings().removeClass("repo_data");
    }
  });
</script>
{/block}