<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<link rel="shortcut icon" href="/admin/img/logo.ico" type="image/x-icon" />
<meta name="description" content="">
<meta name="author" content="">
<meta name="format-detection" content="telephone=no"/>
<title>{$title|default=''}乐樽后台系统</title>
<!-- Bootstrap Core CSS -->
<link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet" />
<!-- Custom Fonts -->
<link href="__STATIC__/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="__CSS__/main.css" rel="stylesheet" />
    <link href="__CSS__/daterangepicker-bs3.css" rel="stylesheet" />
{block name="css"}

{/block}

</head>
<body style="min-width:1453px;">
    <div style="width:100%;">
        <!-- 导航 -->
        <div class="nav">
            {include  file="public:nav" /}
        </div>
        <div class="page-body">
            <!-- 内容 -->
            {block name="main"}content{/block}
        </div>
    </div>
<!-- jQuery -->
<script src="__STATIC__/jquery/jquery.min.js"></script>
<script src="__STATIC__/js/bootstrap.min.js"></script>
<script src="__STATIC__/layer/layer.js"></script>
<!-- <script src="__STATIC__/flash/Uploader.swf"></script> -->
<!--common js-->
<script src="__JS__/common.js"></script>

{block name="js"}

{/block}



</body>
</html>
