<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">



<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>乐樽 - 诚优网络,专注于网络发</title>

    <link rel="shortcut icon"  href="/templates/index/def/images/favicon.ico">

    <link href="/index/css/css.css" rel="stylesheet" type="text/css" />



</head>



<body class="bodycolor">

<div class="head">

    <ul>

        <li class="fl"><a href="/" class="logo"></a></li>

        <li class="user"><a class="login" href="/login">登录</a><a href="/register">注册</a></li>

        <li class="nav"><a href="/" class=on>首页</a><a class=on href="/sitemaster">网站主</a><a href="/advertisers">广告商</a><a href="/notice">公告</a><!--<a href="/index.php?e=index.gift">活动</a>--><a href="/about">关于</a></li>

    </ul>

</div>

<div class="main pt63">

    <ul>

        <li class="content_title"><span class="tt">网站主</span></li>

        <li class="con_top">&nbsp;</li>

        <li class="content">

            <h2>我们的优势</h2>

            <p> 庞大的广告商客户群，让你的网站的流量迅速转换成现金！<br>

                快速及时准确的第三方费用结算，值得您依赖！<br>

                丰富灵活多样的广告形式，充分满足您的网站需求！<br>

                卓越的网站运营团队，免费为您提供网赚咨询！<br>

                坚实的技术平台，长久稳健的保证您的赚钱顺途！ </p>

            <div class="xline"></div>

            <h2>网站主服务流程</h2>

            <p> <span class="c1">注册用户</span>&nbsp;&nbsp;&gt;&nbsp;&nbsp; <span class="c1">验证通过</span>&nbsp;&nbsp;&gt;&nbsp;&nbsp; <span class="c1">网址审核</span>&nbsp;&nbsp;&gt;&nbsp;&nbsp; <span class="c1">投放广告</span>&nbsp;&nbsp;&gt;&nbsp;&nbsp; <span class="c1">获得佣金</span> </p>

            <div class="xline"></div>

            <h2>网站主常见问题</h2>

            <span class="c1">域名提交问题的说明（2级米和2级目录）</span>

            <p>admin提醒：提交域名时只需提交一次根域名即可。例如 http://www.zzz.comm。只需提交zzz.com，其他的2级域名例如http://a.zzz.com或2级目录http://www.zzz.com/b/已自动支持。</p>

            <span class="c1">admin对加盟站有何要求？网站审核未通过的原因？</span>

            <p> 有以下情况者，admin谢绝加入！<br />

                1、网站没有实际内容.<br />

                2、网站有病毒或木马.<br />

                3、色情或不健康内容.<br />

                4、弹窗过多.(所有单页面弹窗不得多于2个<进弹+退弹>) <br />

                5、非正规投放代码.(隐藏、遮盖广告)<br />

                6、作弊帐号，代理IP或虚假数据.<br />

                7、网站打不开.<br />

                8、网站内容不适合.<br />

                9、其他不遵守admin传媒相关规定或变相违规的帐号.<br />

                请注意，admin只审核正规合法网站。<br />

                除以上之外，非自主独立域名，人体艺术、伦理片、三级片、网赚、广告任务、外挂私服、tk域名都不审核! </p>

            <span class="c1">财务密匙是什么?我忘记了怎么办?</span>

            <p> 财务密匙是在admin注册账号时候填写的一个非常重要的密码，在申请结算和修改财务信息的时候要用到。如果忘记了，请使用留言系统或者联系客服QQ索取，客服会用提示的方法告诉您！ </p>

            <span class="c1">如果我的站点审查时没有被通过，应该怎么办？</span>

            <p> 如果你的帐号状态显示为：审查没通过，或被挂起，这时会有个人通知说明原因，请您修改您的网站后，再进入会员区内，点右侧工具栏的“修改帐号状态/信息”，进行再次提交，或直接与我们的客服QQ联系。 </p>

            <span class="c1">如果我的帐号余额不足100元，能申请结算吗？</span>

            <p>原则上是不可以的。如有特殊情况，可以在周一与我们客服联系。</p>

            <span class="c1">申请提现的标准是多少?多久结算?结算时间?收手续费吗?</span>

            <p>admin的申请结算的标准为100元，每周支付一次。每周的周六、日可以申请提现，每周一到账！结算不收取任何手续费用！</p>

            <span class="c1">什么是点出？是否每次都会记分？1个IP可以有效点出几次？</span>

            <p> 点出——就是访客在浏览您的网站的时候点击了admin传媒代码中的一个网站，一个点出就代表一个点击，或者可以理解为一个IP。1点出*单价=获得金额。<br />

                点出不会每次都记分。主要依据IP，帐号，Cookies，点击时间差综合判断每次点击的有效性。<br />

                目前admin传媒一个帐号于同一IP24小时内的点出可有6-10次，有一定的时间间隔要求。对于点出有效的时间间隔、N个有效点击我们主要是根据admin的统计与个种流行的免费统计器作出比较而调整。相信会让您满意！ </p>

            <span class="c1">网站主帐号状态和下属网站状态的说明！</span><br />

            <p> 网站主帐号状态的说明：



                审查正常的帐号：点出/弹出数据有效，可以申请结算。<br>

                等待审查的帐号：点出/弹出数据有效，不能申请结算。<br>

                审查未过的帐号：点出/弹出数据有效，不能申请结算。可修改完成后留言或直接联系客服QQ审核账号。 <br>

                被挂起来的帐号：点出/弹出数据无效，不能申请结算。相关的一切数据作废。<br>

                下属网站状态的说明：<br>

                网站待审核：新增加网站，等待客服审核状态。此时广告代码无法正常显示，不能正常计费。<br>

                网站已审核：客服已审核正规状态的网站，此时广告代码正常显示。正常计费。<br>

                网站未通过：客服检查之后不能审核的网站。此时广告代码无法正常显示，不能正常计费。未通过网站会在后面备注未通过的原因，网站主可根据原因针对性的修改或提交其他的网站。 </p>

            <span class="c1">什么样的帐号会被挂起（冻结）</span><br />

            <p> 日常检查中发现有以下违规现象时，情况严重的帐号将被挂起！<br>

                一）网站没有实际内容.<br>

                【纯广告页面，新建无内容网站等一律不予审核！】<br>

                二）强制或诱导点击.<br>

                【不得以任何语言或者形式诱导、误导、要求或强制访问者点击广告。】<br>

                违规范例：<br>

                1：支持本站发展，请点击广告。 <br>

                2：点击广告获取下载地址 / 观看影片 / 提高下载速度 / 注册帐号。 <br>

                三）色情或不健康内容.<br>

                【admin严格审查，坚决杜绝一切色情、人体、露点等不健康网站！】<br>

                四）病毒或弹窗过多.<br>

                【网站所有单个页面弹窗不得多于2个

                <包括进弹和退弹>

                    】<br>

                    五）非正规或未投放代码.<br>

                    【注册后长期未投放admin广告的，admin有权将账号删除处理。】<br>

                    广告条必须完整嵌入网页且完全显示，不得删减、遮挡代码。<br>

                    不得将标题颜色和背景颜色使用相近色系，以保证广告的清晰明了。<br>

                    六）代理IP或作弊点击/弹窗.<br>

                    【任何非人工产生的数据，代理服务器IP，假IP，自动刷新，javascript都是作弊。使用非HTML手段、 JAVASRIPT 窗口、隐藏FRAME 、CGI 自动生成、网页REFRESH/AUTOLOAD等来演绎广告均属违规。】 <br>

                    七）网站打不开或不适合加入.<br>

                    【首页不能正常打开的，或者有任何一种不适合审核的情况的。】<br>

                    八）标题或内容不适合.<br>

                    【admin谢绝一切非正规网站。】<br>

                    九）不遵守admin传媒相关规定或变相违规的帐号.<br>

                    【未提及的其他。admin传媒拥有增删、修改、完善规则的权利。】 </p>

            <div class="xline"></div>

            <p><a href="register" class="r_btn">点击免费注册</a></p>

        </li>

        <li class="con_foot">&nbsp;</li>

    </ul>

</div>

<div class="foot">

    <ul>

        <li>Copyright @ 2011-2016 www.lezun.com All rights reserved.    乐樽　<a href="http://www.miibeian.gov.cn" target=_blank>陕ICP备16008755号-1</a></li>

    </ul>

</div></body>

</html>

