{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
         <div id="repo_data" class="tb_sts" style="position:absolute; top:110px; right:30px;">

         </div>
        <h3 class="heading">cpa产品分类列表</h3>
        <div class="dataTables-wrapper">
            <div class="tb-lis users_lis">
                <a href="/bigclick/Cpatype/typeadd"><i class="fa fa-plus-circle"> 新增分类
                </i></a>
            </div>
        </div>
            <table class="dataTable table-hover" name="users-list" >
                <tr role="row">
                    <th>ID</th>
                    <th>分类名称</th>
                    <th>分类备注</th>
                    <th>产品详情</th>
                    <th>操作</th>
                </tr>
                {volist name="list" id="vo"}
                <tr class="unread">
                    <td>{$vo.id}</td>
                    <td>{$vo.type_name}</td>
                    <td>{$vo.type_info}</td>
                    <td><a href="/bigclick/clickcpm/prolist?status=all&search={$vo.id}&index=pro_type">查看此分类下的产品</a></td>
                    <td>
                        <a href="/bigclick/Cpatype/edit?id={$vo.id}">编辑</a>
                    </td>
                </tr>
                {/volist}

            </table>
            <div class="row">
            </div>
        </div>
    </div>
</div>

<!-- end wrapper -->
{/block}

{block name="js"}
<script type="text/javascript">
</script>
{/block}