{include  file="public:header" /}
<script src="/admin/js/geetest.5.5.39.js"></script>
<div style="width:100%; height:100%; background:#f8f8f8;">
    <div id="itemBox" class="item-box">
        <form class="form-login" method="post" name="loginform" id="formId">
            <h2>用户登录</h2>
            <input class="form-control" type="text" name="uname" value="" placeholder="用户名" />
            <input style="margin:10px 0;" class="form-control" type="password" name="pwd" value="" placeholder="密码" />

            <button style="margin-top:10px;" class="btn btn-lg btn-primary btn-block" id="popup-submit" type="submit">登录</button>
            <a class="login-register" href="/webmaster/index/reg" >注册新用户</a>
            <div id="popup-captcha"></div>
        </form>
    </div>
</div>

{block name="js"}
<script src="__STATIC__/layer/layer.js"></script>
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<script type="text/javascript">

//判断浏览器是否支持 placeholder属性  
function isPlaceholder(){  
    var input = document.createElement('input');  
    return 'placeholder' in input;  
}  
  
if (!isPlaceholder()) {
//不支持placeholder 用jquery来完成  
    $(document).ready(function() {  
        if(!isPlaceholder()){  
            $("input").not("input[type='password']").each(//把input绑定事件 排除password框  
                function(){  
                    if($(this).val()=="" && $(this).attr("placeholder")!=""){  
                        $(this).val($(this).attr("placeholder"));  
                        $(this).focus(function(){  
                            if($(this).val()==$(this).attr("placeholder")) $(this).val("");  
                        });  
                        $(this).blur(function(){  
                            if($(this).val()=="") $(this).val($(this).attr("placeholder"));  
                        });  
                    }  
            });  
            //对password框的特殊处理1.创建一个text框 2获取焦点和失去焦点的时候切换  
            var pwdField    = $("input[type=password]");  
            var pwdVal      = pwdField.attr('placeholder');  
            pwdField.after('<input id="pwdPlaceholder" type="text" value='+pwdVal+' autocomplete="off" />');  
            var pwdPlaceholder = $('#pwdPlaceholder');  
            pwdPlaceholder.show();  
            pwdField.hide();  
              
            pwdPlaceholder.focus(function(){  
                pwdPlaceholder.hide();  
                pwdField.show();  
                pwdField.focus();  
            });  
              
            pwdField.blur(function(){  
                if(pwdField.val() == '') {  
                    pwdPlaceholder.show();  
                    pwdField.hide();  
                }  
            });  
              
        }  
    });  
      
}  


    var captchaObja = '';
    $('#formId').submit(function(){
        //点击按钮提交
        var href = '/webmaster/index/login';
        var data = $("#formId").serialize();

        $.post(href,data,success);
        function success(data) {
            console.log(data)
            window.location.href='/webmaster/web/list';
            // if (data.status == 1) {
            //     captchaObja.show();
            // } else {
            //     layer.msg(data.info, {icon: 1});
            //     setTimeout(function(){},2000);
            //     return false;
            // }
        }
        return false;
    });
    var handlerPopup = function (captchaObj) {
        // 成功的回调
        captchaObj.onSuccess(function () {
            var validate = captchaObj.getValidate();
            $.ajax({
                url: "/webmaster/index/verifyAgain", // 进行二次验证
                type: "post",
                dataType: "json",
                data: {
                    type: "pc",
                    username: $('#username1').val(),
                    password: $('#password1').val(),
                    geetest_challenge: validate.geetest_challenge,
                    geetest_validate: validate.geetest_validate,
                    geetest_seccode: validate.geetest_seccode
                },
                success: function (data) {
                    // if (data && (data.status === "success")) {
                        window.location.href='/webmaster/web/list';
                    // } else {
                        // $(document.body).html('<h1>登录失败</h1>');
                    // }
                }
            });

        });
        captchaObja = captchaObj;
        // 将验证码加到id为captcha的元素里
        captchaObj.appendTo("#popup-captcha");
    };

    // 验证开始需要向网站主后台获取id，challenge，success（是否启用failback）
    $.ajax({
        url: "/webmaster/index/verify?type=pc&t=" + (new Date()).getTime(), // 加随机数防止缓存
        type: "get",
        dataType: "json",
        success: function (data) {
            // 使用initGeetest接口
            // 参数1：配置参数
            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                product: "popup", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
            }, handlerPopup);
        }
    });
</script>
{/block}

{include  file="public:footer" /}