<!--顶部导航-->
<div class="container-fluid">
	<a href="" id="brand">广告商后台</a>
	<ul class="main-nav">
		<li><a href="/home/advertiser/homePage"><i></i><span>我的首页</span></a></li>
		<!--<li><a href="/home/advertiser/planlist"><i></i><span>计划管理</span></a></li>-->
		<!--<li><a href="/home/advertiser/adslist"><i></i><span>广告管理</span></a></li>-->
		<li><a href="/home/advertiser/summaryReport"><i></i><span>效果报告</span></a></li>
	</ul>
	<div class="user">
		<ul class="icon-nav">
			<li class="dropdown" title="用户名"><a href="">{$advertiser_login_name.username}</a></li>
			<li class="dropdown" title="退出"><a href="/home/index/logout">登出</a></li>
		</ul>
	</div>
</div>
