<!--顶部导航-->
<div class="container-fluid">
	<a href="" id="brand">站长后台</a>
	<ul class="main-nav">
		<li><a href="/home/webmaster/myCenter"><i></i><span>我的首页</span></a></li>
		<li><a href="/home/webmaster/siteAdd"><i></i><span>新建网站</span></a></li>
		<li><a href="/home/webmaster/advertising"><i></i><span>我的广告</span></a></li>
		<!--<li><a href="/home/webmaster/activity"><i></i><span>活动广告</span></a></li>-->
		<li><a href="/home/webmaster/effectReport"><i></i><span>效果报告</span></a></li>
	</ul>
	<div class="user">
		<ul class="icon-nav">
			<li class="dropdown" title="用户名"><a href="">{$webmaster_login_name.username}</a></li>
			<li class="dropdown" title="退出"><a href="/home/index/logout">登出</a></li>

		</ul>
	</div>
</div>
