{extend name="public:advertiser-base" /}

{block name="main"}
    <div class="main_left">
        <div class="subnav">
            <!-- <div class="subnav-title">
                <a href="" class="toggle-subnav">
                    <i></i>
                    <span>计费模式</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li class="current"><a href="">所有计划</a></li>
                <li><a href="">CPC类</a></li>
            </ul> -->
        </div>
    </div>
    <div class="main" style="padding-top:10px;">
        <div class="mt30" style="height:30px;">
            <div class="breadcrumbs mt30">
                <ul>
                    <li><a href="">我的计划列表   »</a> 编辑计划</li>
                </ul>
            </div>
        </div>
        <div class="box">
            <form class="form-hor" action="/home/advertiser/planEdit" name="addform" method="post">
                <div class="box-content">
                    <div class="box-title">
                        <h3>
                            <i></i>基本信息
                        </h3>
                    </div>
                    <div class="control-group">
                        <label class="controls-label">计划名称</label>
                        <div class="controls">
                            <input class="input300 requir" name="pname" value="{$one.plan_name}" type="text"> <span class="erro">请输入计划名称</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="controls-label">计费模式</label>
                        <div class="controls">
                            <select disabled="">
                                <option >&nbsp;{$one.plan_type}&nbsp;</option>
                            </select>
                        </div>
                        <input type="hidden" name="ptype" value="{$one.plan_type}" />
                    </div>
                    <div class="control-group">
                        <label class="controls-label">投放设备</label>
                        <div class="controls control-input ery">
                            <input name="mobile_isacl" value="0" {if condition="$one['checkplan']['mobile']['isacl'] eq '0'"}checked{/if} checked="" type="radio" delivery="delivery">不限
                            <input name="mobile_isacl" value="1" {if condition="$one['checkplan']['mobile']['isacl'] eq '1'"}checked{/if} type="radio" delivery="delivery">
                            指定终端<span></span>
                            <ul style="display:none;">
                                <li><input name="mobile_data[]" {if condition="$one['mobile_data']['pc'] eq 'pc' "}checked{/if} value="pc" type="checkbox" acls="acls" >桌面电脑</li>
                                <li><input name="mobile_data[]" {if condition="$one['mobile_data']['ios'] eq 'ios' "}checked{/if} value="ios" type="checkbox" acls="acls">苹果IOS</li>
                                <li><input name="mobile_data[]" {if condition="$one['mobile_data']['android'] eq 'android' "}checked{/if} value="android" type="checkbox" acls="acls">Android</li>
                                <li><input name="mobile_data[]" {if condition="$one['mobile_data']['wp'] eq 'wp' "}checked{/if} value="wp" type="checkbox" acls="acls">微软WP</li>
                            </ul>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="controls-label">结算周期</label>
                        <div class="controls">
                            <select name="clearing">
                                <option {if condition="$one['clearing'] eq 'month' "}selected{/if} value="month">月结项目</option>
                                <option {if condition="$one['clearing'] eq 'week' "}selected{/if} value="week">周结项目</option>
                                <option {if condition="$one['clearing'] eq 'day' "}selected{/if} value="day">日结项目</option>
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="controls-label">计划活动分类</label>
                        <div class="controls">
                            <select name="class_id" class="requir classification">
                                <option >选择分类</option>
                                {volist name="class_list['plan']" id="vo" }
                                <option  {if condition="$one['class_id'] eq $vo['class_id']" }selected{/if} value="{$vo.class_id}">{$vo.class_name}</option>
                                {/volist}
                            </select>
                            <span class="erro">请选择一个分类</span>
                        </div>
                    </div>
                    <div class="box-title">
                        <h3>
                            <i></i>出价与预算
                        </h3>
                    </div>
                    <div class="control-group">
                        <label class="controls-label">移动设备出价</label>
                        <div class="controls">
                            <input  class="input-text input1" name="mobile_price" value="{$one.mobile_price}" type="text"><span>倍 为电脑设备的几倍</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="controls-label">每日限额</label>
                        <div class="controls">
                            <input  class="input-text input1 requir" name="budget" value="{$one.budget}" type="text"> <span class="erro">请输入限额</span> <span> 达到每日预算限额时，广告就会在当天停止展示</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="controls-label">价格说明</label>
                        <div class="controls">
                            <input class="input-text input1" name="price_info" value="{$one.price_info}" type="text"><span>广告计费简要说明</span>
                        </div>
                    </div>
                    <div class="box-title">
                        <h3>
                            <i></i>结束日期
                        </h3>
                    </div>
                    <div class="control-group">
                        <label class="controls-label">结束日期</label>
                            <div class="controls control-input">
                                <input style="margin-top:8px; margin-bottom:20px;" name="expire_date" {if condition="$one['expire_date']['isdate'] eq '0'"}checked{/if} value="0" checked="checked" type="radio" expire_date="expire_date">没有结束日期<span></span><br>
                                <input name="expire_date" {if condition="$one['expire_date']['isdate'] eq '1'"}checked{/if} value="1" type="radio" expire_date="expire_date">
                                <input type="hidden" name="hid_date_year" value="{$one['expire_date']['year']}" />
                                <input type="hidden" name="hid_date_month" value="{$one['expire_date']['month']}" />
                                <input type="hidden" name="hid_date_day" value="{$one['expire_date']['day']}" />
                                <select class="sel_year" id="expire_year" name="expire_year" sel='no'>
                                    <option value="2016">2016年</option>
                                    <option value="2017">2017年</option>
                                    <option value="2018">2018年</option>
                                    <option value="2019">2019年</option>
                                    <option value="2020">2020年</option>
                                </select>
                                <select class="sel_month" id="expire_month" name="expire_month" sel='no'>
                                    <option value="1">1月</option>
                                    <option value="2">2月</option>
                                    <option value="3">3月</option>
                                    <option value="4">4月</option>
                                    <option value="5">5月</option>
                                    <option value="6">6月</option>
                                    <option value="7">7月</option>
                                    <option value="8">8月</option>
                                    <option value="9">9月</option>
                                    <option value="10">10月</option>
                                    <option value="11">11月</option>
                                    <option value="12">12月</option>
                                </select>
                                <select class="sel_day" id="expire_day" name="expire_day"  sel='no'>
                                    <option value="1">1日</option>
                                    <option value="2">2日</option>
                                    <option value="3">3日</option>
                                    <option value="4">4日</option>
                                    <option value="5">5日</option>
                                    <option value="6">6日</option>
                                    <option value="7">7日</option>
                                    <option value="8">8日</option>
                                    <option value="9">9日</option>
                                    <option value="10">10日</option>
                                    <option value="11">11日</option>
                                    <option value="12">12日</option>
                                    <option value="13">13日</option>
                                    <option value="14">14日</option>
                                    <option value="15">15日</option>
                                    <option value="16">16日</option>
                                    <option value="17">17日</option>
                                    <option value="18">18日</option>
                                    <option value="19">19日</option>
                                    <option value="20">20日</option>
                                    <option value="21">21日</option>
                                    <option value="22">22日</option>
                                    <option value="23">23日</option>
                                    <option value="24">24日</option>
                                    <option value="25">25日</option>
                                    <option value="26">26日</option>
                                    <option value="27">27日</option>
                                    <option value="28">28日</option>
                                    <option value="29">29日</option>
                                    <option value="30">30日</option>
                                    <option value="31">31日</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="box-title">
                        <h3>
                            <i></i>定向设置
                        </h3>
                    </div>
                    <div class="control-group control-padding">
                        <label class="controls-label">投放地域</label>
                        <div class="controls control-input gion">
                            <input name="city_isacl" value="0"  {if condition="$one['checkplan']['city']['isacl'] eq '0'" } checked {/if} type="radio" directional="directional">不限
                            <input name="city_isacl" value="1" {if condition="$one['checkplan']['city']['isacl'] eq '1'" } checked {/if} type="radio" directional="directional">
                            选择地域
                            <div class="t-show-hide" style="display:none;">
                                <div style="margin-top:10px;">
                                    <input name="comparison" value="1" {if condition="$one['checkplan']['city']['comparison'] eq '1'" } checked {/if} checked="" type="radio">允许
                                    <input name="comparison" value="0" {if condition="$one['checkplan']['city']['comparison'] eq '0'" } checked {/if} type="radio">拒绝
                                </div>
                                <div style="margin-top:10px; margin-left:-50px;">
                                    <script src="__JS__/plan.js"></script>
                                    <script language="JavaScript">
                                        var _province = "{$one['province']}";
                                        var _city = "{$one['city']}";
                                        var _c = acity();
                                        document.write(_c);
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group control-padding">
                        <label class="controls-label">网站类型</label>
                        <div class="controls control-input feather">
                            <input name="site_isacl" value="0" checked="checked" type="radio" Sitetype="Sitetype">不限
                            <input name="site_isacl" value="1" type="radio" Sitetype="Sitetype">
                            指定类目
                            <div class="w-show-hide" style="display:none;">
                                <div style="margin-top:10px;">
                                    <input name="choose" checked="" type="radio" value="1" >允许
                                    <input name="choose"  type="radio" value="0" >拒绝
                                </div>
                                <div style="margin-top:10px;">
                                    <ol class="area" style="display:block;">
                                        {volist name="class_list['site']" id="vo" }
                                        <li>
                                            <input class="site_check" name="site_data[]" value="{$vo.class_id}" type="checkbox">
                                            <label>{$vo.class_name}</label>
                                        </li>
                                        {/volist}
                                        <input type="hidden" name="" value="">
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="control-group control-padding">
                        <label class="controls-label">周期日程</label>
                        <div class="controls control-input dule">
                            <input name="week_isacl" value="0" {if condition="$one['checkplan']['week']['isacl'] eq '0'" } checked {/if}  type="radio" cycle="cycle">不限
                            <input name="week_isacl" value="1" {if condition="$one['checkplan']['week']['isacl'] eq '1'" } checked {/if} type="radio" cycle="cycle">
                            设定周期日程
                            <div class="r-show-hide" style="margin-top:10px; display:none;">
                                <ol class="schedule-list" style="display:block; margin-top:20px;">
                                    <li>
                                        <ol class="schedule sch1">
                                            <li class="sunday"><label for=""><input type="checkbox" class="weekdata1"  name="week_data[1]" value="1">星期一</label></li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="0"></label><br>0</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="1"></label><br>1</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="2"></label><br>2</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="3"></label><br>3</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="4"></label><br>4</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="5"></label><br>5</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="6"></label><br>6</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="7"></label><br>7</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="8"></label><br>8</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="9"></label><br>9</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="10"></label><br>10</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="11"></label><br>11</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="12"></label><br>12</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="13"></label><br>13</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="14"></label><br>14</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="15"></label><br>15</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="16"></label><br>16</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="17"></label><br>17</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="18"></label><br>18</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="19"></label><br>19</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="20"></label><br>20</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="21"></label><br>21</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="22"></label><br>22</li>
                                            <li><label for=""><input type="checkbox" name="week_data[1][]" value="23"></label><br>23</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <ol class="schedule sch2">
                                            <li class="sunday">
                                                <label><input  class="weekdata2"  name="week_data[2]" value="2" type="checkbox">星期二</label>
                                            </li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="0"></label><br>0</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="1"></label><br>1</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="2"></label><br>2</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="3"></label><br>3</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="4"></label><br>4</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="5"></label><br>5</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="6"></label><br>6</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="7"></label><br>7</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="8"></label><br>8</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="9"></label><br>9</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="10"></label><br>10</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="11"></label><br>11</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="12"></label><br>12</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="13"></label><br>13</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="14"></label><br>14</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="15"></label><br>15</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="16"></label><br>16</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="17"></label><br>17</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="18"></label><br>18</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="19"></label><br>19</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="20"></label><br>20</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="21"></label><br>21</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="22"></label><br>22</li>
                                            <li><label for=""><input type="checkbox" name="week_data[2][]" value="23"></label><br>23</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <ol class="schedule sch3">
                                            <li class="sunday">
                                                <label><input  class="weekdata3"  name="week_data[3]" value="3" type="checkbox">星期三</label>
                                            </li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="0"></label><br>0</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="1"></label><br>1</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="2"></label><br>2</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="3"></label><br>3</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="4"></label><br>4</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="5"></label><br>5</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="6"></label><br>6</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="7"></label><br>7</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="8"></label><br>8</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="9"></label><br>9</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="10"></label><br>10</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="11"></label><br>11</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="12"></label><br>12</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="13"></label><br>13</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="14"></label><br>14</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="15"></label><br>15</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="16"></label><br>16</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="17"></label><br>17</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="18"></label><br>18</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="19"></label><br>19</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="20"></label><br>20</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="21"></label><br>21</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="22"></label><br>22</li>
                                            <li><label for=""><input type="checkbox" name="week_data[3][]" value="23"></label><br>23</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <ol class="schedule sch4">
                                            <li class="sunday">
                                                <label><input  class="weekdata4"  name="week_data[4]" value="4" type="checkbox">星期四</label>
                                            </li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="0"></label><br>0</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="1"></label><br>1</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="2"></label><br>2</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="3"></label><br>3</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="4"></label><br>4</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="5"></label><br>5</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="6"></label><br>6</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="7"></label><br>7</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="8"></label><br>8</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="9"></label><br>9</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="10"></label><br>10</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="11"></label><br>11</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="12"></label><br>12</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="13"></label><br>13</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="14"></label><br>14</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="15"></label><br>15</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="16"></label><br>16</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="17"></label><br>17</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="18"></label><br>18</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="19"></label><br>19</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="20"></label><br>20</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="21"></label><br>21</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="22"></label><br>22</li>
                                            <li><label for=""><input type="checkbox" name="week_data[4][]" value="23"></label><br>23</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <ol class="schedule sch5">
                                            <li class="sunday">
                                                <label><input  class="weekdata5"  name="week_data[5]" value="5" type="checkbox">星期五</label>
                                            </li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="0"></label><br>0</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="1"></label><br>1</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="2"></label><br>2</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="3"></label><br>3</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="4"></label><br>4</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="5"></label><br>5</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="6"></label><br>6</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="7"></label><br>7</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="8"></label><br>8</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="9"></label><br>9</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="10"></label><br>10</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="11"></label><br>11</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="12"></label><br>12</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="13"></label><br>13</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="14"></label><br>14</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="15"></label><br>15</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="16"></label><br>16</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="17"></label><br>17</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="18"></label><br>18</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="19"></label><br>19</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="20"></label><br>20</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="21"></label><br>21</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="22"></label><br>22</li>
                                            <li><label for=""><input type="checkbox" name="week_data[5][]" value="23"></label><br>23</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <ol class="schedule sch6">
                                            <li class="sunday">
                                                <label><input  class="weekdata6"  name="week_data[6]" value="6" type="checkbox">星期六</label>
                                            </li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="0"></label><br>0</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="1"></label><br>1</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="2"></label><br>2</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="3"></label><br>3</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="4"></label><br>4</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="5"></label><br>5</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="6"></label><br>6</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="7"></label><br>7</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="8"></label><br>8</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="9"></label><br>9</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="10"></label><br>10</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="11"></label><br>11</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="12"></label><br>12</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="13"></label><br>13</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="14"></label><br>14</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="15"></label><br>15</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="16"></label><br>16</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="17"></label><br>17</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="18"></label><br>18</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="19"></label><br>19</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="20"></label><br>20</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="21"></label><br>21</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="22"></label><br>22</li>
                                            <li><label for=""><input type="checkbox" name="week_data[6][]" value="23"></label><br>23</li>
                                        </ol>
                                    </li>
                                    <li>
                                        <ol class="schedule sch7">
                                            <li class="sunday">
                                                <label><input  class="weekdata7"  name="week_data[7]" value="7" type="checkbox">星期日</label>
                                            </li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="0"></label><br>0</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="1"></label><br>1</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="2"></label><br>2</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="3"></label><br>3</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="4"></label><br>4</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="5"></label><br>5</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="6"></label><br>6</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="7"></label><br>7</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="8"></label><br>8</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="9"></label><br>9</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="10"></label><br>10</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="11"></label><br>11</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="12"></label><br>12</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="13"></label><br>13</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="14"></label><br>14</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="15"></label><br>15</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="16"></label><br>16</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="17"></label><br>17</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="18"></label><br>18</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="19"></label><br>19</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="20"></label><br>20</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="21"></label><br>21</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="22"></label><br>22</li>
                                            <li><label for=""><input type="checkbox" name="week_data[7][]" value="23"></label><br>23</li>
                                        </ol>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="controls-label"><button class="btn btn-primary">提交</button></label>
                    </div>
                <input type="hidden" name="pid" value="{$one.pid}" />
                </form>
            </div>
        </div>
    </div>
{if condition="$one.cmd_flag eq '1'"}
<div class="al_box" style="position:fixed; top:80px; right:0; color:#444; width:280px; height:32px; line-height:32px; background:#d5ffce; text-indent:10px; border:1px solid #9adf8f;">保存成功</div>
{/if}
{/block}


{block name="js"}
<script src="__JS__/plan.js"></script>
<script src="__JS__/plan_add.js"></script>
<script type="text/javascript">
    $(function(){
        //全选------全不选
        $(".sunday").click(function(){
            if ($(this).children().children().prop("checked")==true) { // 全选
                $(this).siblings().find('input').prop("checked",true);
            } else { // 取消全选
                $(this).siblings().find('input').prop("checked",false);
            }
        })
        //submit提交
        $("form").submit(function(){
            var flag = true;
            $(".requir").each(function(){
                if($(this).val() == ""){
                    $(this).next().css("display","inline");
                    $(this).focus();
                    $("html,body").animate({scrollTop:0}, 0);
                    flag = false;
                }
                if($(".classification").val() == "选择分类"){
                    $(this).next().css("display","inline");
                    flag = false;
                }
            })
            // var _this = $(".classification").val();
            if(!flag){
                return false;
            }
        })

        //选择分类
        $(".classification").change(function(){
            var value = $(this).val();
            if(value == "选择分类"){
                $(this).next().css("display","inline");
                return true;
            }else{
                $(this).next().css("display","none");
                return false;
            }
        })

        $("input[directional='directional']").click(function(){
            var c = $(this).val();
            if (c == 0) {
                $(".t-show-hide").hide();
            } else {
                $(".t-show-hide").show();
                acity();
            };
        })
        $("input[Sitetype='Sitetype']").click(function(){
            var c = $(this).val();
            if (c == 0) {
                $(".w-show-hide").hide();
            } else {
                $(".w-show-hide").show();
            };
        });
        $("input[delivery='delivery']").click(function(){
            var c = $(this).val();
            if (c == 0) {
                $("input[acls='acls']").parent().parent().hide();
            } else if (c == 1) {
                $("input[acls='acls']").parent().parent().css("display","flex");
            };
        })
        $("input[expire_date='expire_date']").click(function(){
            var c = $(this).val();
            if (c == 0) {
                $("select[sel='no']").attr("disabled",true);
            } else {
                $("select[sel='no']").attr("disabled",false);
            };
        })

        //--------------------
        var year = $('input[name="hid_date_year"]').val();
        var month = $('input[name="hid_date_month"]').val();
        var day = $('input[name="hid_date_day"]').val();
        if(year!=''){
            $('.sel_year option[value='+year+']').attr('selected','true');
        }
        if(month!=''){
            $('.sel_month option[value='+month+']').attr('selected','true');
        }
        if(day!=''){
            $('.sel_day option[value='+day+']').attr('selected','true');
        }
        //网站分类 checked
        var sitedata = {$one['sitedata']|default="'null'"};
        if('null'!=sitedata){
            for(i=0;i<sitedata.length;i++) {
                $('.area input[value='+sitedata[i]+']').attr('checked','true');
            }
        }
        //时间 checked
        var weekdata = {$one['weekdata']|default="'null'"};//json为接收的后台返回的数据；
        if('null'!=weekdata){
            for(i=1;i<=7;i++) {
                if(weekdata[i] != null){
                    $('.sch'+i+' .weekdata'+i+'').attr('checked','true');
                    for(j=0;j<weekdata[i].length;j++) {
                        $('.sch'+i+'  input[value='+weekdata[i][j]+'] ').attr('checked','true');
                    }
                }
            }
        }
        $(".al_box,body").click(function(){
            setTimeout(function(){
                $(".al_box").css("display","none");},3000);
        })
        $("input[cycle='cycle']").click(function(){
            var c = $(this).val();
            if (c == 0) {
                $(".r-show-hide").hide();
            } else {
                $(".r-show-hide").show();
            };
        });
        //投放地域
        $('.gion > input').each(function(){
            if($(this).val() == '1' && $(this).is(":checked")){
                $('.t-show-hide').css('display','block');
            }
        })
        //网站类型
        $('.feather > input').each(function(){
            if($(this).val() == '1' && $(this).is(":checked")){
                $('.w-show-hide').css('display','block');
            }
        })
        //周期日程
        $('.dule > input').each(function(){
            if($(this).val() == '1' && $(this).is(":checked")){
                $('.r-show-hide').css('display','block');
            }
        })
    })
</script>
{/block}


