{extend name="public:advertiser-base" /}

{block name="main"}
    <!--充值记录-->
    <div class="main_left">
        <div class="subnav">
            <div class="subnav-title">
                <a href="" class="toggle-subnav">
                    <i></i>
                    <span>我的概括</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li><a href="/home/advertiser/homePage">我的概括</a></li>
                <li><a href="/home/advertiser/accountEdit">账户设置</a></li>
                <!-- <li><a href="/home/advertiser/apply">审批申请</a></li> -->
                <li><a href="/home/advertiser/recharge">充值记录</a></li>
                <!-- <li><a href="/home/advertiser/message">消息中心</a></li> -->
            </ul>
        </div>
    </div>
    <div class="main" style="padding-top:10px;">
        <!-- <div class="alert alert-info" style="margin-top:10px;">
            <p><a href="/admin/paylog/rechaegelog" class="btn btn-primary">马上充值»</a></p>
        </div> -->
        <div class="box">
            <div class="box-title">
                <h3>
                    <i></i>充值记录
                </h3>
            </div>
            <div class="box-content">
                <table class="table">
                    <tr>
                        <th>日期</th>
                        <th>充值金额</th>
                        <th>账户余额</th>
                        <th>备注</th>
                        <th>状态</th>
                    </tr>
                    {volist name="recharge" id="vo"}
                     <tr class="unread">
                        <!-- <td rowspan="1" colspan="1" style=""></td> -->
                        <td>{$vo.ctime|date="Y-m-d H:i:s",###}</td>
                        <td>{$vo.rechargeMoney|default='0'|decimal}</td>
                        <td>{$vo.money|default='0'|decimal}</td>
                        <td>{$vo.payinfo|default='空'}</td>
                        <td>充值成功</td>
                    </tr>
                    {/volist}
                </table>
            </div>
        </div>
    </div>
{/block}

{block name="js"}

{/block}
