<!DOCTYPE HTML>
<html>
<link href="/admin/CSS/main.css" rel="stylesheet" />
<link href="/admin/CSS/font-awesome.min.css" rel="stylesheet">
<link href="__STATIC__/css/bootstrap.min.css" rel="stylesheet" />
<body>
<div style="width:100%; height:100%; background:#f8f8f8;  padding: 50px 0;">
    <form action="" method="post" class="form-login">
        <h2>注册新用户</h2>
        <input class="form-control" type="text" name="username" value="" placeholder="请输入用户名"/>
        <input class="form-control" type="password" name="password" value="" placeholder="请输入密码"/>
        <br/>
        <span style="padding-right: 50%;"><input type="radio" name="type" value="1"/>网站站长</span><span><input name="type"  type="radio" value="2"/>广告商</span><br/><br/>
        <div id="embed-captcha"></div>
        <p id="wait" class="show">正在加载验证码......</p>
        <p id="notice" class="hide">请先拖动验证码到相应位置</p>

        <button class="btn btn-lg btn-primary btn-block" id="embed-submit" type="submit">注册</button>
    </form>
</div>
</body>
</html>


{block name="js"}

<script src="//code.jquery.com/jquery-1.12.3.min.js"></script>
<script src="//static.geetest.com/static/tools/gt.js"></script>
<script type="text/javascript">
    var handlerEmbed = function (captchaObj) {
        $("#embed-submit").click(function(e) {
            var validate = captchaObj.getValidate();
            if (!validate) {
                $("#notice")[0].className = "show";
                setTimeout(function () {
                    $("#notice")[0].className = "hide";
                }, 2000);
                e.preventDefault();
            }
        });
        // 将验证码加到id为captcha的元素里，同时会有三个input的值：geetest_challenge, geetest_validate, geetest_seccode
        captchaObj.appendTo("#embed-captcha");
        captchaObj.onReady(function () {
            $("#wait")[0].className = "hide";
        });
        // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
    };
    $.ajax({
        // 获取id，challenge，success（是否启用failback）
        url: "/home/index/verify?type=pc&t=" + (new Date()).getTime(), // 加随机数防止缓存
        type: "get",
        dataType: "json",
        success: function (data) {

            // 使用initGeetest接口
            // 参数1：配置参数
            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                product: "embed", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
                // 更多配置参数请参见：http://www.geetest.com/install/sections/idx-client-sdk.html#config
            }, handlerEmbed);
        }
    });

</script>
{/block}
