{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
        <h3 class="heading" style="display:none;">新建 角色</h3>
        <div class="row-plan row-fluid" style="padding-top:20px;">
            <div class="">
                <form action="/admin/setting/updateAuth" name="addform" method="post" enctype="multipart/form-data" >
                    <div class="pl-tab">
                        <div class="control-group control-padding" style="display:none;">
                            <label class="control-label">角色名称</label>
                            <div class="controls">
                                <input id="" name="" value="" type="text">
                            </div>
                        </div>
                        <h3 class="heading">权限设置 <input class="checkedAll" type="checkbox" name="" value="" data-name="data-name"></h3>
                        <div class="control-group control-padding">
                            <label class="control-label">基本设置</label>
                            <div class="controls controls_auth">
                                {volist name="data.setting" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">扣量设置</label>
                            <div class="controls controls_auth">
                                {volist name="data.deduction" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">会员管理</label>
                            <div class="controls controls_auth">
                                {volist name="data.users" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">计划管理</label>
                            <div class="controls controls_auth">
                                {volist name="data.plan" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">广告管理</label>
                            <div class="controls controls_auth">
                                {volist name="data.ads" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">广告模板管理</label>
                            <div class="controls controls_auth">
                                {volist name="data.adtpl" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">网站与广告位</label>
                            <div class="controls controls_auth">
                                {volist name="data.site" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">网站分类</label>
                            <div class="controls controls_auth">
                                {volist name="data.classes" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">数据报表</label>
                            <div class="controls controls_auth">
                                {volist name="data.report" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>

                        <div class="control-group control-padding">
                            <label class="control-label">数据监控</label>
                            <div class="controls controls_auth">
                                {volist name="data.monitor" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">财务相关</label>
                            <div class="controls controls_auth">
                                {volist name="data.paylog" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">辅助功能</label>
                            <div class="controls controls_auth">
                                {volist name="data.Auxiliary" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">操作日志</label>
                            <div class="controls controls_auth">
                                {volist name="data.Operationlog" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">广告位域名</label>
                            <div class="controls controls_auth">
                                {volist name="data.Adzdomain" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">IOS大点击</label>
                            <div class="controls controls_auth">
                                {volist name="data.bigclick" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">Android大点击</label>
                            <div class="controls controls_auth">
                                {volist name="data.clickcpm" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>

                        <div class="control-group control-padding">
                            <label class="control-label">cpa产品分类</label>
                            <div class="controls controls_auth">
                                {volist name="data.Cpatype" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                       <div class="control-group control-padding">
                            <label class="control-label">附加功能</label>
                            <div class="controls controls_auth">
                                {volist name="data.Tackjs" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                       <div class="control-group control-padding">
                            <label class="control-label">测试管理</label>
                            <div class="controls controls_auth">
                                {volist name="data.Newtest" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">权限管理</label>
                            <div class="controls controls_auth">
                                {volist name="data.auth" id="vo" }
                                <input id="" name="roles[]" value="{$vo.id}" type="checkbox" data-name="data-name">{$vo.title}
                                {/volist}
                            </div>
                        </div>
                        <input class="input-text input1" type="hidden" name="uid" value="{$auth.0.group_id}" />
                    </div>
                    <div class="control-group" style="padding-bottom:50px;">
                        <div class="controls">
                            <button class="btn btn-primary" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="js"}
<script>
    var data = [{$auth[0]['rules']|default="null"}];
    if(data !="null"){
        for(var i=0;i<data.length;i++) {
            $('.controls_auth input[value='+data[i]+']').prop('checked',true);
        }
    }
</script>
{/block}
