{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
        <h3 class="heading">权限列表</h3>
        <div class="dataTables-wrapper">
            <table class="dataTable" name="users-list" >
                <tr role="row">
                    <th>登录ID</th>
                    <th>登录名称</th>
                    <th>角色</th>
                    <th>操作</th>
                </tr>
                {volist name="one" id="vo" }
                <tr class="unread">
                    <td>{$vo.uid}</td>
                    <td>{$vo.username}</td>
                    <td>{$vo.title}</td>
                    <td>
                        <a href="/admin/setting/authEdit?uid={$vo.uid}">编辑</a>
                    </td>
                </tr>
                {/volist}
            </table>
            <div class="row"></div>
        </div>
    </div>
</div>
<!-- end wrapper -->
{/block}

{block name="js"}

{/block}