{extend name="public:base" /}


{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
        <h3 class="heading">服务器设置</h3>
        <div id="content">
            <form action="" name="basicform" method="post">
                <!--<div class="control-group">-->
                    <!--<label class="control-label control-label-left">主站服务器IP</label>-->
                    <!--<div class="controls control-input">-->
                        <!--<input class="input-text input1" type="text" name="main_server" value="{$setting_service.main_server|default='空'}" />-->
                        <!--<span>联盟主站所在服务器的IP 多IP用 ‘,’ 分割 如：192.168.1.1,192.168.1.2</span>-->
                    <!--</div>-->
                <!--</div> -->
                <div class="control-group">
                    <label class="control-label control-label-left">JS服务器</label>
                    <div class="controls control-input">
                        <input class="input-text input1" type="url" name="js_server" value="{$setting_service.js_server|default='空'}" placeholder="http://www.baidu.com" />
                        <span>JS调用服务器 可部署CDN 分布式存储 负载均衡</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label control-label-left">图片服务器</label>
                    <div class="controls control-input">
                        <input class="input-text input1" type="url" name="img_server" value="{$setting_service.img_server|default='空'}" placeholder="http://www.baidu.com"/>
                        <span>图片储存服务器 可部署CDN/Squid 分布式存储 负载均衡</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label control-label-left">跳转服务器</label>
                    <div class="controls control-input">
                        <input class="input-text input1" type="url" name="jump_server" value="{$setting_service.jump_server|default='空'}" placeholder="http://www.baidu.com"/>
                        <span>广告跳转服务器</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label control-label-left">https服务器</label>
                    <div class="controls control-input">
                        <input class="input-text input1" type="url" name="https_server" value="{$setting_service.https_server|default='空'}" placeholder="https://www.baidu.com"/>
                        <span>https服务器</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label control-label-left">广告域名服务器</label>
                    <div class="controls control-input">
                        <input class="input-text input1" type="url" name="adv_server" value="{$setting_service.adv_server|default='空'}" placeholder="https://www.baidu.com"/>
                        <span>广告域名服务器 &nbsp;&nbsp;&nbsp;&nbsp;对应redis里面的 $sredis->redirect_url 值</span>
                    </div>
                </div>
                <div class="sbut">
                    <button class="btn btn-primary" type="submit">保存设置</button>
                </div>  
            </form>
        </div>
    </div>
{if condition="$setting_service.keep eq '1'"}
<div class="al_box" style="position:fixed; top:80px; right:0; color:#444; width:280px; height:32px; line-height:32px; background:#d5ffce; text-indent:10px; border:1px solid #9adf8f;">保存成功</div>
{/if}
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    $(".al_box,body").click(function(){
        setTimeout(function(){
            $(".al_box").css("display","none");},3000);
    })
</script>
{/block}