{extend name="public:station-base" /}

{block name="main"}
<style type="text/css">
    .bottombox { width:100%;padding-left: 90%; position:fixed; bottom:10px; font-size: 20px; }
    a:link,a:visited{ text-decoration:none;  }
</style>
    <div class="main_left">
        <div class="subnav">
            
            <!-- <div class="subnav-title">
                <a href="" class="toggle-subnav">
                    <i></i>
                    <span>我的概括</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li><a href="http://www.lzbd.com/home/webmaster/myCenter">我的概括</a></li>
                <li><a href="http://www.lzbd.com/home/webmaster/account">账户设置</a></li>
                <li class="current"><a href="http://www.lzbd.com/home/webmaster/siteList">网站管理</a></li>
                <li><a href="">付款记录</a></li>
                <li><a href="">消息中心</a></li>
            </ul> -->
        </div>
    </div>
    <div class="main" style="padding-top:10px;">
        <div class="breadcrumbs mt30">
            <ul>
                <li><a href="/home/webmaster/advertising">我的广告位   »</a> 新建广告位</li>
            </ul> 
        </div>
        {if condition="$ads_res eq null "}
        <div style="color: red;">没有可以投放的广告</div>
        {else/}
        <div class="box">
            <form action="" class="form-hor" method="post">
                <div class="box-content">
                    <div class="box-title" style="margin-bottom:40px;">
                        <h3>
                            <i></i>基本信息
                        </h3>
                    </div>
                    <div class="control-group">
                        <label class="controls-label">计费方式</label>
                        <div class="controls">
                            {volist name="res['ptype']" id="vo"}
                            <input type="radio" name="pltype" value="{$vo.plan_type}" ptname="{$vo.plan_type}" {if condition="$res['getType'] eq $vo.plan_type"} checked {elseif condition="$i eq 1"} checked {/if} >{$vo.plan_type}
                            {/volist}
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">广告位名称</label>
                        <div class="controls">
                            <input type="text" name="name" class="input300 required" value="{$data.name}" > <span class="erro">请输入广告位名称</span>
                        </div>
                    </div>
                    <!--<div class="control-group">-->
                        <!--<label class="controls-label">星级</label>-->
                        <!--<div class="controls" style="margin-top:4px;">-->
                            <!--<input class="input-text" name="star" type="radio" value="1" checked="">-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#cdcdcd;"></i>-->
                            <!--<input class="input-text" name="star" type="radio" value="2">-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<input class="input-text" name="star" type="radio" value="3">-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<input class="input-text" name="star" type="radio" value="4">-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<input class="input-text" name="star" type="radio" value="5">-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="control-group">
                        <label for="" class="controls-label">广告类型</label>
                        <div class="controls">
                            <select name="zonelei" style="width:160px;">
                                {volist name="data.adtype" id="vo"}
                                <option value="{$vo.tpl_id}" data="{$vo.type|default=''}" {if condition="$data['zonelei'] eq $vo.tpl_id"}selected {/if} >{$vo.tplname}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>

                    <div>
                        {if condition="$data['html']['control_name'][0] neq null"}
                        {for start="0" end="count($data['html']['control_text'])"}
                        <label for="" class="controls-label">{$data['html']['control_text'][$i]}</label>
                        <div class="controls">
                            <input type="{$data['html']['control_type'][$i]}" name="{$data['html']['control_name'][$i]}[]" {if condition="$data['html']['control_id'][$i] eq 'checked' "}checked {/if} value="{$data['html']['control_describe'][$i]}" />
                        </div>

                        {/for}
                        {/if}
                    </div>

                    <div class="control-group">
                        <label for="" class="controls-label">广告尺寸</label>
                        <div class="controls">
                            <select id="gsize" name="gsize" style="width:160px;">
                                {volist name="data['zSize']" id="vo"}
                                <option value="{$vo.width}*{$vo.height}" {if condition="$data['gsize'] eq $vo['width'].'*'.$vo['height']"}selected {/if} >{$vo.width}*{$vo.height}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">显示效果</label>
                        <div class="controls">
                            <select id="claid" name="claid" style="width:160px;">
                                {volist name="data['effect']" id="vo"}
                                {if condition="$vo.stylename eq 'Banner图片'"}
                                <option value="{$vo.style_id}">{$vo.stylename}</option>
                                {elseif condition="$vo.stylename eq '居中插屏'"}
                                <option value="{$vo.style_id}">{$vo.stylename}</option>
                                {elseif condition="$vo.stylename eq '右侧漂浮'"}
                                <option value="{$vo.style_id}">{$vo.stylename}</option>
                                {elseif condition="$vo.stylename eq '固定位置Banner'"}
                                <option value="{$vo.style_id}">{$vo.stylename}</option>
                                {elseif condition="$vo.stylename eq '顶部Banner'"}
                                <option value="{$vo.style_id}">{$vo.stylename}</option>
                                {elseif condition="$vo.stylename eq '文字广告'"}
                                <option value="{$vo.style_id}">{$vo.stylename}</option>
                                {elseif condition="$vo.stylename eq '图文组合'"}
                                <option value="{$vo.style_id}">{$vo.stylename}</option>
                                {elseif condition="$vo.stylename eq '文字组合'"}
                                <option value="{$vo.style_id}">{$vo.stylename}</option>
                                {elseif condition="$vo.stylename eq '两行文字广告'"}
                                <option value="{$vo.style_id}">{$vo.stylename}</option>
                                {elseif condition="$vo.stylename eq 'mip3字+5字广告'"}
                                <option value="{$vo.style_id}">{$vo.stylename}</option>
                                {elseif condition="$vo.stylename eq 'mip信息流广告'"}
                                <option value="{$vo.style_id}">{$vo.stylename}</option>
                                {elseif condition="$vo.stylename eq 'mipBanner+15字广告'"}
                                <option value="{$vo.style_id}">{$vo.stylename}</option>
                                {elseif condition="$vo.stylename eq 'mip纯文字15字'"}
                                <option value="{$vo.style_id}">{$vo.stylename}</option>
                                {elseif condition="$vo.stylename eq '固定BannerCPM'"}
                                <option value="{$vo.style_id}">{$vo.stylename}</option>
                                {/if}
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="control-group" id="layout">
                        <label for="" class="controls-label">广告位排版</label>
                        <div class="controls" >
                            <!--<input name="adz_type" value="3*1" type="radio" checked="checked"/>640*200 (3*1)-->
                            <!--<input name="adz_type" value="3*2" type="radio"/>640*400  (3*2)-->
                            <!--<input name="adz_type" value="3*3" type="radio"/>640*600   (3*3)-->
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">广告过滤</label>
                        <div class="controls">
                            <input type="radio" name="viewtype" id="smart" checked value="1" >智能轮播
                            <!--<input type="radio" name="viewtype" id="viewtype_s" value="2" >手动选择-->
                        </div>
                    </div>

                    <div id="gg" style="display:none;">
                        <input class="checkedAll" type="checkbox" data-name="name-data" id="smart2"/>全选 我们为你匹配到以下的广告<br/><br/>
                        {volist name="data['zoneFilter']" id="vo"}
                        <input type="checkbox" data-name="name-data" name="show_adid[]" value="{$vo.ad_id}"/>{$vo.plan_name}(Aid#{$vo.ad_id})
                        {switch name="$vo.gradation"}
                        {case value="0"}&nbsp;<br/>{/case}
                        {default /}&nbsp;<br/>
                        {/switch}
                        {if condition="$vo.imageurl != ''"}
                        {if condition="$vo.files eq '2'"}
                        <img class="small" src="{$vo.imageurl|default=''}" width="10%" height="10%"><br/>
                        {else/}
                        <img class="small" src="{$img.img_server|default=''}{$vo.imageurl|default=''}" width="10%" height="10%"><br/>
                        {/if}
                        {/if}
                        {/volist}
                    </div>

					<div class="control-group">
                        <label for="" class="controls-label">投放设备</label>
                        <div class="controls">
                            <input type="radio" name="system_type" id="smart" checked value="1" >ios+android
                            <input type="radio" name="system_type" id="smart" value="2" >ios
                            <input type="radio" name="system_type" id="smart" value="3" >android
                        </div>
                    </div>

                    <div class="form-actions" style="margin-top:60px; margin-bottom:60px;">
                        <button type="submit" class="btn btn-primary" id="submit">保存并获取代码</button>
                    </div>
                </div>
            </form>
        </div>
        {/if}
    </div>
<div class="bottombox" id="bb"><a href="javascript:void(0);" onclick="goBottom()">返回底部↓</a></div>
{/block}

{block name="js"}
<script>
    // 数据错误不可提交 removeAttr  attr
    if($("#claid").val() == null || undefined){
        $("#submit").attr("disabled",true);
    }else{
        $("#submit").removeAttr("disabled",false);
    }



    var size = $("select[name='gsize'] option:selected").val();
    var new_array = size.split('*');
    //长
    var width = new_array[0];
    //高
    var height = new_array[1];

    var text_adz = $("select[name='zonelei'] option:selected").text();
    if(text_adz.indexOf('文字')>0){
        var num = 7;
		var check_num = 3;
    }else{
        var num = 4;
		var check_num = 1;
    }
        

    //广告排版
    
    var info = '';
    for(var i = 1;i<num;i++){
        if(i == check_num){
            info += '<input name="adz_type" value='+3+'*'+i+' type="radio" ' +
                'checked="checked"/>'+(width * 3)+'*'+(height * i)+' '+ '('+3 +'*'+ i +')'+'&nbsp&nbsp&nbsp';
        }else{
            info += '<input name="adz_type" value='+3+'*'+i+' type="radio" ' +
            '/>'+(width * 3)+'*'+(height * i)+' '+ '('+3 +'*'+ i +')'+'&nbsp&nbsp&nbsp';
        }
        
    }
    $("#layout").children('div').html(info);

    //获取广告类型data 值
    var zong_type = $("select[name='zonelei'] option:selected").attr('data');
    if(zong_type == 2){
        //不显示广告排版
        $("#layout").css("display",'none');
        //不提交广告排版
        $("input[name='adz_type']").attr('value','');
    }else{
        //显示广告排版
        $("#layout").css("display",'block');
    }

    //计费方式
    $("input[name='pltype']").click(function(){
        location.href = "../../home/webmaster/activitAdd?pltype="+$(this).val()+"&ptname="+$("input[name='pltype']:checked").attr("ptname")+"&name="+name;
    })
    //广告类型
    $("select[name='zonelei'] ").change(function(){
        var pltype = $("input[name='pltype']:checked").val();
        var name = $("input[name='name']").val();

        location.href = "../../home/webmaster/activitAdd?pltype="+pltype+"&zonelei="+$(this).val()+"&ptname="+$("input[name='pltype']:checked").attr("ptname")+"&name="+name;

    })
    //广告尺寸
    $("#gsize").change(function(){
        //计费方式
        var pltype = $("input[name='pltype']:checked").val();
        //广告类型
        var zonelei = $("select[name='zonelei'] option:selected").val();
        var name = $("input[name='name']").val();
        location.href = "../../home/webmaster/activitAdd?pltype="+pltype+"&zonelei="+zonelei+"&gsize="+$(this).val()+"&ptname="+$("input[name='pltype']:checked").attr("ptname")+"&name="+name;
    })
    //智能轮播
    if($("#smart").attr('checked',true)){
        $("input[name='show_adid[]']").prop('checked',true);
    }

    $("#smart").click(function(){

        $("#gg").css('display','none');
        $("input[name='show_adid[]']").prop('checked',true);
    })

    // 手动选择
    $("#viewtype_s").click(function(){
        $("#gg").css('display','');
        $("#gsize option:selected").val()

        $("input[name='show_adid[]']").prop('checked',false);
    })
    //全选
    $("#smart2").click(function(){
        $("input[name='show_adid[]']").prop('checked',true);
    })

    // 表格全选与全不选
    $(".checkedAll").click(function(){
        var a = $(this).attr("data-name");
        if ($(this).prop("checked")==false) { // 全选 
            $("input[data-name="+a+"]").each(function () {
                $("input[name='show_adid[]']").prop('checked',false);
            });
        } else { // 取消全选 
            $("input[data-name="+a+"]").each(function () {
                $("input[name='show_adid[]']").prop('checked',true);
            });
        }
    })

    //鼠标移动到广告上放大
    $('.small').mouseenter(function(){
        var img = $(this).attr('src');
        $(this).css('width','640px');
    }).mouseleave(function(){
        $(this).css('width','10%');
    })

    //返回底部
    function goBottom() {
        window.scrollTo(0, document.documentElement.scrollHeight - document.documentElement.clientHeight);
    }


</script>
{/block}
