{extend name="public:station-base" /}

{block name="main"}
<style type="text/css">
    .bottombox { width:100%;padding-left: 90%; position:fixed; bottom:10px; font-size: 20px;  }
    a:link,a:visited{ text-decoration:none; }
</style>
    <div class="main_left">
        <div class="subnav">
            
            <!-- <div class="subnav-title">
                <a href="" class="toggle-subnav">
                    <i></i>
                    <span>我的概括</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li><a href="http://www.lzbd.com/home/Webmaster/myCenter">我的概括</a></li>
                <li><a href="http://www.lzbd.com/home/Webmaster/account">账户设置</a></li>
                <li class="current"><a href="http://www.lzbd.com/home/Webmaster/siteList">网站管理</a></li>
                <li><a href="">付款记录</a></li>
                <li><a href="">消息中心</a></li>
            </ul> -->
        </div>
    </div>
    <div class="main" style="padding-top:10px;">
        <div class="breadcrumbs mt30">
            <ul>
                <li><a href="/home/webmaster/advertising">我的广告位   »</a> 修改广告位</li>
            </ul> 
        </div>

        <div class="box">
            <form action="" class="form-hor" method="post">
                <div class="box-content">
                    <div class="box-title" style="margin-bottom:40px;">
                        <h3>
                            <i></i>基本信息
                        </h3>
                    </div>
                    <div class="control-group">
                        <label class="controls-label">计费方式</label>
                        <div class="controls">

                            <input type="radio" name="pltype" value="{$zlist.plan_type}" checked>{$zlist.plan_type}

                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">广告位名称</label>
                        <div class="controls">
                            <input type="text" name="name" class="input300 required" value="{$zlist.zonename}" > <span class="erro">请输入广告位名称</span>
                        </div>
                    </div>
                    <!--<div class="control-group">-->
                        <!--<label class="controls-label">星级</label>-->
                        <!--<div class="controls" style="margin-top:4px;">-->
                            <!--<input class="input-text" name="star" type="radio" value="1" {if condition="$zlist.star eq 1"} checked {/if}>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#cdcdcd;"></i>-->
                            <!--<input class="input-text" name="star" type="radio" value="2" {if condition="$zlist.star eq 2"} checked {/if}>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<input class="input-text" name="star" type="radio" value="3" {if condition="$zlist.star eq 3"} checked {/if}>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<input class="input-text" name="star" type="radio" value="4" {if condition="$zlist.star eq 4"} checked {/if}>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<input class="input-text" name="star" type="radio" value="5" {if condition="$zlist.star eq 5"} checked {/if}>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                            <!--<i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="control-group">
                        <label for="" class="controls-label">广告类型</label>
                        <div class="controls">
                                <input type="radio" name="zonelei"  checked>{$zlist.tplname}
                        </div>
                    </div>

                    <div class="zone">
                        {if condition="$data['html']['control_name'][0] neq null"}
                        {for start="0" end="count($data['html']['control_text'])"}
                        <label for="" class="controls-label">{$data['html']['control_text'][$i]}</label>
                        <div class="controls">
                            <input  type="{$data['html']['control_type'][$i]}" name="{$data['html']['control_name'][$i]}[]" {if condition='$data["html"]["control_id"][$i] eq "checked" '} checked {/if} value="{if condition='$data["minutes"] eq "" '}{$data['html']['control_describe'][$i]}{else/}{$data['minutes'][0]}{/if}" />
                        </div>
                        {/for}
                        {/if}
                    </div>

                    <div class="control-group">
                        <label for="" class="controls-label">广告尺寸</label>
                        <div class="controls">
                                <input type="radio" name="gsize"  checked>{$zlist.width}x{$zlist.height}
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">显示效果</label>
                        <div class="controls">
                            <select id="claid" name="claid" style="width:160px;">
                                {volist name="$data['effect']" id="vo"}
                                {if condition="$data['adstyle_id'] eq $vo.style_id"}<option value="{$vo.style_id}" selected >{$vo.stylename}</option>{/if}
                                {/volist}
                            </select>
                        </div>
                    </div>
                    {if condition="$zlist.type eq 2"}
                        <div class="control-group" id="layout">
                            <label for="" class="controls-label">广告位排版</label>
                            <div class="controls">
                                
                            </div>
                        </div>
                    {/if}
                    <div class="control-group">
                        <label for="" class="controls-label">广告过滤</label>
                        <div class="controls">

                            <input type="radio" name="viewtype" value="1" id="smart" {if condition="$zlist.viewtype eq 1"} checked {/if} >智能轮播
                            <!-- <input type="radio" name="viewtype" id="viewtype_s" value="2" {if condition="$zlist.viewtype eq 2"}checked {/if} >手动选择 -->
                        </div>
                    </div>

                    <div id="gg">
                    </div>

                    <div class="form-actions" style="margin-top:60px; margin-bottom:60px;">
                        <button type="submit" class="btn btn-primary">保存</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
<div class="bottombox" id="bb"><a href="javascript:void(0);" onclick="goBottom()">返回底部↓</a></div>
{/block}

{block name="js"}
<script>
    var data = {$data['zoneMo'] |default="null"};

    if(data !="null"){
        for(i=0;i<data.length;i++) {
            $('.zoneMo input[value='+data[i]+']').attr('checked','true');
        }
    }

    var datazonelei = {$data['zonelei'] | default="null"};
    if(datazonelei !="null"){
        for(i=0;i<datazonelei.length;i++) {
            $('.zone input[value='+datazonelei[i]+']').attr('checked','true');
        }
    }

    $("#smart").click(function(){

        $("input[name='show_adid[]']").prop('checked',true);
    })

    // 手动选择
    $("#viewtype_s").click(function(){
        $("#gg").css('display','');
        $("#gsize option:selected").val()

        $("input[name='show_adid[]']").prop('checked',false);
    })
    //全选
    // $("#smart2").click(function(){
    //     if($(".smart2").prop("checked") == false){
    //         $("input[name='viewadsid[]']").prop('checked',true);
    //     }else{
    //         $("input[name='viewadsid[]']").prop('checked',false);
    //     }
        
    // })

    // 表格全选与全不选
    $(".checkedAll").click(function(){
        var a = $(this).attr("data-name");
        if ($(this).prop("checked")==false) { // 全选 
            $("input[data-name="+a+"]").each(function () {
                $("input[name='show_adid[]']").prop('checked',false);
            });
        } else { // 取消全选 
            $("input[data-name="+a+"]").each(function () {
                $("input[name='show_adid[]']").prop('checked',true);
            });
        }
    })


    //  图片放大
    $('.small').mouseenter(function(){
        var img = $(this).attr('src');
        $(this).css('width','640px');
    }).mouseleave(function(){
        $(this).css('width','10%');
    })

    //返回底部
    function goBottom() {
        window.scrollTo(0, document.documentElement.scrollHeight - document.documentElement.clientHeight);
    }

    //广告排版
    //高
    var height = {$zlist.height};
    var width = {$zlist.width};

    var text_adz = "{$zlist.tplname}";
    if(text_adz.indexOf('文字')>0){
        var num = 7;
    }else{
        var num = 4;
    }
    var check = "{$zlist.adz_type}";
    var info = '';
    for(var i = 1;i<num;i++){
        if(check == 3+'*'+i){
            info += '<input name="adz_type" value='+3+'*'+i+' type="radio" ' +
                'checked="checked"/>'+(width * 3)+'*'+(height * i)+' '+ '('+3 +'*'+ i +')'+'&nbsp&nbsp&nbsp';
        }else{
            info += '<input name="adz_type" value='+3+'*'+i+' type="radio" ' +
            '/>'+(width * 3)+'*'+(height * i)+' '+ '('+3 +'*'+ i +')'+'&nbsp&nbsp&nbsp';
        }
    }
    $("#layout").children('div').html(info);

</script>
{/block}
