{extend name="public:station-base" /}

{block name="main"}
    <div class="main_left">
        <div class="subnav" style="display:none;">
            <div class="subnav-title">
                <a href="" class="toggle-subnav">
                    <i></i>
                    <span>广告活动分类</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li class="current"><a href="/home/webmaster/myCenter">所有活动</a></li>
                <li><a href="/home/webmaster/account">CPC类活动</a></li>
            </ul>
        </div>
    </div>
    <div class="main" style="padding-top:10px;">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i></i>活动列表
                </h3>
            </div>
            <div class="box-content">
                <table class="table">
                    <tr>
                        <th width="300">活动名称</th>
                        <th width="100">类型</th>
                        <th width="80">活动分类</th>
                        <th width="80">状态</th>
                    </tr>
                    {volist name="plan_list" id="vo"}
                    <tr>
                        <td>{$vo.plan_name}</td>
                        <td>{$vo.plan_type}</td>
                        <td>{$vo.class_name}</td>
                        <td>{if condition="$vo.status eq 1"}活动{else}	未申请{/if}</td>
                    </tr>
                    {/volist}
                </table>
                <div>基本信息<br/>
                    活动名称：{$plan_list[0]['plan_name']|default=""}<br/>
                    广告分类：{$plan_list[0]['class_name']|default=""}<br/>
                    活动周期：{if condition="$exdate['expire_date']['isdate'] eq 0 "}不限制{else/}{$exdate['expire_date']['year']|default=""}-{$exdate['expire_date']['month']|default=""}-{$exdate['expire_date']['day']|default=""}{/if}<br/>
                    支持设备：{if condition="$exdate['mobile']['isacl'] eq 0 "}不限制{else/}{$exdate['zhi']|default="空"}{/if}<br/>
                    定向功能：{if condition="$exdate['city']['isacl'] eq 1 "}已开启{else/}未开启{/if}<br/>

                </div>
            </div>
        </div>
    </div>
{/block}

{block name="js"}

{/block}
