{extend name="public:station-base" /}
{block name="css"}
<link href="__CSS__/daterangepicker-bs3.css" rel="stylesheet" />
{/block}
{block name="main"}
    <!--充值记录-->
    <div class="main_left">
        <div class="subnav">
            <div class="subnav-title">
                <a href="" class="toggle-subnav">
                    <i></i>
                    <span>效果报告</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li><a href="/home/webmaster/effectReport?time={$date.time.today}">综合报告(当天)</a></li>
                <li><a href="/home/webmaster/effectReport?time={$date.time.lastseven}">综合报告(一周)</a></li>
                <li><a href="/home/webmaster/effectReport?time={$date.time.lastthirty}">综合报告(一月)</a></li>
            </ul>
        </div>
    </div>
    <div class="main" style="padding-top:10px;">
        <div class="box">
            <div class="box-title" style="height:100px; margin-top:10px;">
                <div style="font-size:20px;">数据报告</div>
                <div style="float:left; padding:10px;">
                    <button class="btn btn-primary report_none" style="margin-top:4px; float:left;">设置为默认报告</button>
                    <span class="echt">
                        <strong>数据显示:</strong>
                        <label><input name="aaa" type="radio" value="" onclick="window.location='/home/webmaster/effectReport?time={$date.time.time}'">汇总报告</label>
                        <!--<label><input name="aaa" type="radio" value="" onclick="window.location='/home/webmaster/normalReport?time={$date.time.time}&type=plan'" {if condition="$date.type eq 'plan'"}checked=""{/if}>项目报告</label>-->
                        <label><input name="aaa" type="radio" value="" onclick="window.location='/home/webmaster/normalReport?time={$date.time.time}&type=adz'"  {if condition="$date.type eq 'adz'"}checked=""{/if}>广告位报告</label>
                        <label><input name="aaa" type="radio" value="" onclick="window.location='/home/webmaster/normalReport?time={$date.time.time}&type=site'" {if condition="$date.type eq 'site'"}checked=""{/if}>网站报告</label>
                    </span>
                </div>
            </div>
            <div class="box-content mt30" style="margin-left:20px;">
                <form action="/home/webmaster/normalReport?type={$date.type}"  method="post" name="">
                    搜索ID：
                    {if condition="$date.type eq 'plan'"}<input name="pid" type="text" value="{$date.pid|default=''}" style="width:120px; border-radius:4px;border:1px solid #ccc;">
                    {elseif  condition="$date.type eq 'site'"/}<input name="site_id" type="text" value="{$date.site_id|default=''}" style="width:120px; border-radius:4px;border:1px solid #ccc;">
                    {else/}<input name="adz_id" type="text" value="{$date.adz_id|default=''}" style="width:120px; border-radius:4px;border:1px solid #ccc;">{/if}
                    时间段
                    <select id="selectime" name="time" id="" style="width:204px;">
                        <option id="fatime" value="{$date.time.nowval}">{$date.time.now}</option>
                        <option value="{$date.time.today}" {if condition="$date.time.time eq $date.time.today"} selected {/if}>今天</option>
                        <option value="{$date.time.yesterday}" {if condition="$date.time.time eq $date.time.yesterday"} selected {/if}>昨天</option>
                        <option value="{$date.time.lastseven}" {if condition="$date.time.time eq $date.time.lastseven"} selected {/if}>一周</option>
                        <option value="{$date.time.lastthirty}" {if condition="$date.time.time eq $date.time.lastthirty"} selected {/if}>最近30天</option>
                        <option value="{$date.time.nowmonth}" {if condition="$date.time.time eq $date.time.nowmonth"} selected {/if}>本月</option>
                        <option value="{$date.time.lastmonth}" {if condition="$date.time.time eq $date.time.lastmonth"} selected {/if}>上个月</option>
                        <option value="{$date.time.allday}" {if condition="$date.time.time eq $date.time.allday"} selected {/if}>所有时间段</option>
                    </select>
                    <img src="/home/img/calendar.png" id="reservation">
                    <button class="btn btn-primary" style="margin-top:-4px;">搜索</button>
                </form>
            </div>
            <!--<div class="box-content" style="margin-top:15px;">-->
                <!--<div id="container" style="min-width:700px;height:400px"></div>-->
                <!--<div class="fold"></div>-->
            <!--</div>-->
            <div class="box-content mt30">
                <table class="table table-hover ">
                    <tr>
                        <th>日期</th>
                        <th>{if condition="$date.type eq 'plan'"}计划项目{elseif condition="$date.type eq 'site'" /}网站名称{else/}广告位名称{/if}</th>
                        <!--<th>浏览量</th>-->
                        <!--<th>结算数</th>-->
                        <th>{if condition="$date.type neq 'site'"}收入{/if}</th>
                        <th>实际收入</th>
                        <th>{if condition="$date.type neq 'site'"}包天收入{/if}</th>

                    </tr> 
                    <tr>
                        <td>汇总</td>
                        <td></td> 
                        <td>{if condition="$date.type neq 'site'"}{$date.total['webpay']|default='0' | integer}元{/if}</td>
                        <td>{$date.total['sumpay']|default='0' | integer}元</td>
                        <td>{if condition="$date.type neq 'site'"}{$date.total['cpd']|default='0' | integer}元{/if}</td>
                    </tr>
                    {volist name="date.plan" id="vo"}
                    <tr>
                        <td>{$vo.day}</td>
                        <td>{if condition="$date.type eq 'plan'"}{$vo.plan_name|default='不存在'}{elseif condition="$date.type eq 'site'" /}{$vo.sitename|default='不存在'}{else /}{$vo.zonename|default='不存在'}{/if}</td>

                        <td>{if condition="$date.type neq 'site'"}{$vo.webpay | integer|default='0'}元{/if}</td>
                        <td>{$vo.sumpay | integer}元</td>
                        <td>{if condition="$date.type neq 'site'"}{$vo.cpd | integer|default='0'}元{/if}</td>
                    </tr>
                    {/volist}
                </table>
            </div>
        </div>
    </div>
{/block}

{block name="js"}
<!--时间插件-->
<script src="__STATIC__/js/moment.min.js"></script>
<script src="__JS__/daterangepicker.js"></script>
<script src="__JS__/moment.js"></script>
<script type="text/javascript" src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script type="text/javascript">
    $(function(){
        var day = [{$date.chart.day}];

        var sumpay = [{$date.chart.sumpay}];
        $('#container').highcharts({
            title: {
                text: '效果报告',
                x: -20 //center
            },
            credits: {
                enabled:false
            },
            xAxis: {
                categories: day
            },
            yAxis: {
//                title: {
//                    text: '流量统计(IP)'
//                },
                title: {
                    text: '收入统计'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
//            series: [{
//                name: '结算数',
//                data: num
//            },{
//                name: '浏览数',
//                data: views
//            }]
            series:[{
                name: '收入',
                data:sumpay
            }]
        });
        var time = $('select[name="time"] option:selected').val();
        var start = time.substr(0,10);
        var end = time.substr(10);
        $('#reservation').daterangepicker({
             startDate: start,
            endDate: end,
        }, function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
            var a = start.format();
            var b = end.format();
            //start time
            var c = a.substr(0,10);
            //end time
            var d = b.substr(0,10);
            //点击选中第一个
            $("#selectime option:first").prop("selected","selected");
            $("#fatime").text(c+"至"+d);
            $("#fatime").val(value = c+""+d);
        
        });
    });
</script>
{/block}
