{extend name="public:station-base" /}

{block name="main"}


    <div class="main_left">
        <div class="subnav">
            <div class="subnav-title">
                <a href="" class="toggle-subnav">
                    <i></i>
                    <span>我的概括</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li><a href="/home/webmaster/myCenter">我的概括</a></li>
                <li><a href="/home/webmaster/account">账户设置</a></li>
                <li><a href="/home/webmaster/siteList">网站管理</a></li>
                <li><a href="/home/webmaster/record">付款记录</a></li>
                <!--<li><a href="/home/webmaster/message">消息中心</a></li>-->
            </ul>
        </div>
    </div>
    <div class="main" style="padding-top:10px;">
        <div class="box">
            <div class="control-group">
                <label for="" class="controls-label">http</label>
                <div class="controls">
                    <textarea type="text" name="" class="input300" value="">{if condition="$data.type neq 2"}<script src='{$servicename.js_server}/img/{$data.adz_id}'></script>{else /}<script src='{$servicename.js_server}/chicken/{$data.adz_id}'></script>{/if}</textarea>
                </div>
            </div>
            <div class="control-group">
                <label for="" class="controls-label">https</label>
                <div class="controls">
                    <textarea type="text" name="" class="input300" value="">{if condition="$data.type neq 2"}<script src='{$servicename.https_server}/img/{$data.adz_id}'></script>{else /}<script src='{$servicename.js_server}/chicken/{$data.adz_id}'></script>{/if}</textarea>
                </div>
            </div>
            <div class="control-group">
                <label for="" class="controls-label">ajax http</label>
                <div class="controls">
                    <textarea type="text" name="" class="input300" value="" style="height:120px"><script>
    ;(function(){
        var idomain = '{$servicename.js_server}';
        var d=idomain;
        var a=new XMLHttpRequest();
        var b=d+"/"+"lz-{$data.adz_id}-"+Math.floor(Math.random()*9999999+1);
        if(a!=null){
            a.onreadystatechange=function(){
                if(a.readyState==4 && a.status==200){
                    if(window.execScript)window.execScript(a.responseText,"JavaScript");
                    else if(window.eval)window.eval(a.responseText,"JavaScript");
                    else eval(a.responseText);
                }
            };
            a.open("GET",b,false);
            a.send();
        }
    })();
</script></textarea>
                </div>
            </div>
            <div class="control-group">
                <label for="" class="controls-label">ajax https</label>
                <div class="controls">
                    <textarea type="text" name="" class="input300" value="" style="height:120px"><script>
    ;(function(){
        var idomain = '{$servicename.https_server}';
        var d=idomain;
        var a=new XMLHttpRequest();
        var b=d+"/"+"lz-{$data.adz_id}-"+Math.floor(Math.random()*9999999+1);
        if(a!=null){
            a.onreadystatechange=function(){
                if(a.readyState==4 && a.status==200){
                    if(window.execScript)window.execScript(a.responseText,"JavaScript");
                    else if(window.eval)window.eval(a.responseText,"JavaScript");
                    else eval(a.responseText);
                }
            };
            a.open("GET",b,false);
            a.send();
        }
    })();
</script></textarea>
                </div>
            </div>
            <div class="control-group">
                <label for="" class="controls-label">cname</label>
                <div class="controls">
                    <textarea type="text" name="" class="input300" value=""><script src='http://lz.网站域名.com/blogcm/{$data.adz_id}'></script></textarea>
                    <span style="color:red">* 特别注意：此方法只适用于做cname的网站，具体详情请咨询客服</span>
                    <div>例如： baidu.com</div>
                    <textarea style="border:0px;width:500px"><script src='http://lz.baidu.com/blogcm/{$data.adz_id}'></script>
                    </textarea>

                </div>
            </div>
            <div>
乐樽专用全自动防屏蔽1.0(一次操作,免后期更换代码):<span id="dktp" style="color:red;margin-left: 20px;cursor: pointer;text-decoration: underline;"><a href="/home/webmaster/Course"  target="_Blank" >免换代码图文教程</a></span>
<br>
1.将以下内容保存为 任意名.php或asp.放在网站任意目录
<br>
2.在网站内调用 &lt;script type="text/javascript" src="已保存的文件路径"&gt;&lt;/script&gt;
            </div>
            <div class="control-group">
                <label for="" class="controls-label">php免换代码</label>
                <div class="controls">
                    <textarea type="text"  class="input300"   style="height:70px">
&lt;?php
{if condition="$data.type neq 2"}
$url='{$servicename.js_server}/noblock/killblock.php?id={$data.adz_id}';
{else /}
$url='{$servicename.js_server}/noblock/imgkillblock.php?id={$data.adz_id}';
{/if}
$html = file_get_contents($url);
echo $html;
?&gt;
                    </textarea>
                </div>
            </div>
            <div class="control-group">
                <label for="" class="controls-label">php-https免换代码</label>
                <div class="controls">
                    <textarea type="text"  class="input300"   style="height:70px">
&lt;?php
{if condition="$data.type neq 2"}
$url='{$servicename.https_server}/noblock/killblocks.php?id={$data.adz_id}';
{else /}
$url='{$servicename.https_server}/noblock/imgkillblocks.php?id={$data.adz_id}';
{/if}
$html = file_get_contents($url);
echo $html;
?&gt;
                    </textarea>
                </div>
            </div>
            <div class="control-group">
                <label for="" class="controls-label">asp免换代码</label>
                <div class="controls">
                    <textarea type="text"   class="input300"  style="height:190px">
&lt;%
function getHTTPPage(url,cset)
dim Http
set Http=server.createobject("MSXML2.XMLHTTP")
Http.open "GET",url,false
Http.send()
if Http.readystate<>4 then exit function
getHTTPPage=bytesToBSTR(Http.responseBody,cset)
set http=nothing
if err.number<>0 then err.Clear
end function
Function BytesToBstr(body,Cset)
dim objstream
set objstream = Server.CreateObject("adodb.stream")
objstream.Type = 1
objstream.Mode =3
objstream.Open
objstream.Write body
objstream.Position = 0
objstream.Type = 2
objstream.Charset = Cset
BytesToBstr = objstream.ReadText
objstream.Close
set objstream = nothing
End Function
{if condition="$data.type neq 2"}
response.write(getHTTPPage("{$servicename.js_server}/noblock/killblock.php?id={$data.adz_id}","utf-8"))
{else /}
response.write(getHTTPPage("{$servicename.js_server}/noblock/imgkillblock.php?id={$data.adz_id}","utf-8"))
{/if}
%&gt;
                    </textarea>
                </div>
            </div>
        </div>

{/block}

{block name="js"}

{/block}

