{extend name="public:station-base" /}

{block name="main"}
    <div class="main_left">
        <div class="subnav">
            <div class="subnav-title">
                <a href="" class="toggle-subnav">
                    <i></i>
                    <span>我的概括</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li><a href="/home/webmaster/myCenter">我的概括</a></li>
                <li><a href="/home/webmaster/account">账户设置</a></li>
                <li><a href="/home/webmaster/siteList">网站管理</a></li>
                <li><a href="/home/webmaster/record">付款记录</a></li>
            </ul>
        </div>
    </div>
    <div class="main" style="padding-top:10px;">
        <div class="breadcrumbs mt30">
            <ul>
                <li><a href="/home/webmaster/siteList">我的网站   »</a> 新建网站</li>
            </ul>
        </div>
        <div class="box">
            <form action="" class="form-hor" method="post">
                <div class="box-content">
                    <div class="box-title" style="margin-bottom:40px;">
                        <h3>
                            <i></i>基本信息
                        </h3>
                    </div>
                    <div class="control-group">
                        <label class="controls-label">您的网站域名</label>
                        <div class="controls">
                            http://<input type="text" name="url" class="input300 required" value=""> <span class="erro"> 输入网站域名</span><span id="name_text"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">网站名称</label>
                        <div class="controls">
                            <input type="text" name="name" class="input300 required" value="" > <span class="erro"> 输入网站名称</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">是否包含https</label>
                        <div class="controls">
                            <input type="radio" name="https" value="0" checked> 否 
                            <input type="radio" name="https" value="1"> 是 
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">网站备案信息</label>
                        <div class="controls">
                            <input type="text" name="bei" class="input300 required" value="" > <span class="erro"> 输入网站备案信息</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">网站类别</label>
                        <input type="hidden" id="class_id" name="class_id" value="">
                        <div class="controls">
                            <select id="claid" style="width:160px;">
                                {volist name="class_list" id="vo"}
                                <option value="{$vo.class_id}">{$vo.class_name}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">日访问量</label>
                        <div class="controls">
                            <input type="text" name="dayip" class="input300" value="" ><span>&nbsp;IP</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">网站描述</label>
                        <div class="controls">
                            <textarea class="input300" name="info" style="border:1px solid #ccc; border-radius:4px; color:#555; padding:4px 6px;"></textarea>
                        </div>
                    </div>
                    <div class="form-actions" style="margin-top:60px; margin-bottom:60px;">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{/block}

{block name="js"}
<script>
$(function(){
    $('#class_id').val($('#claid option').val())
    $("select").bind('click','option',function(){
        $('#class_id').val($(this).val())
    })


    $("input[name='url']").keyup(function(){
        var val = $("input[name='url']").val();
        $.post('/home/webmaster/siteRepeatUrl',{siteUrl:val},function(data){
            if(data == 0){
                $('#name_text').text(' ');
                $('button').attr('disabled',false);
            }else{
                $('#name_text').text("网址已存在，请重新输入").css({'color':'red','font-size':'12px'});
                $('button').attr('disabled','disabled');
            }
        })
    })

    $("input[name='url']").mouseout(function(){
        var val = $("input[name='url']").val();
        $.post('/home/webmaster/siteRepeatUrl',{siteUrl:val},function(data){
            if(data == 0){
                $('#name_text').text(' ');
                $('button').attr('disabled',false);
            }else{
                $('#name_text').text("网址已存在，请重新输入").css({'color':'red','font-size':'12px'});
                $('button').attr('disabled','disabled');
            }
        })
    })

    //网址判断
    $(".b_quired").keyup(function(){
    //正则判断
        var pattern =/^http:\/\/[A-Za-z0-9]+\.[A-Za-z0-9]+[\/=\?%\-&_~`@[\]\':+!]*([^<>\"\"])*$/;
        var value = $(this).val();
        if(pattern.test(value)==true){
           $(this).next().css('display','none');
           return true;
        }else{
           $(this).next().css('display','inline');
           return false;
        }
    })
})
</script>
{/block}
