{extend name="public:station-base" /}

{block name="main"}
    <div class="main_left">
        <div class="subnav">
            <div class="subnav-title">
                <a href="" class="toggle-subnav">
                    <i></i>
                    <span>我的概括</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li><a href="/home/webmaster/myCenter">我的概括</a></li>
                <li><a href="/home/webmaster/account">账户设置</a></li>
                <li><a href="/home/webmaster/siteList">网站管理</a></li>
                <li><a href="">付款记录</a></li>
                <li><a href="">消息中心</a></li>
            </ul>
        </div>
    </div>
    <div class="main" style="padding-top:10px;">
        <div class="breadcrumbs mt30">
            <ul>
                <li><a href="/home/webmaster/siteList">我的网站   »</a> 新建网站</li>
            </ul>
        </div>
        <div class="box">
            <form action="/home/webmaster/siteEdit?id={$site_one.site_id}" method="post" class="form-hor">
                <div class="box-content">
                    <div class="box-title" style="margin-bottom:40px;">
                        <h3>
                            <i></i>基本信息
                        </h3>
                    </div>
                    <div class="control-group">
                        <label class="controls-label">您的网站域名</label>
                        <div class="controls">
                            <input type="hidden" name="class_id" value="{$site_one.class_id}"/>
                            http://<input type="text" class="input300" name="url" value="{$site_one.siteurl}" placeholder="您的网站域名" required/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">网站名称</label>
                        <div class="controls">
                            <input type="text" class="input300" name="name" value="{$site_one.sitename}" placeholder="网站名称" required/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">是否包含https</label>
                        <div class="controls">
                            <input type="radio" name="https" value="0" {if condition="$site_one.https eq '0'"}checked{/if}> 否 
                            <input type="radio" name="https" value="1" {if condition="$site_one.https"}checked{/if}> 是 
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">网站备案信息</label>
                        <div class="controls">
                            <input type="text" class="input300" name="bei" value="{$site_one.beian}" placeholder="网站备案信息" required/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">网站类别</label>
                        <div class="controls">
                            <input type="hidden" name="class_id" value="{$site_one.class_id}"/>
                            <select id="claid" style="width:160px;">
                                {volist name="class_list" id="vo"}
                                {if condition="$site_one['class_id'] eq $vo['class_id']"}<option value="{$vo.class_id}" selected="selected">{$vo.class_name}</option>{else}<option value="{$vo.class_id}">{$vo.class_name}</option>{/if}
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">日访问量</label>
                        <div class="controls">
                            <input type="text" class="input300" name="dayip" value="{$site_one.day_ip}" placeholder="日访问量" required/><span>&nbsp;IP</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="" class="controls-label">网站描述</label>
                        <div class="controls">
                            <textarea class="input300" style="border:1px solid #ccc; border-radius:4px; color:#555; padding:4px 6px;" name="info" placeholder="网站描述"/>{$site_one.siteinfo}</textarea>
                        </div>
                    </div>
                    <div class="form-actions" style="margin-top:60px; margin-bottom:60px;">
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{/block}

{block name="js"}
<script>
    $(function(){
        $('#claid').bind('click','option',function(){
            var val = $('#claid').val();
            console.log(val)
            $('input[name="class_id"]').val(val);
        })
    })
</script>
{/block}




<!-- <!DOCTYPE HTML>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <script src="/static/jquery/jquery.min.js"></script>
</head>
<body>
<script>
    $(function(){
        $('#claid option').click(function(){
            var val = $('#claid').val();
            $('input[name="class_id"]').val(val);
        })
    })
</script>

<div>网站修改</div>
<div style="text-align: center;">
<form action="/index.php/siteEdit?id={$site_one.site_id}" method="post">
    <input type="hidden" name="class_id" value="{$site_one.class_id}"/>
    <input type="text" name="url" value="{$site_one.siteurl}" placeholder="您的网站域名" required/>
    <input type="text" name="name" value="{$site_one.sitename}" placeholder="网站名称" required/>
    <input type="text" name="bei" value="{$site_one.beian}" placeholder="网站备案信息" required/>

    <select id="claid">
        {volist name="class_list" id="vo"}
        {if condition="$site_one['class_id'] eq $vo['class_id']"}<option value="{$vo.class_id}" selected="selected">{$vo.class_name}</option>{else}<option value="{$vo.class_id}">{$vo.class_name}</option>{/if}
        {/volist}
    </select>
    <input type="text" name="dayip" value="{$site_one.day_ip}" placeholder="日访问量" required/>
    <input type="text" name="info" value="{$site_one.siteinfo}" placeholder="网站描述"/>
    <input type="submit" value="添加"/>
</form>
</div>

</body>
</html> -->