{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
        <h3 class="heading">广告位域名管理</h3>
        <div class="dataTables-wrapper">
            <div class="tb-lis">
                <a href="/admin/adzdomain/add"><i class="fa fa-plus-circle"></i>新增广告位域名</a>
                <div class="dataTables-filter">
                    <form action="/admin/adzdomain/list" name="list" method="post">
                        <!--搜索：-->
                        <select name="searchname">
                            <option value="adz_id" {if condition="$domain.searchname eq 'adz_id'"} selected {/if}>广告位ID</option>
                            <option value="zonename" {if condition="$domain.searchname eq 'zonename'"} selected {/if}>广告位名称</option>
                            <option value="domain_name" {if condition="$domain.searchname eq 'domain_name'"} selected {/if}>广告位域名</option>
                        </select>
                        <input class="input-text input1" name="search" value="{$domain.search|default=''}" type="text" style="width:230px">
                        <button type="input" style="width:60px"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <table class="dataTable table-hover" name="plan-list" >
                <tr role="row">
                    <th>广告位ID</th>
                    <th>广告位名称</th>
                    <th>广告位域名</th>
                    <th>操作</th>
                </tr>
                {volist name="one" id="vo"}
                <tr class="unread">
                    <td>{$vo.adz_id}</td>
                    <td>{$vo.zonename}</td>
                    <td>{$vo.domain_name}</td>
                    <td>
                        <a href="/admin/adzdomain/edit?adz_id={$vo.adz_id}">编辑</a>
                        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="javascript:;" class="ajax-del" data='{"adz_id":"{$vo.adz_id}"}' durl='/admin/adzdomain/del'>删除</a>
                    </td>
                </tr>
                {/volist}
            </table>
            <div class="row">{$page}</div>
        </div>
    </div>
</div>
<!-- end wrapper -->
{/block}
{block name="js"}
<script type="text/javascript">
    $('#formId').submit(function(){
        //点击按钮提交
        var href = '/admin/auxiliary/edit';
        var data = $("#formId").serialize();

        $.post(href,data,success);
        function success(data) {
            if (data.status == 1) {
                layer.msg(data.info, {icon: 1});
                setTimeout(function(){
                    window.location.reload();
                },500);
            } else {
                layer.msg(data.info, {icon: 1});
                setTimeout(function(){},2000);
                return false;
            }
        }
        return false;
    });
</script>
{/block}