{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div>
        <h3 class="heading">新增广告位域名</h3>
        <form class="" method="post" name="addform" id="formId">
            <div class="control-group formSep">
                <label class="control-label">广告位id</label>
                <div class="controls">
                    <input class="input-text input1 " name="adz_id" value="" type="text"><span class="error" id="adz_error">请输入广告位id</span>
                </div>
            </div>

            <div class="control-group control-padding">
                <label class="control-label">广告位域名</label>
                <div class="controls">
                    <input class="input-text input1 required" name="domain_name" value="" type="text"><span class="erro">请输入广告位域名</span>
                </div>
            </div>
            <div class="control-group formSep">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}

<!-- end wrapper -->

{block name="js"}
<script type="text/javascript">

    $("input[name='adz_id']").keyup(function(){
        $.ajax({
            type: 'post',
            url : '/admin/adzdomain/adzcheck',
            data: {adz_id:$("input[name='adz_id']").val()},
            dataType:'json',
            success:function(data){
                if(data == ''){
                    $("#adz_error").text('没有这个广告位,请重新输入').css({'color':'red','font-size':'12px'});
                }else{
                    $("#adz_error").text('');
                }
            }
        })
    });

    $('#formId').submit(function(){
        if(addform.adz_id.value && addform.domain_name.value){
            //点击按钮提交
            var href = '/admin/adzdomain/add';
            var data = $("#formId").serialize();

            $.post(href,data,success);
            function success(data) {
                if (data.status == 1) {
                    layer.msg(data.info, {icon: 1});
                    setTimeout(function(){
                        window.location.href='/admin/adzdomain/add';
                    },2000);
                } else {
                    layer.msg(data.info, {icon: 1});
                    setTimeout(function(){},2000);
                    return false;
                }
            }
            return false;
        }
    });
</script>
{/block}