html,body{   
    margin:0px;  
    padding: 0px; 
} 
body{
    font-family: "Microsoft YaHei" !important;
}
a:hover{
    text-decoration: none !important;
    list-style: none;
}
a{
    color: #444;
}
a:hover{
    cursor: pointer;
}
h2{
    color: #333;
    font-size: 14px;
    font-weight: 600;
}
form{
    font-size: 14px;
    color: #777;
}
em{
    color: #ff0000;
}
ul,ol{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
input{
    background:transparent;
}
#lezun-login,#lezun-register{
    display: none;
}
.bg{
    background: url(/index/img/bg.png);
}
.login-bodyer,.login-footer{
    width: 100%;
    margin: 0 auto;
}


.login-head{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 700px;
}
.login-nav1{
    width: 100%; 
    height: 145px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
}
.login-fixed{
    height:145px;
    background:#000;
    opacity:0.3;
}
.login-list{
    position:absolute;
    top:54px;
    right:12%;
}
.login-list li{
    display: inline-table;
    margin-left: 20px;
}
.login-list li a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
/*login change*/
.login-nav2{
    position: relative;
    top: -400px;
    text-align: center;
    color: #fff;
    overflow: hidden;
}
.nav2-title{
    font-size: 46px;
}
.nav2-butt{
    width: 44%;
    margin: 90px auto;
    overflow: hidden;
}
.nav2-butt a{
    width: 185px;
    height: 56px;
    line-height: 56px;
    display: block;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 32px;
    font-size: 28px;
}
.nav2-butt a:first-child{
    float: left;
}
.nav2-butt a:last-child{
    float: right;
}



/*
    login 主体
*/
.linear{
    background-image: linear-gradient(to right, #e29e13 600px, #fcf5e7 600px);
}
.login-bodyer{
    width:100%; 
    max-width: 1200px;
    height: 600px;
}
.login-bodyer > div{
    float: left;
}
.login-bodyer-left{
    width: 50%;
    background: #e29e13;
    height: 100%;
}
.login-bodyer-right{
    width: 50%;
    background: #fcf5e7;
    height: 100%;
}
.login-leftcon{
    width: 90%;
    height: 320px;
    float: right;
    text-align: center;
    margin-top: 174px;
}
.login-leftext{
    padding-top: 46px;
    width: 76%;
    margin: 0 auto;
    color: #fff;
}

/**/
.login-rightcon{
    width: 90%;
    height: 320px;
    float: left;
    text-align: center;
    margin-top: 174px;
}
.login-righttext{
    width: 76%;
    margin: 0 auto;
    color: #e29e13;
}
.login-rightioc{
    padding-top: 46px;
}
.login-footer{
    width: 100%;
    background: #1e1e1e;
    overflow: hidden;
}
.login-marpadd{
    width: 1000px;
    margin: 110px auto;
    overflow: hidden;
}
.foologin{
    width: 410px;
    float: left;
}
.foot-tit{
    width: 46px;
    margin-bottom: 0px;
    color: #fff;
}
.foot-small{
    width: 46px;
    text-align: right;
    font-size: 12px;
    color: #8a8a8a;
    margin-top: 4px;
    font-weight: bold;
}
.foologin img{
    width: 116px;
    height: 50px;
    float: left;
    margin-left: 14px;
    margin-top: -8px;
}
.form-input{
    display: block;
    width: 300px;
    height: 34px;
    color: #fff;
    background-color: #1e1e1e;
    border: none;
    border-bottom: 1px solid #a5a5a5;
    font-size: 12px;
    box-shadow: none;
    outline: none;
}
.btn-pri{
    width: 300px;
    display: block;
    color: #fff;
    background-color: #e29e13; 
}
.btn-pri:hover{
    color: #fff !important;
    background-color: #e27f13;
}
.pass-reglink{
    width: 300px;
    display: block;
    margin-top: 10px;
    color: #4d4d4d;
    text-align: right;
    font-weight: bold;
}
.pass-reglinks{
    float: left;
    display: inline;
    width: 80px;
    text-align: left;
}
.pass-reglink:hover ,.nav2-butt a:hover{
    color: #fff;
}
.foocontact{
    width: 458px;
    float: left;
}
.foocontact p,h4{
    width: 62px;
}
.foocontact ul li{
    width: 368px;
    display: block;
    color: #4d4d4d;
    background-color: #1e1e1e;
    border: none;
    font-size: 14px;
    box-shadow: none;
    background: url(/index/img/small_index_pc_03.png) no-repeat;
    padding: 18px 0px;
    overflow: hidden;
}
.foocontact ul li span{
    display: block;
    width: 286px;
    float: right;
    font-weight: bold;
}
.footerqq{
    width: 132px;
    float: left;
}
.footerqq ul{
    margin-top: 50px;
}
.footerqq ul li{
    color: #4d4d4d;
    font-weight: bold;
    font-size: 14px;
    background: url(/index/img/qq_index_pc_03.png) no-repeat;
    padding: 18px 0px;
    overflow: hidden;
}
.footerqq ul li span{
    display: block;
    float: right;
    font-weight: bold;
}
.back{
    padding:8px 18px;
    margin-left:6px;
    background:#626262;
    border-radius:50%;
    background-image: url(/index/img/qq_index_pc_03.png);
    background-repeat: no-repeat;
    background-position: 8px 6px; 
}

/*登录*/
.login1-head{
    width:100%; 
    height: 100%; 
    margin:0 auto; 
    background: url(/index/img/login1_index_pc_01.png) no-repeat;
    background-size: 100% 100%;
}
.login-cen{
    margin:0 auto; 
    width:300px;
}
.login-ter{
    width: 300px;
}
.login-ter input{
    background: none;
}
.form-groups{
    margin-top: 20px;
}
/*注册*/

.login-register{
    width:100%; 
    height: 100%; 
    margin:0 auto; 
    background: url(/index/img/register_index_pc_01.png) no-repeat;
    background-size: 100% 100%;
}
.cen-register{
    width: 1020px;
    margin: 0 auto;
    overflow: hidden;
}
.login-margin{
    margin-left: 55px;
}
.width-align{
    width: auto;
    text-align: left;
    color: #fff;
    text-indent: 46px;
}
.bg-re{
    background: url(/index/img/suo_index_pc_03.png) no-repeat;
}
.bg-re1{
    background: url(/index/img/ren_index_pc_03.png) no-repeat;
}
.bg-re2{
    background: url(/index/img/visi_index_pc_03.png) no-repeat;
}
.bg-re3{
    background: url(/index/img/eer_index_pc_03.png) no-repeat;
    width: 100%;
}
.small-bg{
    font-size: 12px;
}
.all-qq{
    color: #9e9fa1;
    font-weight: bold;
    font-size: 12px;
    padding: 18px 0px;
    overflow: hidden;
    width: 110px;
    text-align: left;
    float: left;
    margin-right: 70px;
    background: url(/index/img/qq_index_pc_03.png) no-repeat;
    background-position: 8px 14px;
}
.all-qq a:hover{
    border: 2px solid #e29e13;
    padding: 8px 16px;
    background-position: 6px 4px;
}
.back-left{
    margin-left: 0px;
    opacity: 0.4;
}
.back-span{
    margin-left: 10px;
}
.bg-re3 ul li:nth-child(2n){
    margin-right: 0px;
}
.bg-re3 ul li:nth-child(3n){
    margin-left: 64px;
}
.bg-re3 ul li:nth-child(6n-1){
    margin-right: 70px;
    margin-left: 64px;
}
.bg-re3 ul li:nth-child(6n){
    margin-left: 0px;
}

.active-bottom{
    border-bottom: 4px solid #e29e13;
}





