{extend name="public:base" /}

{block name="main"}
<div class="wrapper">

    <div>
        <h3 class="heading">新建广告尺寸</h3>
        <form action="/admin/adtpl/adspecsAdd" method="post">
            <div class="control-group formSep">
                <label class="control-label">宽度</label>
                <div class="controls">
                    <input class="input-text input1 size a" type="text" name="width" value=""/> <span class="erro">请填写宽度</span>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">高度</label>
                <div class="controls">
                    <input class="input-text input1 size" type="text" name="height" value=""/> <span class="erro">请填写高度</span>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">排序</label>
                <div class="controls">
                    <input class="input-text input1" name="sort" type="text"  value=""> 1~100数字
                </div>    
            </div>
            <div class="control-group formSep">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="提交"/>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- end wrapper -->
{/block}

{block name="js"}
<script>
    $(function(){
        //新增为空验证判断
        $("form").submit(function(){
            var flag = true;
            $(".size").each(function(){
                if($(this).val() == ""){
                    $(this).next().css("display","inline");
                    $(this).focus();
                    $("html,body").animate({scrollTop:0}, 0);
                    flag = false;
                }
                var focus = false;
                if($(".a").val() == ""){
                    $(".a").focus();
                }
            })
            if(!flag){
                return false;
            }
        })
        
        //新增会员为空keyup事件  广告类型编辑
        $(".size").keyup(function(){
            var value = $(this).val();
            if(/^(|[1-9][0-9]*)$/.test(value)){
                $(this).next().css("display","none");
                return true;  
            }else{  
                $(this).next().css("display","inline").html("请输入非0数字");
                return false;  
            }
        })
    })
</script>
{/block}
