{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
        <h3 class="heading">广告尺寸</h3>
        <div class="tb-lis">
            <a href="/admin/adtpl/adspecsAdd">新增广告尺寸</a>
        </div>
        <table class="dataTable table-hover">
            <tr role="row">
				<th>序号</th>
                <th>ID</th>
                <th>尺寸名称</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
            {volist name="$adspecs_list" id="vo" key="k"}
            <tr>
                <td>{$k}</td>
                <td>{$vo.specs_id}</td>
                <td>{$vo.width}x{$vo.height}</td>
                <td>{$vo.sort}</td>
                <td>
                    <a href="/admin/adtpl/adspecsEdit?id={$vo.specs_id}">修改</a>&nbsp;&nbsp;
                    <!-- <a href="/admin/adtpl/adspecsDelect?id={$vo.specs_id}">删除</a> -->
                    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    <a href="javascript:;" class="ajax-del" data='{"id":"{$vo.specs_id}"}' durl="/admin/adtpl/adspecsDelect?id={$vo.specs_id}">删除</a>
                </td>
            </tr>
            {/volist}
        </table>
        <div class="row"></div>
    </div>
    <div style="height:50px;"></div>
</div>
<!-- end wrapper -->
{/block}