{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div>
        <h3 class="heading">编辑广告模式</h3>
        <form action="/admin/adtpl/adtplEdit?id={$tpl_list.tpl_id}" method="post">
        <div class="control-group formSep st">
            <label class="control-label">广告类型</label>
            <div class="controls">
                <select id="adtypeid" name="adtypeid">
                    {volist name="type_list" id="vo"}
                    <option value="{$vo.adtype_id}" {if condition="$tpl_list.adtype_id eq $vo.adtype_id"} selected {else}{/if}>{$vo.type_name}</option>
                    {/volist}
                </select>
            </div>
        </div>
        <div class="control-group formSep">
            <label class="control-label">模式名称</label>
            <div class="controls">
                <input class="input1 input-text required" type="text" name="name" value="{$tpl_list.tplname}"/> <span class="erro">请输入模式名称</span>
            </div>
        </div>
        <!--<div>
            <label class="">自定义尺寸</label>
            <input name="customspecs" type="radio" value="1" {if condition="$tpl_list."} checked> 不可以
            <input name="customspecs" type="radio"  value="2"> 可以
        </div>
        <div>
            <label class="">自定义配色</label>
            <input name="customcolor" type="radio"  value="1" checked> 不需要
            <input name="customcolor" type="radio"  value="2"> 需要
        </div>-->
        <div class="control-group formSep">
            <label class="control-label">排序</label>
            <div class="controls">
                <input class="input1 input-text" name="sort" type="text"  value="{$tpl_list.sort}"><span>1~100数字</span>
            </div>
        </div>
        {if condition="$tpl_list.type neq 2"}
            <div class="control-group formSep">
                <label class="control-label">多广告模式</label>
                <div class="controls">
                    <input name="type" type="checkbox"  value="1" disabled="disabled" {if condition="$tpl_list.type eq 1"} checked {/if}><span>注：开启多排组合模式</span>
                </div>
            </div>
        {/if}
            <div class="control-group formSep">
                <label class="control-label">需要HTML控件</label>
                <div class="controls">
                    <table class="c_f_i" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <table class="c_f_f" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>控件文字</td>
                                        <td>控件type</td>
                                        <td>控件name</td>
                                        <td>控件id</td>
                                        <td>控件说明</td>
                                        <td></td>
                                    </tr>
                                    {for start="0" end="$cunt"}
                                    <tr>
                                        <td>
                                            <input class="input-text" name="control_text[]" type="text"  value="{$htmlcont['control_text'][$i]}">
                                        </td>
                                        <td>
                                            <select name="control_type[]">
                                                <option value="text" {if condition=" 'text' eq $htmlcont['control_type'][$i]"} selected="selected" {/if} >text</option>
                                                <option value="file" {if condition="'file' eq $htmlcont['control_type'][$i]"} selected="selected"{/if} >file</option>
                                                <option value="checkbox" {if condition="'checkbox' eq $htmlcont['control_type'][$i]"} selected="selected" {/if} >checkbox</option>
                                                <option value="radio" {if condition="'radio' eq $htmlcont['control_type'][$i]"} selected="selected" {/if} >radio</option>
                                                 <option value="url"      >url</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input class="input-text" name="control_name[]" type="text"  value="{$htmlcont['control_name'][$i]}">
                                        </td>
                                        <td>
                                            <input class="input-text" name="control_id[]" type=""  value="{$htmlcont['control_id'][$i]}">
                                        </td>
                                        <td>
                                            <input class="input-text" name="control_describe[]" type=""  value="{$htmlcont['control_describe'][$i]}">
                                        </td>
                                    </tr>
                                    {/for}
                                </table>
                            <td width="100">
                                <a id="increase" class="newbtn" href="javascript:;">增加一行</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        <div class="control-group formSep">
            <div class="controls">
                <input class="btn btn-primary" type="submit" value="提交"/>
            </div>
        </div>
        </form>
    </div>
</div>
<!-- end wrapper -->
{/block}
{block name="js"}
<script>
    $(function(){
        $('#increase').click(function(){
            $("tr").last().after(
                    "<tr class='dele'>"+
                    "<td><input class='input-text' name='control_text[]' type='text' value=''></td>"+
                    "<td>"+
                    "<select name='control_type[]'>"+
                    "<option value='text'>text</option>"+
                    "<option value='file'>file</option>"+
                    "<option value='checkbox'>checkbox</option>"+
                    "<option value='radio'>radio</option>"+
                    "</select>"+
                    "</td>"+
                    "<td><input class='input-text' name='control_name[]' type='text' value=''></td>"+
                    "<td><input class='input-text' name='control_id[]' type='text' value=''></td>"+
                    "<td><input class='input-text' name='control_describe[]' type='text' value=''></td>"+
                    "<td>"+
                    "<a class='delext' href='javascript:test();'>删除</a>"+
                    "</td>"+
                    "</tr>");
        })
    });

    function test(){
        $('.delext').click(function(){
            $(this).parent().parent().remove();
        })
    }

</script>

{/block}
