{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div>
        <h3 class="heading">新增广告模式</h3>
        <form action="/admin/adtpl/addTpl" method="post">
            <div class="control-group formSep st">
                <label class="control-label">广告类型</label>
                <div class="controls">
                    <select id="adtypeid" name="adtypeid">
                        {volist name="type_list" id="vo"}
                        <option value="{$vo.adtype_id}">{$vo.type_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">模式名称</label>
                <div class="controls">
                    <input class="input1 input-text required" type="text" name="name" value=""/> <span class="erro">请填写模式名称</span>
                </div>
            </div>
            <!--<div>
                <label class="">自定义尺寸</label>
                <input name="customspecs" type="radio" value="1" checked> 不可以
                <input name="customspecs" type="radio"  value="2"> 可以
            </div>
            <div>
                <label class="">自定义配色</label>
                <input name="customcolor" type="radio"  value="1" checked> 不需要
                <input name="customcolor" type="radio"  value="2"> 需要
            </div>-->
            <div class="control-group formSep">
                <label class="control-label">排序</label>
                <div class="controls">
                    <input class="input1 input-text" name="sort" type="text"  value=""><span>1~100数字</span>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">多广告模式</label>
                <div class="controls">
                    <input name="type" type="checkbox"  value="1"><span>注：开启多排组合模式</span>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">附加HTML属性</label>
                <div class="controls">
                    <table class="c_f_i" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <table class="c_f_f" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td>属性标题</td>
                                        <td>属性type</td>
                                        <td>属性name</td>
                                        <td>属性checked</td>
                                        <td>属性默认值</td>
                                    </tr>
                                    <tr>
                                        <td><input class="input-text" name="control_text[]" type=""  value=""></td>
                                        <td><select name="control_type[]">
                                            <option value="text">text</option>
                                            <option value="file">file</option>
                                            <option value="checkbox">checkbox</option>
                                            <option value="radio">radio</option>
                                        </select>
                                        </td>
                                        <td><input class="input-text" name="control_name[]" type=""  value=""></td>
                                        <td><input class="input-text" name="control_id[]" type=""  value=""></td>
                                        <td><input class="input-text" name="control_describe[]" type=""  value=""></td>
                                    </tr>
                                </table>
                            </td>
                            <td width="100">
                                <a id="increase" class="newbtn" href="javascript:;">增加一行</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="control-group formSep">
                <div class="controls">
                    <input type="submit" class="btn btn-primary" value="提交"/>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- end wrapper -->
{/block}
{block name="js"}
<script>
    $(function(){
        //增加
        $('#increase').click(function(){
            $("tr").last().after(
                    "<tr class='dele'>"+
                    "<td><input class='input-text' name='control_text[]' type='text' value=''></td>"+
                    "<td>"+
                    "<select name='control_type[]'>"+
                    "<option value='text'>text</option>"+
                    "<option value='file'>file</option>"+
                    "<option value='checkbox'>checkbox</option>"+
                    "<option value='radio'>radio</option>"+
                    "</select>"+
                    "</td>"+
                    "<td><input class='input-text' name='control_name[]' type='text' value=''></td>"+
                    "<td><input class='input-text' name='control_id[]' type='text' value=''></td>"+
                    "<td><input class='input-text' name='control_describe[]' type='text' value=''></td>"+
                    "<td>"+
                    "<a class='delext' href='javascript:test();'>删除</a>"+
                    "</td>"+
                    "</tr>");
        })
    })
    //删除
    function test(){
        $('.delext').click(function(){
            $(this).parent().parent().remove();
        })
    }

</script>

{/block}
