
{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
        <div id="repo_data" class="tb_sts" style="position:absolute; top:110px; right:30px;">
            <a href="/admin/site/adzone?status=adzone_all&style_id={$one.style_id | default=''}&search={$one.search | default=''}&adzone={$one.adzone | default=''}&system_type={$one.system_type}&adzsize={$one.adzsize}&adtpl_id={$one.adtpl_id}"  {if condition="$one.status eq 'adzone_all'"} class="repo_data"   {/if} >全部</a>
            <a href="/admin/site/adzone?status=0&style_id={$one.style_id | default=''}&search={$one.search | default=''}&adzone={$one.adzone | default=''}&system_type={$one.system_type}&adzsize={$one.adzsize}&adtpl_id={$one.adtpl_id}" {if condition="$one.status eq '0'"} class="repo_data" {/if} >锁定</a>
            <a href="/admin/site/adzone?status=1&style_id={$one.style_id | default=''}&search={$one.search | default=''}&adzone={$one.adzone | default=''}&system_type={$one.system_type}&adzsize={$one.adzsize}&adtpl_id={$one.adtpl_id}" {if condition="$one.status eq '1'"} class="repo_data" {/if}>激活</a>
            <a href="/admin/site/adzone?status=2&style_id={$one.style_id | default=''}&search={$one.search | default=''}&adzone={$one.adzone | default=''}&system_type={$one.system_type}&adzsize={$one.adzsize}&adtpl_id={$one.adtpl_id}" {if condition="$one.status eq '2'"} class="repo_data" {/if}>待审</a>
        </div>
        <h3 class="heading">广告位管理</h3>
        <div class="dataTables-wrapper">
            <div class="tb_sts">
                <form  action="/admin/site/adzone?status={$one.status}" name="adzone" method="post">
                    搜索：
                    <input class="input-text input1" name="search" value="{$one.search|default=''}" type="text" style="width:160px">
                    <span style="width: 495px;height: 30px;display: inline-block;position: relative;">
                        <select name="adzone" style="position:absolute;width:120px;left:0;top:8.5px;">
                            <option value="adz_id" {if condition="$one.adzone eq 'adz_id'"} selected {/if}>广告位ID</option>
                            <option value="username" {if condition="$one.adzone eq 'username'"} selected {/if}>站长名称</option>
                            <option value="uid" {if condition="$one.adzone eq 'uid'"} selected {/if}>站长ID</option>
                            <option value="zonename" {if condition="$one.adzone eq 'zonename'"} selected {/if}>广告位名称</option>
                            <option value="size" {if condition="$one.adzone eq 'size'"} selected {/if}>广告位尺寸</option>
                        </select>
                        <select name="system_type" style="position:absolute;width:120px;left:125px;top:8.5px;">
                            <option value="-1" {if condition="$one.system_type eq '-1'"} selected {/if}>投放设备</option>
                            <option value="1" {if condition="$one.system_type eq '1'"} selected {/if}>ios+android</option>
                            <option value="2" {if condition="$one.system_type eq '2'"} selected {/if}>ios</option>
                            <option value="3" {if condition="$one.system_type eq '3'"} selected {/if}>android</option>
                        </select>
                        <select name="adzsize" style="position:absolute;width:120px;left:250px;top:8.5px;">
                            <option value="-1" {if condition="$one.adzsize eq '-1'"} selected {/if}>投放尺寸</option>
                            <option value="640*200" {if condition="$one.adzsize eq '640*200'"} selected {/if}>640*200</option>
                            <option value="640*150" {if condition="$one.adzsize eq '640*150'"} selected {/if}>640*150</option>
                            <option value="640*100" {if condition="$one.adzsize eq '640*100'"} selected {/if}>640*100</option>
                            <option value="640*80" {if condition="$one.adzsize eq '640*80'"} selected {/if}>640*80</option>
                            <option value="200*200" {if condition="$one.adzsize eq '200*200'"} selected {/if}>200*200</option>
                            <option value="720*600" {if condition="$one.adzsize eq '720*600'"} selected {/if}>720*600</option>
                            <option value="50*50" {if condition="$one.adzsize eq '50*50'"} selected {/if}>50*50</option>
                        </select>
                        <select name="adtpl_id" style="position:absolute;width:120px;left:375px;top:8.5px;">
                            <option value="-1" {if condition="$one.adtpl_id eq '-1'"} selected {/if}>投放模式</option>
                            {volist name="$one.admode" id="vo"}
                            <option value="{$vo.tpl_id}" {if condition="$one.adtpl_id eq $vo.tpl_id"} selected {/if}>{$vo.tplname}</option>
                            {/volist}
                        </select>
                    </span>
                    <input class="input-text input1" name="style_id" value="{$one.style_id|default=''}" type="hidden" style="width:160px">
                    <button type="input" style="width:100px"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <table class="dataTable table-hover" name="users-list" >
                <tr role="row">
                    <th rowspan="1" colspan="1" style="width:13px;"><input class="checkedAll" id="" name="adzone" type="checkbox" data-name="name-data"></th>
                    <th>ID</th>
                    <th>广告位名称</th>
                    <th>站长名称</th>
                    <th>投放设备</th>
                    <th>尺寸</th>
                    <th>广告模式</th>
                    <!--<th>最近包天单价</th>-->
                    <!--<th>最近包天时间</th>-->
                    <th>包天详情</th>
                    <!--<th>星级</th>-->
                    <th>计费方式</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                {volist name="adzone_list" id="vo"}
                <tr class="unread">
                    <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="adzone" type="checkbox" data-name="name-data"></td>
                    <td>{$vo.adz_id}</td>
                    <td><a class="detailed_info">{$vo.zonename}</a></td>
                    <td><a href="/admin/users/webmaster/type/username/search/{$vo.username}">{$vo.username}</a></td>
                    <td>
                        {switch name="vo.system_type" }
                            {case value="0"}/{/case}
                            {case value="1"}ios+android{/case}
                            {case value="2"}ios{/case}
                            {case value="3"}android{/case}
                        {/switch}
                    </td>
                    <td>{$vo.width}*{$vo.height}</td>
                    <td>{$vo.tplname}</td>
                    {if condition="$vo.cp neq ''"}
                    <td><a href="/admin/site/zonecopylist?id={$vo.adz_id}">查看该广告位包天详情</a></td>
                    {else/}
                    <td>此广告位未包天</td>
                    {/if}
                    <td>{$vo.plantype}</td>

                    <!-- {if condition="$vo.cpd_status eq '1'"}<td><a href="/admin/site/zoneCopyList?id={$vo.adz_id}">查看该广告位包天详情</a></td>
                    {else/}<td>此广告位最近未包天</td>
                    {/if} -->
                    <!--<td>11</td>-->
                    <td>
                        <span class="common-button ajax-status">
                            {switch name="vo.status"}
                                {case value="0"}<span class="sta_er">锁定</span>{/case}
                                {case value="1"}<span class="sta_bl">活动</span>{/case}
                                {case value="2"}<span class="sta_er">待审</span>{/case}
                            {/switch}
                        </span>
                    </td>
                    <td>
                        <a href="javascript:;" class="data-lock " statuscls='ajax-status' data='{"adz_id":"{$vo.adz_id}","status":"0"}' durl="/admin/site/activate" >锁定</a>
                        <a href="javascript:;" class="data-activation" statuscls='ajax-status' data='{"adz_id":"{$vo.adz_id}","status":"1"}' durl="/admin/site/activate">激活</a>
                        <a href="/admin/site/adzoneEdit?id={$vo.adz_id}">编辑</a>
                        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="javascript:;" class="ajax-del" data='{"id":{$vo.adz_id}}' durl="/admin/site/adzoneDel">删除</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="javascript:;" class="testClass">测试</a>

                    </td>
                </tr>
                <tr class="u_info">
                    <td colspan="103">
                        <table class="tab_info" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td height="30">
                                    <strong>基本信息</strong>
                                    <span class="span7" style="padding-left:20px;">
                                        <a href="/admin/report/zoneReport?stats=zone_list&id=adz_id&numid={$vo.adz_id}">查看报表</a>
                                        
                                        <a href="/admin/newtest/adzlist?id={$vo.adz_id}">测试报表</a>

                                        <a href="javascript:;"  class="adz-copy"  data='{$vo.adz_id}'>复制定向</a>

                                        <a href="/admin/site/ruleList?index=adz_id&search={$vo.adz_id}">广告位规则</a>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr class='ce_add'>
                    <td colspan="103">
                        <table class="tab_info" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <th  style="height:30px;width: 20px;"><input type="radio" name="test" value="1">清理类测试</th>
                                <th  style="height:30px;width: 20px;"><input type="radio" name="test" value="2" checked="checked" >高要求测试</th>
                                <th  style="height:30px;width: 20px;"><input type="radio" name="test" value="3">小清新测试</th>
                                <th  style="height:30px;width: 20px;"><input type="radio" name="test" value="4">小说测试</th>
                                <th  style="height:30px;width: 20px;"><input type="radio" name="test" value="5">文字链接测试</th>
                                <th  ><input type="radio" name="test" value="6">右漂测试</th>
                            </tr>
                            <tr>
                                <td colspan="3">广告位ID：<input type="text" name="adz_id" value="{$vo.adz_id}" class="adz_id"></td>
                            </tr>
                            <tr>
                                <td colspan="6"><button class="btn btn-primary click" type="submit">提交</button></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {/volist}
            </table>
            <div class="row">
            {$page}
            </div>
        </div>
    </div>
</div>
<div class="modal_layer"></div>
<!--复制广告位定向弹窗-->
<div class="modal" style="width: 40%; height:40%; top: 25%; left: 25%;overflow:auto; display:none;">
    <div class="modal-header">
        <div class="modal_title"><h4 style="font-weight:bold;font-size: 1em;">复制广告位附加定向设置</h4></div>
        <div class="modal_close"></div>
    </div>
    <div class="modal-body">
        <div class="text" style="margin:0; padding-top:0;">
            <form action="#" name="addform" method="post" id="copyForm">
            <div class="adzname"></div>
            <div class="txt-fld">
                <label class="tit" for="" style="width: auto">复制广告位id</label>
                <input  class="adzCopy-erro" name="copy_id" type="text"> <span class="erro">请输入广告位id</span>
            </div>
            <div class="btn-fld" style="margin-top:10px;">
                <button class="btn btn-primary" type="submit">提交</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- end wrapper -->
{/block}

{block name="js"}
<script>
    $(function(){
        $("input[name='username']").keyup(function(){
            var val = $("input[name='username']").val();
            $.post()
        })
    })



$('.ce_add').hide();
//测试弹框
$('.testClass').click(function(){
    var dd=$(this).parents('tr').next().next('.ce_add');
    $(this).parents('tr').next().hide();
    var display =dd.css('display');
    if(display=='none'){
      dd.show();
    }else{
        dd.hide()
    }
})

//提交测试
$('.click').click(function(){
    var type =$('input[name="test"]:checked').val();
    var adz_id = $(this).parent().parent().parent().find(".adz_id").val();
    if(adz_id==''){
        alert("请输入广告位Id");
        return false;
    }
    $.ajax({
      type: 'post',
      url : '/admin/newtest/user_test',
      data: {'type':type,'adz_id':adz_id},
      success:function(data){
        if(data == 1){
            layer.msg(data.info, {icon: 1});
            return true;
        }else{
            layer.msg(data.info, {icon: 1});
            return false;
        }
      }
    })

})
</script>
{/block}