{extend name="public:base" /}
{block name="css"}
<link href="__CSS__/daterangepicker-bs3.css" rel="stylesheet"/>
{/block}
{block name="main"}
<div class="wrapper">
    <div class="main_nav">
        <div class="mn_left"></div>
        <div class="mn_right">
            <div class="mn_mt">
                <ul>
                    <li><a href="/admin/site/adzoneEdit?id={$adzRule.adz_id}">返回广告位编辑</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-header">
        <div class="modal_title"><h4 style="font-weight:bold;font-size: 1.5em;">编辑广告位定向</h4></div>
        <div class="modal_close"></div>
    </div>
    <div class="modal-body">
        <div class="text" style="margin:0; padding-top:0;">
            <form id="adzAuleFrom" method="">
                <!--点弹跳转端口选择-->
                <div class="adzmodal-line">
                    <label class="tit" for="" style="font-size: 1.2em;width:12%;">端口限制:</label>
                    <input class="" name="jp_port" type="radio" value="0" {if condition="$adzRule.jp_port eq 0 "} checked {/if}>不限
                    <input class="" name="jp_port" type="radio" value="1" {if condition="$adzRule.jp_port eq 1 "} checked {/if}>Ios
                    <input class="" name="jp_port" type="radio" value="2" {if condition="$adzRule.jp_port eq 2 "} checked {/if}>Android
                </div>
                <hr>
                <!-- 唤醒 -->
                <div class="adzmodal-line">

                    <label class="tit" for="" style="font-size: 1.2em;width:12%;">唤醒 :</label>

                    <div class="wake-cla">
                        <input class="wake_status" name="wake_on" type="radio" value="0" {if
                               condition="$adzRule.wake_on eq 0 " } checked {/if}>关闭
                        <input class="wake_status" name="wake_on" type="radio" value="1" {if
                               condition="$adzRule.wake_on eq 1 " } checked {/if}>开启
                    </div>
                    <div class="pro_select switch-div" style="display: none;">
                        <div class="modal-adzline">
                            <label>产品选择:</label>
                            {volist name="adzData.protype" id="vo"}
                            <input type="checkbox" name="wake_pro[]" value="{$vo.id}" {if
                                   condition=" !empty($adzRule) && in_array($vo.id,$adzRule['wake_pro'])" }
                                   checked="checked" {/if} >{$vo.type_name}
                            {/volist}
                        </div>
                        <div class="modal-adzline">
                            <label>频率:</label>
                            <input name="wake_num" type="text" value="{$adzRule.wake_num}" style="width: 80px;">% <span>&nbsp;（频率不得超过100%）</span>
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 点弹   或者  跳转选择 -->
                <div class="adzmodal-line">
                    <label class="tit" for="" style="font-size: 1.2em;width:12%;">点弹/跳转:</label>

                    <div class="jp-cla">
                        <input class="jp-status" name="jp_on" type="radio" value="0" {if
                               condition="$adzRule.jp_on eq 0 " } checked {/if}>关闭
                        <input class="jp-status" name="jp_on" type="radio" value="1" {if
                               condition="$adzRule.jp_on eq 1 " } checked {/if}>开启
                    </div>
                    <div class="adz-jp switch-div" style="display: none;">
                        <div class="modal-adzline">
                            <label>产品选择:</label>

                            <div class="pro-cla">
                                <input class="jump_point" name="jp_type" type="radio" value="0" {if
                                       condition="$adzRule.jp_type eq 0 " } checked {/if}>点弹
                                <input class="jump_point" name="jp_type" type="radio" value="1" {if
                                       condition="$adzRule.jp_type eq 1 " } checked {/if}>跳转
                            </div>
                        </div>
                        <div class="modal-adzline">
                            <label>同ip展示:</label>
                            <input name="jp_ip" type="text" value="{$adzRule.jp_ip}">次 <span>&nbsp;（大于100即为无限次）</span>
                        </div>
                    </div>
                    <!-- 点弹 -->
                    <div class="adz-point switch-div" style="display: none;">

                        <div class="modal-adzline">
                            <label>点弹设置:</label>

                            <div class="point-cla">
                                <input class="point-site" name="point_site" type="radio" value="0" {if
                                       condition="$adzRule.point_site eq 0 " } checked {/if}>延时点弹
                                <input class="point-site" name="point_site" type="radio" value="1" {if
                                       condition="$adzRule.point_site eq 1 " } checked {/if}>次数点弹
                            </div>
                        </div>
                        <div class="modal-adzline">
                            <!-- 延时点弹 -->
                            <div class="time-site">
                                <label>延时点弹:</label>
                                <input name="point_time" type="text" value="{$adzRule.point_time}" style="width: 80px;">秒
                                <span>&nbsp;（默认0秒，即没有延时效果）</span>
                            </div>
                            <!-- 次数点弹 -->
                            <div class="num-site" style="display: none;">
                                <label>次数点弹:</label>
                                <input name="point_num" type="text" value="{$adzRule.point_num}"> <span>&nbsp;（以逗号分隔，依次填入需要展示的次数，如：2,3,4  填写的次数不得超过5个，超过5个,只算前5个）</span>
                            </div>
                        </div>
                        <div class="modal-adzline">
                            <label>点弹落地页:</label>

                            <div>落地页地址填写超过5个，只算前5个</div>
                            <div class="asYhu">

                            </div>
                            <div><a href="#" onclick="appendUrl()"><i class="fa fa-plus-circle"></i>增加链接</a></div>
                        </div>
                    </div>
                    <!-- 跳转 -->
                    <div class="adz-jump switch-div" style="display: none;">
                        <div class="modal-adzline">
                            <label>跳转落地页:</label>

                            <div>落地页地址填写超过5个，只算前5个</div>
                            <div class="addJump add">

                            </div>
                            <div>链接对应秒数，默认0秒即为立即跳转</div>
                            <div><a href="#" onclick="appendjumpUrl()"><i class="fa fa-plus-circle"></i>增加链接</a></div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="adzmodal-line">
                    <label class="tit" style="font-size: 1.2em;width:12%;">特殊js:</label>

                    <div class="js-cla">
                        <input class="js-on" name="js_on" type="radio" value="0" {if condition="$adzRule.js_on eq 0 " }
                               checked {/if}>关闭
                        <input class="js-on" name="js_on" type="radio" value="1" {if condition="$adzRule.js_on eq 1 " }
                               checked {/if}>开启
                    </div>
                    <div class="adz_spjs switch-div" style="display: none;">
                        <div class="modal-adzline">
                            <label>投放周期:</label>
                            <input class="input-text " name="day_star" type="text" value="{$adzRule.js_check.day_star}"><span>-</span>
                            <input class="input-text " name="day_end" type="text"
                                   value="{$adzRule.js_check.day_end}"><span>天  周期是在所填写的两天中随机一个数字，例如3，则3天内只触发一次</span>
                        </div>
                        <div class="modal-adzline">
                            <label>投放频率:</label>
                            <input class="input-text input1" name="adz_jsNum" type="text"
                                   value="{$adzRule.js_check.adz_jsNum}"><span>频率代表第几次触发</span>
                        </div>
                        <div class="modal-adzline">
                            <label>链接:</label>
                            <input class="input-text input1" name="adz_jsUrl" type="text"
                                   value="{$adzRule.js_check.adz_jsUrl}">
                        </div>
                    </div>
                </div>
                <hr>
                <!--<div class="adzmodal-line">-->
                <div>
                    <label class="tit" style="font-size: 1.2em;width:12%;">规则:</label>
                    <!-- 地域限制 -->
                    <div class="modal-adzline">
                        <div class="map-cla">
                            <span>投放地域:</span>
                            <input name="city_isacl" value="0" type="radio" directional="directional" {if
                                   condition="$adzRule.map_rule.city_isacl eq 0 " } checked {/if}>不限
                            <input name="city_isacl" value="1" type="radio" directional="directional" {if
                                   condition="$adzRule.map_rule.city_isacl eq 1 " } checked {/if}>选择地域
                            <div class="t-show-hide switch-div" style="display:none;">
                                <div style="margin-top:10px;">
                                    <input name="comparison" value="1" type="radio" {if
                                           condition="$adzRule.map_rule.comparison eq 1 " } checked {/if}>允许
                                    <input name="comparison" value="0" type="radio" {if
                                           condition="$adzRule.map_rule.comparison eq 0" } checked {/if}>拒绝
                                    {volist name="adzData.adzCity" id="vo"}
                                    <label for="main_checkedttt" style="margin-left:100px;font-size: 14px;"><input
                                            type="checkbox" id="main_checkedttt" class="main_checkedttt"
                                            style="float: left;margin-top: 4px;margin-right: 2px;" value="{$vo.city}">{$vo.city_name}</label>
                                    {/volist}
                                    <label for="main_checked" style="margin-left:100px;font-size: 14px;"><input
                                            type="checkbox" id="main_checked" class="main_checked"
                                            style="float: left;margin-top: 4px;margin-right: 2px;">选择主要城市</label>
                                </div>
                                <div style="margin-top:10px;">
                                    <script src="__JS__/plan.js"></script>
                                    <script language="JavaScript">
                                        var _province = "{$adzRule['province']}";
                                        var _city = "{$adzRule['city']}";
                                        var _c = acity();
                                        document.write(_c);
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                        <div class="modal-adzline">
                            <span>时间限制:</span>
                            <ol class="schedule-list" style="display:block; margin-top:20px;">
                                <li>
                                    <ol class="schedule sch7">
                                        <li class="hour">
                                            <label><input class="weekdata7" style="margin-left: -7px;" type="checkbox">全选</label>
                                        </li>
                                        {volist name="hour" id="vo"}
                                        <li><label for=""><input type="checkbox" name="hour[]" value="{$vo}" {if
                                                                 condition=" !empty($adzData['adzHour']) && in_array($vo,$adzData['adzHour'])"
                                                                 } checked="checked" {/if} ></label><br>{$vo}
                                        </li>
                                        {/volist}
                                    </ol>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <hr>
                <!--//规则名称-->
                <div class="adzmodal-line">
                    <label>规则名称:</label>
                    <input name="rule_name" type="text" class="required rule_name" value="{$adzRule.rule_name}"> <span
                        class="erro" style="display:none;">请输入规则名称</span>
                </div>
                <hr>
                <input class="input-text input1" name="id" type="hidden" value="{$adzRule.id}">
                <input class="input-text input1" name="adz_id" type="hidden" value="{$adzRule.adz_id}">

                <div class="btn-fld" style=" width: 500px;margin-top:10px;">
                    <button class="btn btn-primary submit-btn" type="submit" style="margin-left: 20px">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- end wrapper -->
{/block}

{block name="js"}
<script src="__JS__/plan_add.js"></script>
<script src="__JS__/adz_edit.js"></script>
<script src="__STATIC__/js/moment.min.js"></script>
<script src="__JS__/daterangepicker.js"></script>
<script>
    //点弹
    $('.asYhu').ready(function () {
        var purl = {$adzRule.purl
    }
        ;
        for (var i = 0; i < purl.length; i++) {
            $(".asYhu").append('<select class="point_sele" name="point_url[]"><option value=' + purl[i].id + '>' + purl[i].url_name + ',' + purl[i].url + '</option></select><input type="text" value="" placeholder="输入链接名称">&nbsp;<i class="fa fa-search"></i><br>')
        }
    })
    //    跳转
    $('.jump_sele').ready(function () {
        var jurl = {$adzRule.jurl
    }
        ;
        var time = {$adzRule.jump_time
    }
        ;
        if (jurl.length > 0) {
            for (var a = 0; a <= jurl.length; a++) {
                $(".addJump").append('<select class="jump_sele" name="jump_url[]"><option value=' + jurl[a].id + '>' + jurl[a].url_name + ',' + jurl[a].url + '</option></select><input name="jump_time[]" type="text" value=' + time[a] + ' style="width: 50px;">秒 <input name="jsName" type="text" value="" placeholder="输入链接名称"><i class="fa fa-search"></i><br>')
            }
        }
    })
</script>
{/block}