{extend name="public:base" /}

{block name="main"}
<!--  编辑  -->
<div class="wrapper">
    <div class="main_nav">
        <div class="mn_left"></div>
        <div class="mn_right">
            <div class="mn_mt">
                <ul>
                    <li><a href="">返回列表</a></li>
                    <li><a href="">编辑网站</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h3 class="heading">编辑网站</h3>
        <form class="" action="/admin/site/siteEdit?id={$site_one.site_id}" method="post">
            <div class="control-group formSep st">
                <label class="control-label">创建时间</label>
                <div class="controls">
                    <input class="input1 input-text" name="uid" type="hidden" value="{$site_one.uid}">
                    <!-- <input class="input1 input-text" name="username" type="text" value="{$site_one.username}"><span id="name_text"></span> -->
                    <p class="input1" style="margin-top:6px;">2016-07-05</p>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">网站域名</label>
                <div class="controls">
                    http://<input class="input1 input-text required b_quired" name="siteurl" type="text" value="{$site_one.siteurl}"><span class="erro">输入网站域名</span>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">是否包含https</label>
                <div class="controls">
                    <input type="radio" name="https" value="0" {if condition="$site_one.https eq '0'"}checked{/if}> 否 
                    <input type="radio" name="https" value="1" {if condition="$site_one.https"}checked{/if}> 是 
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">网站名称</label>
                <div class="controls">
                    <input class="input1 input-text required" name="sitename" type="text" value="{$site_one.sitename}"><span class="erro">输入网站名称</span>
                </div>
            </div>
            {if condition="$auth.group_id eq '1'"}
            <div class="control-group formSep">
                <label class="control-label">站长扣量</label>
                <div class="controls">
                    <input class="input-text input1" name="web_deduction" type="text" value="{$site_one.web_deduction}"><span>%</span>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">广告商扣量</label>
                <div class="controls">
                    <input class="input-text input1" name="adv_deduction" type="text" value="{$site_one.adv_deduction}"><span>%</span>
                </div>
            </div>
            {/if}
            <div class="control-group formSep">
                <label class="control-label">网站备案信息</label>
                <div class="controls">
                    <input class="input1 input-text required" name="sitebeian" type="text" value="{$site_one.beian}"><span class="erro">输入备案信息</span>
                </div>
            </div>
             <div class="control-group formSep">
                <label class="control-label">CNZZ代码添加</label>
                <div class="controls">
                    <input class="input1 input-text " name="site_cnzz_id" type="text" value="{$site_one.site_cnzz_id}">
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">星级</label>
                <div class="controls" style="margin-top:8px;">
                    <input class="input-text" name="star" type="radio" value="1" {if condition="$site_one.star eq '1'"}checked=""{/if}>
                    <i class="fa fa-star" style="font-size:16px;color:#cdcdcd;" ></i>
                    <input class="input-text" name="star" type="radio" value="2" {if condition="$site_one.star eq '2'"}checked=""{/if}>
                    <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                    <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                    <input class="input-text" name="star" type="radio" value="3" {if condition="$site_one.star eq '3'"}checked=""{/if}>
                    <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                    <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                    <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                    <input class="input-text" name="star" type="radio" value="4" {if condition="$site_one.star eq '4'"}checked=""{/if}>
                    <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                    <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                    <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                    <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                    <input class="input-text" name="star" type="radio" value="5" {if condition="$site_one.star eq '5'"}checked=""{/if}>
                    <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                    <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                    <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                    <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                    <i class="fa fa-star" style="font-size:16px;color:#fed004;"></i>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">网站类型</label>
                <div class="controls">
                    <select name="class_id">
                        {volist name="class_list" id="vo"}
                        <option value="{$vo.class_id}" {if condition="$vo.class_id eq $site_one.class_id"} selected {/if}>{$vo.class_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>
            <div class="control-group formSep">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

{/block}

<!-- end wrapper -->

{block name="js"}
<script>
    $(function(){

        $("input[name='username']").keyup(function(){
            var val = $("input[name='username']").val();
            $.post('/admin/site/userOne',{username:val},function(data){
                if(data ==0){
                    $('#name_text').text("没有这个站长，请重新输入").css('color','red');
                }else{
                    $('#name_text').text(' ');
                    $("input[name='uid']").val(data);
                }


            })
        })

        //为空验证判断
        $("form").submit(function(){
            var flag = true;
            $(".required").each(function(){
                if($(this).val() == ""){
                    $(this).next().css("display","inline");
                    $(this).focus();
                    $("html,body").animate({scrollTop:0}, 0);
                    flag = false;
                }
            })
            if(!flag){
                return false;
            }
        })
        //keyup事件
        $(".required").keyup(function(){
            var value = $(this).val();
            if(value!=""){
                $(this).next().css("display","none");
                return true;  
            }else{  
                $(this).next().css("display","inline");
                return false;  
            }
        })
        //网址判断
        $(".b_quired").keyup(function(){  
        //正则判断
            var pattern =/^http:\/\/[A-Za-z0-9]+\.[A-Za-z0-9]+[\/=\?%\-&_~`@[\]\':+!]*([^<>\"\"])*$/;
            var value = $(this).val();
            if(pattern.test(value)==true){
               $(this).next().css('display','none');
               return true;  
            }else{  
               $(this).next().css('display','inline');
               return false;  
            }    
        }) 
    })
</script>
{/block}