{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
         <div id="repo_data" class="tb_sts" style="position:absolute; top:56px; right:30px;">
            <a href="/admin/site/index?status=site_all"  {if condition="$one.status eq 'site_all'"} class="repo_data" {/if} >全部</a>
            <a href="/admin/site/index?status=0" {if condition="$one.status eq '0'"} class="repo_data" {/if} >锁定</a>
            <a href="/admin/site/index?status=1" {if condition="$one.status eq '1'"} class="repo_data" {/if}>激活</a>
            <a href="/admin/site/index?status=2" {if condition="$one.status eq '2'"} class="repo_data" {/if}>待审</a>
         </div>
        <h3 class="heading">网站管理</h3>
        <div class="dataTables-wrapper">
            <div class="tb-lis users_lis">
                <a href="/admin/site/siteAdd"><i class="fa fa-plus-circle"> 新增网站</i></a>
                <div class="tb_sts">
                   <form  action="/admin/site/index?status=site_all" name="adzone" method="post">
                        搜索：
                        <input class="input-text input1" name="search" value="{$one.search|default=''}" type="text" style="width:160px">
                        <select name="index">
                            <option value="sitename"  {if condition="$one.index eq 'sitename'"} selected {/if}>网站名称</option>
                            <option value="username" {if condition="$one.index eq 'username'"} selected {/if}>站长名称</option>
                            <option value="siteurl" {if condition="$one.index eq 'siteurl'"} selected {/if}>网站地址</option>
                            <option value="class_name" {if condition="$one.index eq 'class_name'"} selected {/if}>网站类型</option>
                        </select>
                        <button type="input" style="width:100px"><i class="fa fa-search"></i></button>
						<a href="#" id="excel"><i class="fa fa-plus-circle"></i> 导出Excel</a>
                    </form>
                </div>
            </div>
        </div>
           <!--  <div class="tb_sts" style="display:none;">
                <form action="" action="post">
                <select name="" id="" style="color:#222;">
                    <option value="">网站URL</option>
                    <option value="">网站名称</option>
                    <option value="">网站ID</option>
                    <option value="">站长名称</option>
                    <option value="">站长ID</option>
                </select>
                <input class="input-text" type="text">
                <select name="" id="" style="color:#222;">
                    <option value="">所有类型</option>
                    <option value="">网络购物</option>
                    <option value="">人才招聘</option>
                    <option value="">汽车</option>
                    <option value="">房产</option>
                </select>
                <select name="" id="" style="color:#222;">
                    <option value="">所有等级</option>
                    <option value="">0星级</option>
                    <option value="">1星级</option>
                    <option value="">2星级</option>
                </select>
                <select name="" id="" style="color:#222;">
                    <option value="">Alexa</option>
                    <option value="">Pr</option>
                </select>
                >
                <input class="input-text" type="text">
                <span class="plan-search"><i class="fa fa-search"></i></span>
            </form>
            </div> -->
            <table class="dataTable table-hover" name="users-list" >
                <tr role="row">
                    <th rowspan="1" colspan="1" style="width:13px;"><input class="checkedAll" id="" name="site" type="checkbox" data-name="name-data"></th>
                    <th>ID</th>
                    <th>站长</th>
                    <th>网站名称</th>
                    <th>网站地址</th>
                    <th>是否包含https</th>
                    <th>网站类型</th>
                    {if condition="$judge_name eq 'admin'"}
                    <th>站长扣量</th>
                    <th>广告商扣量</th>
                    {/if}
                    <th>今日访问</th>
                    <th>昨日访问</th>
                    <!--<th>Alexa/PR</th>-->
                    <th>星级</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                {volist name="site_list" id="vo"}
                <tr class="unread">
                    <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="site" type="checkbox" data-name="name-data"></td>
                    <td><a class="detailed_info">{$vo.site_id}</a></td>
                    <td>{$vo.username}</td>
                    <td>{$vo.sitename}</td>
                    <td>{$vo.siteurl}</td>
                    <td>{if condition="$vo.https"}是{else/}否{/if}</td>
                    <td>{$vo.class_name}</td>
                    {if condition="$judge_name eq 'admin'"}
                    <td><a href="javascript:;"  class="data-amount"  data='{"site_id":"{$vo.site_id}","type":"web"}' durl='/admin/site/deduction'>{$vo.web_deduction|default='0'}</a></td>
                    <td><a href="javascript:;"  class="data-amount"  data='{"site_id":"{$vo.site_id}","type":"adv"}' durl='/admin/site/deduction'>{$vo.adv_deduction|default='0'}</a></td>
                    {/if}
                    <td>{$vo.todayViews}</td>
                    <td>{$vo.yesterdayViews}</td>
                    <td>{$vo.star}</td>
                    <td>
                        <span class="common-button ajax-status">
                            {switch name="$vo.status" }
                                {case value="0"}<span class="sta_er">锁定</span>{/case}
                                {case value="1"}<span class="sta_bl">活动</span>{/case}
                                {case value="2"}<span class="sta_er">待审</span>{/case}
                            {/switch}
                        </span>

                    </td>
                    <td>
                        <a href="javascript:;"  class="data-lock"  data='{"id":"{$vo.site_id}","status":"0"}' durl='/admin/site/siteEditStatus' statuscls='ajax-status'>锁定</a>
                        <a href="javascript:;"  class="data-activation"  data='{"id":"{$vo.site_id}","status":"1"}' durl='/admin/site/siteEditStatus' statuscls='ajax-status'>激活</a>
                        <a href="/admin/site/siteEdit?id={$vo.site_id}">编辑</a>
                        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="javascript:;" class="ajax-del" data='{"id":{$vo.site_id}}' durl="/admin/site/siteDel">删除</a>
                    </td>
                </tr>
                <tr class="u_info">
                    <td colspan="103">
                        <table class="tab_info" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td height="30">
                                    <strong>基本信息</strong>
                                    <span class="span7" style="padding-left:20px;">
                                        <a href="/admin/report/siteReport?stats=site_list&id=site_id&numid={$vo.site_id}">查看报表</a>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {/volist}

            </table>
            <div class="row">
            {$page}
            </div>
        </div>
    </div>
</div>

<!-- end wrapper -->
{/block}

{block name="js"}
<script type="text/javascript">

var status = getQueryString('status');
    //导出数据
    $('#excel').click(function(){

        var data = $("form").serialize();
         
        // console.log(status)
        if(status == 'null'){
            status = 'site_all';
        }
        // console.log(status)
        window.location.href="/admin/Site/siteExcel?"+data+"&status="+status;
    })

    function getQueryString(name) { 
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i"); 
        var r = window.location.search.substr(1).match(reg); 
        
        if (r != null){
            return unescape(r[2]);
        }else{
            return null;
        }
    }
</script>
{/block}