<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>乐樽-专注于移动互联网广告</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <link rel="shortcut icon"  href="__HIMG__/logo.ico"/>
  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css"  href="__HCSS__/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="__STATIC__/css/font-awesome.min.css">
  <!--<link rel="stylesheet" type="text/css" href="__HCSS__/font-awesome.min.css"/>-->
<!-- Slider
  ================================================== -->
  <link href="__HCSS__/owl.carousel.css" rel="stylesheet" media="screen">
  <link href="__HCSS__/owl.theme.css" rel="stylesheet" media="screen">

<!-- Stylesheet
  ================================================== -->
  <link rel="stylesheet" type="text/css"  href="__HCSS__/style.css">
  <link rel="stylesheet" type="text/css" href="__HCSS__/responsive.css">


  <script type="text/javascript" src="__HJS__/modernizr.custom.js"></script>


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
<!-- Navigation
  ==========================================-->
  <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"> </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#tf-home" class="page-scroll">首页</a></li>
          <li><a href="#tf-about" class="page-scroll">核心资源</a></li>
          <li><a href="#tf-team" class="page-scroll">服务优势</a></li>
          <li><a href="#tf-services" class="page-scroll">合作优势</a></li>
          <li><a href="#tf-works" class="page-scroll">业务类型</a></li>
          <li><a href="#tf-testimonials" class="page-scroll">关于我们</a></li>
          <li><a href="#tf-contact" class="page-scroll">登录</a></li>
          <li><a href="register.html" target="new" class="page-scroll">注册</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<!-- Home Page
  ==========================================-->
  <div id="tf-home" class="text-center">
    <div class="overlay">
      <div class="content">
        <h1>一站式广告 <strong><span class="color">给你最好的</span></strong></h1>
        <p class="lead">专业优秀的移动广告，你想要的，都在这里</p>
        <script src="__STATIC__/jquery/jquery.min.js"></script>
        <!--<script type="text/javascript" src="__HJS__/animatext.min.js"></script>-->
      <!--<script type="text/javascript">
//文字
  $(".lead").animatext({speed: 150,
    effect: 'tada',
    random: true,
    infinite: true
  });
</script>-->
<a href="#tf-about" class="fa fa-angle-down page-scroll"></a> </div>
</div>
</div>

<!-- About Us Page
  ==========================================-->
  <div id="tf-about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="__HIMG__/02.png" class="img-responsive">
        </div>
        <div class="col-md-6">
          <div class="about-text">
            <div class="section-title">
              <h2>核心资源</h2>
              <h4>ADVANTAGES</h4>
              <hr>
              <div class="clearfix"></div>
            </div>
            <p class="intro">乐樽自主算法清晰定位人群类型，垂直行业地区媒体，有效覆盖高消费人群。结合自有媒体深入的用户行为统计与分析，广告投放更加精准，广告投入产出比有效提升。</p>
            <ul class="about-list">
              <li>
                <span class="fa fa-dot-circle-o"></span>
                <strong>WAP网站 2亿+曝光</strong> - 海量优质媒体资源和丰富广告样式，全面触达用户，确保广告投放质量与品牌安全。
              </li>
              <li>
                <span class="fa fa-dot-circle-o"></span>
                <strong>APP 7000+多开发者</strong> - 专注于安卓/ios/sdk手机广告，IP，安卓流量收购与出售，提供海量最优质的广告和技术支持，为合作伙伴创造超高收益的实力广告平台。
              </li>
              <li>
                <span class="fa fa-dot-circle-o"></span>
                <strong>自媒体15000+</strong> -结合自有媒体深入的用户行为统计与分析，广告投放更加精准，广告投入产出比有效提升。
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Team Page
  ==========================================-->
  <div id="tf-team" class="text-center">
    <div class="overlay">
      <div class="container">
        <div class="section-title center">
          <h2>服务<strong>优势</strong></h2>
          <div class="line">
            <hr>
          </div>
        </div>

        <div id="team" class="owl-carousel owl-theme row">
          <div class="item">
            <div class="thumbnail">
              <img src="__HIMG__/team/01.jpg" alt="..." class="img-circle team-img">
              <div class="caption">
                <h3>实时监控日志</h3>
                <p>MONITOR LOG</p>
                <p>实时呈现受众浏览广告落地页时获取的个人系统信息（含访问时间，IP地址、手机型号、系统版本等信息）</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="thumbnail">
              <img src="__HIMG__/team/02.jpg" alt="..." class="img-circle team-img">
              <div class="caption">
                <h3>销售线索实时通知</h3>
                <p>REAL-TIME REPORTS</p>
                <p>实时将销售线索详情发送给相关销售人员，加速销售转化率，抢占先机</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="thumbnail">
              <img src="__HIMG__/team/03.jpg" alt="..." class="img-circle team-img">
              <div class="caption">
                <h3>广告位转化数据</h3>
                <p>DATA</p>
                <p>可精准统计媒体广告位的线索转化情况，为实时优化渠道提供数据信息</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="thumbnail">
              <img src="__HIMG__/team/04.jpg" alt="..." class="img-circle team-img">
              <div class="caption">
                <h3>移动端媒体</h3>
                <p>MOBILE MEDIA</p>
                <p>通过对媒体用户行为数据深度挖掘并分析</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="thumbnail">
              <img src="__HIMG__/team/05.jpg" alt="..." class="img-circle team-img">
              <div class="caption">
                <h3>用户群</h3>
                <p>USER GROUP</p>
                <p>完整呈现用户画像，精准定位群体标签</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="thumbnail">
              <img src="__HIMG__/team/06.jpg" alt="..." class="img-circle team-img">
              <div class="caption">
                <h3>广告主</h3>
                <p>ADVERTISERS</p>
                <p>按效果付费，按人群投放，将广告受众与用户精准匹配</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="thumbnail">
              <img src="__HIMG__/team/07.jpg" alt="..." class="img-circle team-img">
              <div class="caption">
                <h3>收益最大化</h3>
                <p>MAXIMIZING REVENUE</p>
                <p>严谨、完善的联盟制度，保证您的广告费用获得最大收益</p>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="thumbnail">
              <img src="__HIMG__/team/08.jpg" alt="..." class="img-circle team-img">
              <div class="caption">
                <h3>高效快捷</h3>
                <p>EFFICIENCY</p>
                <p>数千家各种类型的网站主资源，迅速帮助您提升网站访问量和品牌知名度</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<!-- Services Section
  ==========================================-->
  <div id="tf-services" class="text-center">
    <div class="container">
      <div class="section-title center">
        <h2>合作优势</h2>
        <div class="line">
          <hr>
        </div>
        <div class="clearfix"></div>
        <small>通过海量的广告请求匹配，深度的数据挖掘分析，帮助广告主将广告投放到目标用户眼前一箭中的，实现广告效果的最优化</small>
      </div>
      <div class="space"></div>
      <div class="row">
        <div class="col-md-3 col-sm-6 service">
          <!--<i class="fa fa-desktop"></i>-->
          <span class="hv"   style="margin-bottom: 5%;display: inline-block;padding:10%;border: 4px solid #FCAC45;border-radius: 50%;width:40%;">
            <img style="vertical-align: middle;width: 100%;" src="__HIMG__/011.png"/>
          </span>
          <h4><strong>最大化的合作收益</strong></h4>
          <p>与上千个广告主保持长期、深度的合作，确保广告填充率和用户体验；多样的广告展示机制，全面提升活跃和非活跃用户价值，并提供业内有竞争力的结算价格，以最大化开发者收益。</p>
        </div>

        <div class="col-md-3 col-sm-6 service">
          <!--    <i class="fa fa-mobile"></i>-->
          <span class="hv"   style="margin-bottom: 5%;display: inline-block;padding:10%;border: 4px solid #FCAC45;border-radius: 50%;width:40%;">
            <img style="vertical-align: middle;width: 100%;" src="__HIMG__/022.png"/>
          </span>
          <h4><strong>贴心周到的服务</strong></h4>
          <p>乐樽拥有专业的客服人员，保证新提交应用的快速审核。对于开发者广告费用提现审核及时响应快速到帐。同时，如果开发者有建议或意见我们也会及时跟进反馈。</p>
        </div>

        <div class="col-md-3 col-sm-6 service">
          <!--<i class="fa fa-camera"></i>-->
          <span class="hv"   style="margin-bottom: 5%;display: inline-block;padding:10%;border: 4px solid #FCAC45;border-radius: 50%;width:40%;">
            <img style="vertical-align: middle;width: 100%;" src="__HIMG__/033.png"/>
          </span>
          <h4><strong>稳定的广告平台</strong></h4>
          <p>凭借成熟的技术与完善的监控机制确保广告系统的稳定运行，并根据开发者的反馈问题及时提供解决方案。</p>
          </div>

          <div class="col-md-3 col-sm-6 service">
            <!--  <i class="fa fa-bullhorn"></i>-->
            <span class="hv" style="margin-bottom: 5%;display: inline-block;padding:10%;border: 4px solid #FCAC45;border-radius: 50%;width:40%;">
              <img style="vertical-align: middle;width: 100%;" src="__HIMG__/044.png"/>
            </span>
            <h4><strong>丰富的运营经验</strong></h4>
            <p>严格审核广告内容，做到高度匹配、精准投放，将开发者APP与广告资源完美结合，同时也保护开发者应用的用户体验。</p>
          </div>
        </div>
      </div>
    </div>

<!-- Clients Section
  ==========================================-->
  <div id="tf-clients" class="text-center">
    <div class="overlay">
      <div class="container">

        <div class="section-title center">
          <h2>合作客户</h2>
          <div class="line">
            <hr>
          </div>
        </div>
        <div id="clients" class="owl-carousel owl-theme">
          <div class="item">
            <img src="__HIMG__/client/01.png">
          </div>
          <div class="item">
            <img src="__HIMG__/client/02.png">
          </div>
          <div class="item">
            <img src="__HIMG__/client/03.png">
          </div>
          <div class="item">
            <img src="__HIMG__/client/04.png">
          </div>
          <div class="item">
            <img src="__HIMG__/client/05.png">
          </div>
          <div class="item">
            <img src="__HIMG__/client/06.png">
          </div>
          <div class="item">
            <img src="__HIMG__/client/07.png">
          </div>
        </div>

      </div>
    </div>
  </div>

<!-- Portfolio Section
  ==========================================-->
  <div id="tf-works">
    <div class="container"> <!-- Container -->
      <div class="section-title text-center center">
        <h2>业务类型</h2>
        <div class="line">
          <hr>
        </div>
        <div class="clearfix"></div>
        <small>你想要的，都在这里^_^</small>
      </div>
      <div class="space"></div>

      <div class="categories">

        <ul class="cat">
          <li class="pull-left"><h4>你想要的都在这里:</h4></li>
          <li class="pull-right">
            <ol class="type">
              <li><a href="#" data-filter="*" class="active">全部</a></li>
              <li><a href="#" data-filter=".web">广告类型</a></li>
              <li><a href="#" data-filter=".photography">图片格式</a></li>
              <li><a href="#" data-filter=".app" >APP</a></li>
              <li><a href="#" data-filter=".branding" >品牌</a></li>
            </ol>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div id="lightbox" class="row">

        <div class="col-sm-6 col-md-3 col-lg-3 branding">
          <div class="portfolio-item">
            <div class="hover-bg">
              <!-- <a href="#"> -->
                <div class="hover-text">
                  <h4>专注于移动互联网广告</h4>
                  <small>乐樽</small>
                  <div class="clearfix"></div>
                  <!-- <i class="fa fa-plus"></i>              -->
                </div>
                <img src="__HIMG__/portfolio/01.jpg" class="img-responsive" alt="...">
                <!-- </a> -->
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-md-3 col-lg-3 photography app">
            <div class="portfolio-item">
              <div class="hover-bg">
                <!-- <a href="#"> -->
                  <div class="hover-text">
                    <h4>贴心的客户服务</h4>
                    <small>为您提供专业咨询</small>
                    <div class="clearfix"></div>
                    <!--<i class="fa fa-plus"></i>-->
                  </div>
                  <img src="__HIMG__/portfolio/02.jpg" class="img-responsive" alt="...">
                  <!-- </a> -->
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 branding">
              <div class="portfolio-item">
                <div class="hover-bg">
                  <!-- <a href="#"> -->
                    <div class="hover-text">
                      <h4>各种类型的移动广告</h4>
                      <small>总有一款适合你</small>
                      <div class="clearfix"></div>
                      <!--<i class="fa fa-plus"></i>-->
                    </div>
                    <img src="__HIMG__/portfolio/03.jpg" class="img-responsive" alt="...">
                    <!-- </a> -->
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-3 col-lg-3 branding">
                <div class="portfolio-item">
                  <div class="hover-bg">
                    <!-- <a href="#"> -->
                      <div class="hover-text">
                        <h4>移动广告</h4>
                        <small>我们是专业的</small>
                        <div class="clearfix"></div>
                        <!--<i class="fa fa-plus"></i>-->
                      </div>
                      <img src="__HIMG__/portfolio/04.jpg" class="img-responsive" alt="...">
                      <!-- </a> -->
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                  <div class="portfolio-item">
                    <div class="hover-bg">
                      <!-- <a href="#"> -->
                        <div class="hover-text">
                          <h4>最专业的</h4>
                          <small>插屏广告</small>
                          <div class="clearfix"></div>
                          <!--<i class="fa fa-plus"></i>-->
                        </div>
                        <img src="__HIMG__/portfolio/05.jpg" class="img-responsive" alt="...">
                        <!-- </a> -->
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                      <div class="hover-bg">
                        <!-- <a href="#"> -->
                          <div class="hover-text">
                            <h4>有效投放</h4>
                            <small>庞大的客户群支持</small>
                            <div class="clearfix"></div>
                            <!--<i class="fa fa-plus"></i>-->
                          </div>
                          <img src="__HIMG__/portfolio/06.jpg" class="img-responsive" alt="...">
                          <!-- </a> -->
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-3 col-lg-3 photography web">
                      <div class="portfolio-item">
                        <div class="hover-bg">
                          <!-- <a href="#"> -->
                            <div class="hover-text">
                              <h4>形式多样的</h4>
                              <small>动态素材</small>
                              <div class="clearfix"></div>
                              <!--<i class="fa fa-plus"></i>-->
                            </div>
                            <img src="__HIMG__/portfolio/07.gif" class="img-responsive" alt="...">
                            <!-- </a> -->
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-3 col-lg-3 web">
                        <div class="portfolio-item">
                          <div class="hover-bg">
                            <!-- <a href="#"> -->
                              <div class="hover-text">
                                <h4>一站式广告</h4>
                                <small>开屏式</small>
                                <div class="clearfix"></div>
                                <!--<i class="fa fa-plus"></i>-->
                              </div>
                              <img src="__HIMG__/portfolio/08.jpg" class="img-responsive" alt="...">
                              <!-- </a> -->
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

<!-- Testimonials Section
  ==========================================-->
  <div id="tf-testimonials" class="text-center">
    <div class="overlay">
      <div class="container">
        <div class="section-title center">
          <h2>关于我们</h2>
          <div class="line">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div id="testimonial" class="owl-carousel owl-theme">
              <div class="item">
                <h5>乐樽团队在为不同的行业提供专业的广告服务，依靠多年来的不懈努力，及精诚团结的管理团队，专业水准的技术人员，熟悉互联网以及广告流程的业务人员，在 “ 传播诚信，以义制利 ” 的经营理念与宗旨下，走在了国内IT行业的前沿。</h5>
                <p><strong>lezun.</strong>com</p>
              </div>

              <div class="item">
                <h5>  乐樽拥有一个高素质的技术团队，团队以诚优网络为核心凝聚了一批行业内年轻、有活力的成员。他们在各自的阵地上有着出色的表现以及丰富的实战经验，更具魅力的是他们的创造力和奉献精神。我们团队的成员都是设计界的精英，受过高等的艺术深造，经过多重工作实战磨练。并拥有与国内外各大企业成功的合作经验。是优秀的网络营销与平面设计后起之秀，能够做到迅速启动您的目标客户群体，大幅度促进产品的销量和速度。</h5>
                <p><strong>lezun.</strong>com</p>
              </div>

              <div class="item">
                <h5>凭借长期成功运营大型网站的经历，诚优网络积聚了良好的行业人脉和丰富的互联网媒体资源，此外还与百度，google，腾讯等多家互联网行业领跑者结成了紧密的合作关系。</h5>
                <p><strong>lezun.</strong>com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Contact Section
  ==========================================-->
  <div id="tf-contact" class="text-center">
    <div class="container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form  id="formId" name="formId" method="POST" action=""  >
            <div style="position:relative; left:0; display:table; ">
              <div class="col-md-8 col-md-offset-2">
                <div class="section-title center">
                  <h2>登录</h2>
                  <div class="line">
                    <hr>
                  </div>
                  <div class="clearfix"></div>
                  <small>致力于互联网服务的资讯传播与价值创造，研发定制切合客户需求的互联网、电子商务及企业信息化项目的最佳推广营销方案。经过数年的快速发展，乐樽已经摸索出适合自己的经营模式，各项业务迅速发展壮大，走在了国内IT行业的前沿</small> </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="username">用户名</label>
                        <input name="username" type="text" class="form-control" id="username" placeholder="请输入您的用户名">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="password">密码</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6" style="text-align:left;">
                      <div class="form-group">
                        <img src="/index/hpage/verify" class="verifyimg reloadverify"  title="看不清楚？请点击刷新验证码" id="reloadverify" style="vertical-align: middle;width:90%; padding: 6px; cursor: pointer;"/>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="verify">验证码</label>
                        <input type="text" class="form-control" name="verify" id="verify" maxlength="4" size="4" placeholder="请输入验证码">
                      </div>
                    </div>
                  </div>
                  <!-- <div class="form-group" style="display:none">
                    <label for="exampleInputEmail1">Message</label>
                    <textarea name="textarea" rows="3" class="form-control"></textarea>
                  </div> -->
                  <div style="position:relative; left:0; display:table; text-decoration:underline "><br>
                    <a href="/index/hpage/register" target="new">注册</a></div>
                    <input type="submit" class="btn tf-btn btn-default" id="login" value="登录">
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>

      <nav id="footer">
        <div class="container">
          <div class="pull-left fnav">
            <p>Copyright @ 2011-2016 www.lezun.com All rights reserved. 乐樽　陕ICP备16008755号-1</p>
          </div>
          <div class="pull-right fnav">
            <ul class="footer-social" style="margin:0">
              <li><a href="http://wpa.qq.com/msgrd?v=3&uin=2885726246&site=www.lezun.com&menu=no" target="_blank">网站主：2885726246<i class="fa fa-facebook" style="display:none"></i></a></li>
              <li><a href="http://wpa.qq.com/msgrd?v=3&uin=2885726294&site=www.lezun.com&menu=no" target="_blank">广告商：2885726294<i class="fa fa-twitter" style="display:none"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>


      <script src="__STATIC__/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="__HJS__/bootstrap.js"></script>
      <script type="text/javascript" src="__HJS__/SmoothScroll.js"></script>
      <script type="text/javascript" src="__HJS__/jquery.isotope.js"></script>
      <script src="__HJS__/owl.carousel.js"></script>
      <script type="text/javascript" src="__HJS__/main.js"></script>
      <script src="__STATIC__/layer/layer.js"></script>


<script type="text/javascript" >

    $('#formId').submit(function(){
        //点击按钮提交
        var href = '/index/hpage/login';
        var data = $("#formId").serialize(); 

        var storage = window.localStorage;

        $.post(href,data,success);
        function success(data) {
            if (data.status == 1) {
                var aa = document.createElement("a"); 
                aa.setAttribute("href",data.data);
                var bodys=document.getElementsByTagName("body")[0];
                bodys.appendChild(aa);
                aa.click();
            }else{
                $('#reloadverify').trigger("click");
                layer.msg(data.info, {icon: 1});
                return false;
            } 
        }
        return false;
    });

        $(function(){
        //刷新验证码
        var verifyimg = $(".verifyimg").attr("src");

        $(".reloadverify").click(function(){

            if( verifyimg.indexOf('?')>0){
                $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
            }else{
                $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
            }
        });
    });
</script>



    </body>
    </html>