{extend name="public:base" /}


<!-- block main start -->
{block name="main"}

<!--body  -->

<div class="wrapper">
    <div class="row-fluid">
        <div id="repo_data" class="tb_sts" style="position:absolute; top:56px; right:30px;">
            <a href="/admin/paylog/clearing" class="payTab"><i class="fa fa-plus-circle"></i>未支付</a>
            <a href="/admin/paylog/paypal"><i class="fa fa-plus-circle"></i>等待支付</a>
            <a href="/admin/paylog/paid"><i class="fa fa-plus-circle"></i>已支付</a>
            
        </div>
        <div class="heading">
            <h3 class="heading">财务结算</h3>
            <div>
                <i class="fa fa-plus-circle"></i><a href="/admin/paylog/excel?type=1" style="color:#09a26f;"> 导出未支付Excel</a>
                &nbsp&nbsp&nbsp&nbsp&nbsp
                <i class="fa fa-plus-circle"></i><a href="/admin/paylog/excel?type=2" style="color:#09a26f;"> 导出已支付Excel</a>
            </div>
        </div>
        <div class="dataTables-wrapper">
            <!-- <div class="information">
                <p>未支付信息：[农业银行]：¥1212312</p>
                <p>合计：¥12213232</p>
            </div>
            <div class="tb-lis">
                <a href="/admin/paylog/handSet"><i class="fa fa-plus-circle"></i>手动结算</a>
                <a href=""><i class="fa fa-plus-circle"></i>支付汇总</a> -->
                <!-- <div style="display:none;">
                    <a href="#"><i class="fa fa-flag-o"></i>已审核</a>
                    <a href="#"><i class="fa fa-flag-o"></i>已锁定</a>
                    <a href="#"><i class="fa fa-flag-o"></i>限额过期</a>
                    <a href="#"><i class="fa fa-flag-o"></i>修改待审</a>
                </div>
            </div> -->
        <div class="row">
            <div class="plan6">
                <div class="dataTables-length">
                    <form  action="/admin/paylog/clearing" name="setform" method="post">
                        搜索：
                        <input class="input-text input1" name="search" value="{$params.search|default=''}" type="text">
                        <select name="webmaster">
                            <option value="username" {if condition="$params.webmaster eq 'username'"} selected {/if}>站长名称</option>
                            <option value="uid" {if condition="$params.webmaster eq 'uid'"} selected {/if}>站长ID</option>
                            <option value="uname" {if condition="$params.webmaster eq 'uname'"} selected {/if}>所属客服</option>
                       <!--      <option value="">站长名称2</option> -->
                        </select>
                        <button type="input" style="width:100px"><i class="fa fa-search"></i></button>
                     <!-- <span class="plan-search"><i class="fa fa-search"></i></span> -->
                    </form>
                </div>
            </div>
            <form name="clearing" id="clearing" method="post">
               <!--  <div class="tb-lis">
                <a href="/admin/paylog/handSet"><i class="fa fa-plus-circle"></i>手动结算</a>
                <a href=""><i class="fa fa-plus-circle"></i>支付汇总</a>
                <div style="display:none;">
                    <a href="#"><i class="fa fa-flag-o"></i>已审核</a>
                    <a href="#"><i class="fa fa-flag-o"></i>已锁定</a>
                    <a href="#"><i class="fa fa-flag-o"></i>限额过期</a>
                    <a href="#"><i class="fa fa-flag-o"></i>修改待审</a>
                </div>
            </div> -->
                    <div class="plan6">
                        <div class="dataTables-filter">
                             批量操作：
                            <a href="javascript:;"  ><button class="btn btn-primary" type="submit" style="padding:2px 12px;">手动结算</button></a>
                        </div>
                    </div>
                </div>
                <table class="dataTable table-hover" name="paylog-set" >
                    <tr role="row">
                        <th rowspan="1" colspan="1" style="width:13px;"><input id="" class="checkedAll" name="" type="checkbox" data-name="name-data"></th>
                        <th>站长ID</th>
                        <th>站长名称</th>
                        <th>所属客服</th>
                        <th>结算周期</th>
                        <th>结算详情</th> 
                        <!-- <th>佣金</th> -->
                        <th>应付费用</th>
                        <!-- <th>账户余额</th> -->
                        <th>状态</th>
                    </tr>
                     {volist name="paylog" id="vo"}
                    <tr class="unread">
                        <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="id[]" value="{$vo.uid},{$vo.sum},{$vo.money},{$vo.status},{$vo.day},{$vo.paid_money}" type="checkbox" data-name="name-data"></td>
                        <td>{$vo.uid}</a></td>
                        <td><div style="color: #0088cc;" class="detailed_info">{$vo.username}</div></td>
                        <td>{if condition="$vo.uname eq null"}没有分配{else /}{$vo.uname}{/if}</td>
                        <td>{$vo.day}至{$params.sun}</td>
                        <td><a href="/admin/paylog/paid?uid={$vo.uid}">查看结算情况</a></td>
                        <td id="sum">{$vo.sum |process_decimal}</td>
                        <!-- <td>{$vo.zmoney|process_decimal}</td> -->
                       <!-- <td class="payinfo">{if condition="$vo.money >= $vo.sum && $vo.sum >= 100"}<a href="/admin/paylog/handSet?0={$vo.uid}&1={$vo.sum}&2={$vo.money}&3={$vo.status}">未支付</a>{else/}未支付{/if}</td> -->
                       <!-- <td>{if condition="$vo.money >= $vo.sum && $vo.sum >= 100"}<a href="javascript:;"  class="data-payinfo" data='{"uid":"{$vo.uid}"}' durl="/admin/paylog/handSet?0={$vo.uid}&1={$vo.sum}&2={$vo.money}&3={$vo.status}&day={$vo.day} ">未支付</a>{else/}未支付{/if}</td> -->
                       
                       <td><div class="tb-lis pay_list" style="height: 12px"><a id="handpay" data="{$vo.uid},{$vo.sum},{$vo.money},{$vo.status},{$vo.day}">未支付</a></div></td>
                       
                    </tr>
                    <tr class="u_info">
                    <td colspan="103">
                        <table class="tab_info" border="0"  cellpadding="20" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    <strong>基本信息</strong>
                                    <span class="span7" style="padding-left:20px;">
                                        <a href="/admin/users/webmaster/type/uid/search/{$vo.uid}">站长管理</a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                              <td bgcolor="#fff">
                                    <table>
                                        <tr>
                                            <td style="text-indent:4em;">银行信息:&nbsp</td>
                                            <td>{$vo.bank_name|default='空'}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-indent:4em;">收款姓名:&nbsp</td>
                                            <td>{$vo.account_name|default='空'}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-indent:4em;">收款帐号:&nbsp</td>
                                            <td>{$vo.bank_card|default='空'}</td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td style="text-indent:4em;">未结算金额:&nbsp</td>
                                            <td>{$vo.money|default='0.00'}</td>
                                        </tr>
                                    </table>
                                </table>
                    {/volist}
                </table>
            <div class="row">{$page}</div>
            
           </form>
            
        </div>    
    </div>
</div>


<div class="modal_layer"></div>
<div class="modal" style="width: 550px; height:350px; top: 220px; left: 651.5px; display:none;">
    <div class="modal-header">
        <div class="modal_title">添加结算备注</div>
        <div class="modal_close"></div>
    </div>
    <div class="modal-body">
        <div class="text" style="margin:0; padding-top:0; ">
            <form action="/admin/paylog/handSet" name="addform" method="post">
                <div class="txt-fld">
                    <label class="tit" for="" style="font-size:12px ">备 注:</label>
                    <input class="" name="payinfo"  type="text" style=" width: 300px; height:100px;" id="res"> <span class="erro">请填写备注</span>
                    </br> </br>
                    <label class="tit" for="" style="font-size:12px ">实付金额:</label>
                    <input type="text" style=" width: 150px; height:30px;" name="paid_money" id="jin" value="" />
                    <input type="hidden" name="__token__" value="{$Request.token}" />
                    </br> </br>
                    <label class="tit" for="" style="font-size:12px ">时 间:</label>
                    <input type="text" style=" width: 230px; height:30px;" name="search" id="fatime" value="" />
                    <img src="/admin/img/calendar.png" id="dataid">
                </div>
                <div id="hidden"></div>
                <div class="btn-fld" style="margin-top:10px;">
                    <button class="btn btn-primary" type="submit" id="handbtn" clicked="0">提交</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer"></div>
</div>
<!-- end wrapper -->
{/block}
{block name="js"}
<script src="__STATIC__/js/moment.min.js"></script>
<script src="__JS__/daterangepicker.js"></script>
<script src="__JS__/moment.js"></script>
<script>
//弹出结算备注框    
$(".pay_list>a").click(function(){
    $(".modal_layer").show();
    $(".modal").show();
    var c=$('#dataid').offset().top;
    $('.daterangepicker').css({
        'top':c+'30'
    })
    $(window).scroll(function (event) {
        c=$('#dataid').offset().top+30;
        $('.daterangepicker').css({
            'top':c
        })
    })


}) 
//实付金额与备注的同步
$('#jin').change(function () {
    var res=$('#res').val();//备注的内容
    var money=$('#jin').val();//金额
    var res_d=res.indexOf('￥');//下标
    var res_txt=res.slice(0,res_d+1);//备注除金钱外文本
    res_d=res.slice(res.length+1,res.length);//金额  数字
    if(res!=''){
            $('#res').val(res_txt+money)
    }
})
//手动结算添加元素
$('.unread td a').click(function(){
    var txt = $(this).attr('data');
    var arr = txt.split(',');
      for(var i in arr){
      $("#hidden").append("<input type='hidden' name='"+i+"' value='"+arr[i]+"'>");
      }
})


// $("submit").attr("disabled",true);

    // 批量结算
   $('#clearing').submit(function(){
    //点击按钮提交
        var href = '/admin/paylog/batchSet';
        var data = $("#clearing").serialize();
        layer.confirm('确定结算吗？', {
          btn: ['确定','取消'] //按钮
        }, function(){
            $.post(href,data,success);
            function success(data) {

                if(data.status == 1) {
                    layer.msg(data.info, {icon: 1});
                        setTimeout(function(){
                            window.location.href='/admin/paylog/clearing';
                        },1000);
                }else{
                    layer.msg(data.info, {icon: 1});
                    setTimeout(function(){
                        window.location.href='/admin/paylog/clearing';
                    },2000);
                    return false;
                }
            }
        });
    return false;
    });


$('#dataid').daterangepicker(null, function(start, end, label) {
    console.log(start.toISOString(), end.toISOString(), label);
    var a = start.format();
    var b = end.format();
    //start time
    var c = a.substr(0,10);
    //end time
    var d = b.substr(0,10);
    //点击选中第一个
    $("#fatime").text(c+"至"+d);
    $("#fatime").val(value = c+"至"+d);
    $("#res").text(c+"至"+d);
    $("#res").val(value = "结算时期区间"+c+"至"+d+"金额￥"+$("#jin").val());
});
</script>
{/block}
{/block}
<!-- block main end -->
 