{extend name="public:base" /}

<!-- block main start -->
{block name="css"}
<link href="__CSS__/daterangepicker-bs3.css" rel="stylesheet" />
{/block}
{block name="main"}
<!--body  -->

<div class="wrapper">
    <div class="row-fluid">
        <div id="repo_data" class="tb_sts" style="position:absolute; top:110px; right:30px;">
        </div>
        <h3 class="heading">点击率监控列表</h3>
        <form action="/admin/monitor/clickMonitor" method="post">
            <div class="tb_sts">
                时间段
                <select id="selectime" name="time" id="" style="width:120px;">
                    <option id="fatime" value="{$param.time}">{$param.time}</option>
                </select>
                <img src="/admin/img/calendar.png" id="reservation">
                <button type="input" style="width:150px;"><i class="fa fa-search"></i></button>
            </div>
        </form>
        <div class="dataTables-wrapper">
            <table class="dataTable table-hover" name="ads-list" >
                <tr role="row">
                    <th style="width:200px;text-align: center;">站长id</th>
                    <th style="width:200px;text-align: center;">站长名称</th>
                    <th style="width:200px;text-align: center;">状态</th>
                    <th style="text-align: center;">备注</th>
                </tr>
                {volist name="one" id="vo"}
                <tr class="unread">
                    <td style="width:200px;text-align: center;">{$vo.uid|default='未填写'}</td>
                    <td style="width:200px;text-align: center;">{$vo.username|default='未填写'}</td>
                    <td style="width:200px;text-align: center;">
                        {switch name="vo.status"}
                        {case value="1"}<img src = "/admin/img/up.png">{/case}
                        {case value="2"}<img src = "/admin/img/down.png">{/case}
                        {case value="3"}<img src = "/admin/img/line.png">{/case}
                        {/switch}
                    </td>
                    <td style="text-align: center;">{$vo.notice|default='未填写'}</td>
                </tr>
                {/volist}
            </table>
        </div>
        <div class="row">
            {$page}
        </div>
    </div>
</div>
<!-- end wrapper -->
{/block}

{block name="js"}
<script src="__STATIC__/js/moment.min.js"></script>
<script src="__JS__/daterangepicker.js"></script>
<script src="__JS__/moment.js"></script>
<script type="text/javascript">
    var time = $('select[name="time"] option:selected').val();
    var start = time.substr(0,10);
    $('#reservation').daterangepicker({
        singleDatePicker: true,//设置成单日历
        startDate: start,
    }, function(start, label) {
        var a = start.format();
        //start time
        var c = a.substr(0,10);
        //点击选中第一个
        $("#selectime option:first").prop("selected","selected");
        $("#fatime").text(c);
        $("#fatime").val(value = c);
    });

</script>
{/block}
<!-- block main end -->
