{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div>
        <h3 class="heading">批量新增站长信息</h3>
        <form class="" action="/webmaster/web/lzButchAdd" method="post" name="addform">
            <div class="control-group formSep st">
                <label class="control-label">批量新增</label>
                <div class="controls">
                    <input class="input-text input1 required" name="web_name" type="text" style="width:1470px; height:500px"><span>网站域名|网站名称|大致流量|QQ|电话|电子邮件|负责人|状态----站长名称|网站域名|大致流量|QQ|电话|电子邮件|负责人|状态(1合作2跟进3未合作4黑名单)</span>
                </div>
            </div>
            <div class="control-group formSep">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

{/block}

<!-- end wrapper -->

{block name="js"}
{/block}