{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div>
        <h3 class="heading">新增网站信息</h3>
        <form action="/webmaster/web/lzAdd" method="post" name="addform">
            <div class="control-group formSep">
                <label class="control-label">网站域名</label>
                <div class="controls">
                    <input class="input-text input1 required" name="web_url" type="text"><span class="erro">输入网站url</span>
                </div>
            </div>
            <div class="control-group formSep st">
                <label class="control-label">网站名称</label>
                <div class="controls">
                    <input class="input-text input1 required" name="web_name"  type="text"><span class="erro">输入网站名称</span>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">大致流量</label>
                <div class="controls">
                    <input class="input-text input1" name="ip" type="text">
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">QQ</label>
                <div class="controls">
                    <input class="input-text input1" name="qq" type="text" value="">
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">电话</label>
                <div class="controls">
                    <input class="input-text input1" name="tel" type="text" value="">
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">电子邮件</label>
                <div class="controls">
                    <input class="input-text input1" name="email" type="text">
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">负责人</label>
                <div class="controls">
                    {if condition="$_SESSION['think']['webmaster_login_id'] eq 'admin'"}
                    <input class="input-text input1" name="customer" value="罗东东" type="text">
                    {else \}
                    <input class="input-text input1" name="customer" value="{$_SESSION['think']['webmaster_login_id']}" type="text">
                    {/if}
                </div>
            </div>
            <div class="control-group control-padding">
                <label class="control-label">状态</label>
                <div class="controls">
                    <select class="classification required" name="status">
                        <option value="3">未合作</option>
                        <option value="1">合作中</option>
                        <option value="2">跟进中</option>
                        <option value="4">黑名单</option>
                    </select>
                </div>
            </div>
            <div class="control-group formSep">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

{/block}

<!-- end wrapper -->

{block name="js"}
{/block}