{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div>
        <h3 class="heading">编辑网站信息</h3>
        <form class="" action="" method="post" name="addform" id="fromParam">
            <div class="control-group formSep">
                <label class="control-label">网站域名</label>
                <div class="controls">
                    <input class="input-text input1 required" name="web_url" value="{$one.web_url|default=''}" type="text" disabled="true"><span class="erro">输入网站url</span> 不可修改
                </div>
            </div>
            <div class="control-group formSep st">
                <label class="control-label">网站类型</label>
                <div class="control-group formSep">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select class="classification required" name="web_type">
                {volist name="class" id="vo"}
                        <option value="{$vo.class_name}"{if condition="$one.web_type eq $vo.class_name"}selected {/if}>{$vo.class_name}</option>
                {/volist}
                </select>
                </div>
            </div>

            <!-- 站点信息 -->
             <div class="control-group control-padding">
                <label class="control-label">站点信息</label>
                <div class="controls">
                    &nbsp;&nbsp;ip：&nbsp;&nbsp;<input class="input-text input1" style="width: 120px;" name="ip" value="{$one.ip|default=''}" type="text"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    pv：<input class="input-text input1" style="width: 120px;" name="pv" value="{$one.pv|default=''}" type="text">&nbsp;&nbsp;&nbsp;&nbsp;
                    大致流量：<input class="input-text input1" style="width: 120px;" name="about_ip" value="{$one.about_ip|default=''}" type="text">
                    <br><br>
                    地域：<input class="input-text input1" style="width: 120px;" name="area" value="{$one.area|default=''}" type="text">&nbsp;&nbsp;&nbsp;
                    权重：<input class="input-text input1" style="width: 120px;" name="weights" value="{$one.weights|default=''}" type="text">&nbsp;&nbsp;&nbsp;&nbsp;
                    位置：&nbsp;&nbsp;&nbsp;<select class="classification required" name="position">
                        <option value="底部200" {if condition="$one.position eq '底部200'"}selected {/if}>底部200</option>
                        <option value="底部150" {if condition="$one.position eq '底部150'"}selected {/if}>底部150</option>
                        <option value="底部100 " {if condition="$one.position eq '底部100'"}selected {/if}>底部100</option>
                        <option value="插屏" {if condition="$one.position eq '插屏'"}selected {/if}>插屏</option>
                        <option value="顶部200" {if condition="$one.position eq '顶部200'"}selected {/if}>顶部200</option>
                        <option value="顶部150" {if condition="$one.position eq '顶部150'"}selected {/if}>顶部150</option>
                        <option value="顶部100 " {if condition="$one.position eq '顶部100'"}selected {/if}>顶部100</option>
                        <option value="右漂" {if condition="$one.position eq '右漂'"}selected {/if}>右漂</option>
                        <option value="固定位200" {if condition="$one.position eq '固定位200'"}selected {/if}>固定位200</option>
                        <option value="固定位150" {if condition="$one.position eq '固定位150'"}selected {/if}>固定位150</option>
                        <option value="固定位100 " {if condition="$one.position eq '固定位100'"}selected {/if}>固定位100</option>                        
                        <option value="文字链" {if condition="$one.position eq '文字链'"}selected {/if}>文字链</option>

                    </select>
                </div>
            </div>
            <!-- 联系方式 -->
             <div class="control-group control-padding">
                <label class="control-label">联系方式</label>
                <div class="controls">
                    QQ：<input class="input-text input1" style="width: 120px;" name="qq" type="text" value="{$one.qq|default=''}">&nbsp;&nbsp;
                    电话：<input class="input-text input1" style="width: 120px;" name="tel" type="text" value="{$one.tel|default=''}">&nbsp;&nbsp;
                    电子邮件：<input class="input-text input1"  style="width: 200px;" name="email" type="text" value="{$one.email|default=''}">
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">单价</label>
                <div class="controls">
                    <input class="input-text input1" name="price" type="text" value="{$one.price|default=''}">
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">负责人</label>
                <div class="controls">
                    <input class="input-text input1" name="customer" type="text" value="{$one.customer|default=''}">
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">关联站长ID</label>
                <div class="controls">
                    <input class="input-text input1" name="uid" type="text" value="{$one.uid|default=''}">
                </div>
            </div>
            <div class="control-group control-padding">
                <label class="control-label">合作方式</label>
                <div class="controls">
                    <select class="classification required" name="method">
                        <option value="0" {if condition="$one.method eq '0'"}selected {/if}>预付</option>
                        <option value="1" {if condition="$one.method eq '1'"}selected {/if}>保底</option>
                        <option value="2" {if condition="$one.method eq '2'"}selected {/if}>周结算</option>
                        <option value="3" {if condition="$one.method eq '3'"}selected {/if}>包ip</option>
                    </select>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">备注</label>
                <div class="controls">
                    <input class="input-text input1" name="info" type="text" value="{$one.info|default=''}">
                </div>
            </div>
            <input class="input-text input1" name="url" type="hidden" value="{$url|default='/webmaster/web/list'}">
            <input class="input-text input1" name="id" type="hidden" value="{$one.id|default=''}">
            <div class="control-group formSep">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

{/block}

<!-- end wrapper -->

{block name="js"}
<script>
$('#fromParam').submit(function(){

    //点击按钮提交
    var href = '/webmaster/web/edit';
    var data = $("#fromParam").serialize();
    $.post(href,data,success);
    function success(data) {
        if (data.status == 1) {
            layer.msg(data.info, {icon: 1});
            setTimeout(function(){
                window.location.href='/webmaster/web/'+data.data;
            },2000);
        } else {
            layer.msg(data.info, {icon: 1});
            setTimeout(function(){
                window.location.href='/webmaster/web/'+data.data;
            },2000);
            return false;
        }
    }
    return false;
});

</script>
{/block}