{extend name="public:base" /}

<!-- block main start -->
{block name="main"}
<!--body  -->

<div class="wrapper">
    <div class="row-fluid">
        <h3 class="heading">网站列表</h3>
        <div class="tb-lis">
            <a href="/webmaster/web/add"><i class="fa fa-plus-circle"></i>新增网站</a>
            <!-- <a href="/webmaster/web/butchAdd"><i class="fa fa-plus-circle"></i>批量新增</a> -->
        </div>
        <div class="row">
            <form  action="/webmaster/web/cooper" name="conditions" method="get">
                <div class="plan6">
                搜索：
                <input class="input-text input1" name="search" value="{$params.search|default=''}" type="text">
                <select name="searchName">
                    <option value="uid" {if condition="$params.searchName eq 'uid'"} selected {/if}>站长id</option>
                    <option value="username" {if condition="$params.searchName eq 'username'"} selected {/if}>会员名称</option>
                    <option value="qq" {if condition="$params.searchName eq 'qq'"} selected {/if}>QQ</option>
                    <option value="web_url" {if condition="$params.searchName eq 'web_url'"} selected {/if}>网站域名</option>
                    <option value="weights" {if condition="$params.searchName eq 'weights'"} selected {/if}>权重</option>
                    <option value="position" {if condition="$params.searchName eq 'position'"} selected {/if}>位置</option>
                    <option value="ip" {if condition="$params.searchName eq 'ip'"} selected {/if}>IP</option>
                    <option value="pv" {if condition="$params.searchName eq 'pv'"} selected {/if}>PV</option>
                    <option value="price" {if condition="$params.searchName eq 'price'"} selected {/if}>单价</option>
                    <option value="web_type" {if condition="$params.searchName eq 'web_type'"} selected {/if}>网站类型</option>
                    <option value="customer" {if condition="$params.searchName eq 'customer'"} selected {/if}>负责人</option>
                </select>
                <button type="input" style="width:60px"><i class="fa fa-search"></i></button>
                </div>
                <input class="input-text input1" name="status" value="{$params.status}" type="hidden">
            </form>
        </div>
        <div class="dataTables-wrapper">
            <form action="/webmaster/web/batchDel?status={$params.status}" name="listform" method="post">
            <div id="repo_data" class="tb_sts" style="position:absolute; top:110px; right:30px;">
                <a href="/webmaster/web/list?status=all"{if condition="$params.status eq 'all'"} class="payTab" {/if}><i class="fa fa-plus-circle"></i>所有站长</a>
                <a href="/webmaster/web/followUp?status=2"{if condition="$params.status eq '2'"} class="payTab" {/if}><i class="fa fa-plus-circle"></i>跟进中</a>
                <a href="/webmaster/web/cooper?status=1"{if condition="$params.status eq '1'"} class="payTab" {/if}><i class="fa fa-plus-circle"></i>已合作</a>
                <a href="/webmaster/web/noCooper?status=3"{if condition="$params.status eq '3'"} class="payTab" {/if}><i class="fa fa-plus-circle"></i>未合作</a>
                <a href="/webmaster/web/blacklist?status=4"{if condition="$params.status eq '4'"} class="payTab" {/if}><i class="fa fa-plus-circle"></i>黑名单</a>
            </div>
                <table class="dataTable table-hover" name="ads-list" >
                    <tr role="row">
                        <th rowspan="1" colspan="1" style="width:13px;"><input id="" class="checkedAll" name="" type="checkbox" data-name="name-data"></th>
                        <th>会员ID</th>
                        <th>网站域名</th>
                        <th>网站类型</th>
                        <th>最近批注/回复</th>
                        <th>批注/回复时间</th>
                        <th>合作模式</th>
                        <th>负责人</th>
                        <th>状态</th>
                        <th>操作</th>
                        <th>批注</th>
                        <th>操作时间</th>
                    </tr>
                    {volist name="one" id="vo"}
                    <tr class="unread">
                        <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="id[]" value="{$vo.id}" type="checkbox" data-name="name-data"></td>
                        <td>{$vo.uid|default=''}</td>
                        <td><div style="color: #0088cc;" class="detailed_info">{$vo.web_url|default=''}</td>
                        <td>{$vo.web_type|default=''}</td>
                        <td style="word-break:break-all;max-width: 350px;">{$vo.comment|default=''}</td>
                        {if condition="$vo.ptime neq ''"}
                            <td>{$vo.ptime|date="Y-m-d H:i:s",###}</td>
                        {else/}
                            <td></td>
                        {/if}
                        <td>
                            <span class="common-button ajax-status">
                                {switch name="vo.method"}
                                    {case value="0"}预付{/case}
                                    {case value="1"}保底{/case}
                                    {case value="2"}周结算{/case}
                                    {case value="3"}包ip{/case}
                                {/switch}
                            </span>
                        </td>

                        <td>{$vo.customer|default=''}</td>
                        <td>
                            <span class="common-button ajax-status">
                                {switch name="vo.status"}
                                    {case value="1"}<span class="sta_bl">合作中</span>{/case}
                                    {case value="2"}<span class="sta_pr">跟进中</span>{/case}
                                    {case value="3"}<span class="sta_er">未合作</span>{/case}
                                    {case value="4"}<span class="sta_black">黑名单</span>{/case}
                                {/switch}
                            </span>
                        </td>
                        <td>
                            <a href="javascript:;" class="web-lock " statuscls='ajax-status' data='{"id":"{$vo.id}","status":"3"}' durl="/webmaster/web/updateStatus" >未合作</a>
                            <a href="javascript:;" class="web-activation" statuscls='ajax-status' data='{"id":"{$vo.id}","status":"1"}' durl="/webmaster/web/updateStatus">合作</a>
                            <a href="javascript:;" class="web-progress" statuscls='ajax-status' data='{"id":"{$vo.id}","status":"2"}' durl="/webmaster/web/updateStatus">跟进</a>
                            <a href="javascript:;" class="web-black" statuscls='ajax-status' data='{"id":"{$vo.id}","status":"4"}' durl="/webmaster/web/updateStatus">黑名单</a>
                            <a href="javascript:;" class="web-del" data='{"id":"{$vo.id}"}' durl="/webmaster/web/del">删除</a>
                            <a href="/webmaster/web/edit?id={$vo.id}&url=followUp">编辑</a>
                        </td>
                        <td>
                            {if condition="$vo.num eq 0"}
                            <a href="/webmaster/web/comment?id={$vo.id}"class="btn btn-primary" target="_blank" style="border: 0px">未读批注  +{$vo.num}</a>
                            {else/}
                            <a href="/webmaster/web/comment?id={$vo.id}" class="btn btn-primary" target="_blank" style="background:red;border: 0px">未读批注  +{$vo.num}</a>
                            {/if}
                        </td>
                        <td>{$vo.time|default='未填写'}</td>
                    </tr>

                  <tr class="u_info">
                    <td colspan="103">
                        <table class="tab_info" border="0"  cellpadding="20" cellspacing="0" width="100%">
                            <tr>
                                <td>
                                    <strong>基本信息</strong>
                                </td>
                            </tr>
                            <tr>
                              <td bgcolor="#fff">
                                    <table>
                                        <tr>
                                            <td style="text-indent:4em;">联系人:&nbsp</td>
                                            <td>{$vo.contact|default='空'}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-indent:4em;">收款姓名:&nbsp</td>
                                            <td>{$vo.account_name|default='空'}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-indent:4em;">收款银行:&nbsp</td>
                                            <td>{$vo.bank_name|default='空'}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-indent:4em;">收款帐号:&nbsp</td>
                                            <td>{$vo.bank_card|default='空'}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-indent:4em;">开户分行:&nbsp</td>
                                            <td>{$vo.bank_branch|default='空'}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-indent:4em;">QQ:&nbsp</td>
                                            <td>{$vo.qq|default='空'}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-indent:4em;">电话:&nbsp</td>
                                            <td>{$vo.tel|default='空'}</td>
                                        </tr>
                                    </table>
                                </table>
                    {/volist}
                </table>
            </form>
        </div>
        <div class="row">
        {$show}
        </div>
    </div>
</div>
<!-- end wrapper -->
{/block}

{block name="js"}
<script>
$(".detailed_info").bind("click",function(){
    var _this = $(this).parent().parent().next("tr");
    var this_ = $(this).parent().parent("tr");
    $(_this).toggle();
});

</script>
{/block}
<!-- block main end -->
