{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div>
        <h3 class="heading">编辑网站信息</h3>
        <form class="" action="/webmaster/web/lzEdit?id={$one.id}&type={$status.status}" method="post" name="addform">
            <div class="control-group formSep st">
                <label class="control-label">网站名称</label>
                <div class="controls">
                    <input class="input-text input1 required" name="web_name"  value="{$one.web_name|default=''}" type="text"><span class="erro">输入网站名称</span>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">网站域名</label>
                <div class="controls">
                    <input class="input-text input1 required" name="web_url" value="{$one.web_url|default=''}" type="text"><span class="erro">输入网站url</span>
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">大致流量</label>
                <div class="controls">
                    <input class="input-text input1" name="ip" value="{$one.ip|default=''}" type="text">
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">QQ</label>
                <div class="controls">
                    <input class="input-text input1" name="qq" type="text" value="{$one.qq|default=''}">
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">电话</label>
                <div class="controls">
                    <input class="input-text input1" name="tel" type="text" value="{$one.tel|default=''}">
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">电子邮件</label>
                <div class="controls">
                    <input class="input-text input1" name="email" type="text" value="{$one.email|default=''}">
                </div>
            </div>
            <div class="control-group formSep">
                <label class="control-label">负责人</label>
                <div class="controls">
                    <input class="input-text input1" name="customer" type="text" value="{$one.customer|default=''}">
                </div>
            </div>
            <div class="control-group control-padding">
                <label class="control-label">状态</label>
                <div class="controls">
                    <select class="classification required" name="status" {if condition="$_SESSION['think']['webmaster_login_id'] neq 'admin'"} disabled="disabled" {/if}>
                        <option value="3" {if condition="$one.status eq '3'"}selected {/if}>未合作</option>
                        <option value="1" {if condition="$one.status eq '1'"}selected {/if}>合作中</option>
                        <option value="2" {if condition="$one.status eq '2'"}selected {/if}>跟进中</option>
                        <option value="4" {if condition="$one.status eq '4'"}selected {/if}>黑名单</option>
                    </select>
                </div>
            </div>
            <input class="input-text input1" name="url" type="hidden" value="{$url|default=''}">
            <div class="control-group formSep">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>

{/block}

<!-- end wrapper -->

{block name="js"}
<script>
    //网址判断
    $(".b_quired").keyup(function(){
        //正则判断
        var pattern =/^http:\/\/[A-Za-z0-9]+\.[A-Za-z0-9]+[\/=\?%\-&_~`@[\]\':+!]*([^<>\"\"])*$/;
        var value = $(this).val();
        if(pattern.test(value)==true){
            $(this).next().css('display','none');
            return true;
        }else{
            $(this).next().css('display','inline');
            return false;
        }
    })
</script>
{/block}