{extend name="public:base" /}

<!-- block main start -->
{block name="main"}
<!--body  -->

<div class="wrapper">
    <div class="row-fluid">
        <h3 class="heading">网站列表</h3>
        <div class="tb-lis">
            <a href="/webmaster/web/lzAdd"><i class="fa fa-plus-circle"></i>新增网站</a>
            <a href="/webmaster/web/lzButchAdd"><i class="fa fa-plus-circle"></i>批量新增</a>
        </div>
        <div class="dataTables-wrapper">
            <div class="plan6">
                <div class="dataTables-filter">
                    批量操作：
                    <a href="javascript:;"  ><button class="btn btn-primary" type="button" onclick="noLst();" style="padding:2px 12px;">以后不再显示</button></a>
                    <a href="javascript:;"  ><button class="btn btn-primary" type="button" onclick="sevenLst();" style="padding:2px 12px;">7天后再显示</button></a>
                </div>
            </div>
            <form action="/webmaster/web/batchEdit" name="listform" id="formId" method="post">
                <table class="dataTable table-hover" name="ads-list" >
                    <tr role="row">
                        <th rowspan="1" colspan="1" style="width:13px;"><input id="" class="checkedAll" name="" type="checkbox" data-name="name-data"></th>
                        <th>网站名称</th>
                        <th>网站域名</th>
                        <th>大致流量</th>
                        <th>QQ</th>
                        <th>电话</th>
                        <th>电子邮件</th>
                        <th>负责人</th>
                        <th>状态</th>
                        <th>操作</th>
                        <th>操作时间</th>
                        <th></th>
                        <th></th>
                    </tr>
                    {volist name="one" id="vo"}
                    <tr class="unread">
                        {if condition="$vo.colour eq '1' && $vo.shows eq '0'"}
                        <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="id[]" value="{$vo.id}" type="checkbox" data-name="name-data"></td>
                        {else \}
                        <td></td>
                        {/if}
                        <td>{$vo.web_name|default='未填写'}</td>
                        <td>{$vo.web_url|default='未填写'}</td>
                        <td>{$vo.ip|default='未填写'}</td>
                        <td>{$vo.qq|default='未填写'}</td>
                        <td>{$vo.tel|default='未填写'}</td>
                        <td>{$vo.email|default='未填写'}</td>
                        <td>{$vo.customer|default='未填写'}</td>
                        <td>
                            <span class="common-button ajax-status">
                                {switch name="vo.status"}
                                    {case value="1"}<span class="sta_bl">合作中</span>{/case}
                                    {case value="2"}<span class="sta_pr">跟进中</span>{/case}
                                    {case value="3"}<span class="sta_er">未合作</span>{/case}
                                    {case value="4"}<span class="sta_black">黑名单</span>{/case}
                                {/switch}
                            </span>
                        </td>
                        <td>
                            <a href="javascript:;" class="web-lock " statuscls='ajax-status' data='{"id":"{$vo.id}","status":"3"}' durl="/webmaster/web/updateStatus" >未合作</a>
                            <a href="javascript:;" class="web-activation" statuscls='ajax-status' data='{"id":"{$vo.id}","status":"1"}' durl="/webmaster/web/updateStatus">合作</a>
                            <a href="javascript:;" class="web-progress" statuscls='ajax-status' data='{"id":"{$vo.id}","status":"2"}' durl="/webmaster/web/updateStatus">跟进</a>
                            <a href="javascript:;" class="web-black" statuscls='ajax-status' data='{"id":"{$vo.id}","status":"4"}' durl="/webmaster/web/updateStatus">黑名单</a>
                            <a href="javascript:;" class="web-del" data='{"id":"{$vo.id}"}' durl="/webmaster/web/del">删除</a>
                            <a href="/webmaster/web/lzEdit?id={$vo.id}&status={$vo.status}">编辑</a>
                        </td>
                        {if condition="$vo.colour eq '1' && $vo.shows eq '0'"}
                        <td class="ac_timer">{$vo.time|default='未填写'}</td>
                        <td><a href="/webmaster/web/editShows?id={$vo.id}&shows=1&start_time={$vo.start_time}">以后不再显示</a></td>
                        <td><a href="/webmaster/web/editShows?id={$vo.id}&shows=0&start_time={$vo.start_time}">7天后再显示</a></td>
                        {else \}
                        <td>{$vo.time|default='未填写'}</td>
                        <td></td>
                        <td></td>
                        {/if}
                    </tr>
                    {/volist}
                </table>
            </form>
        </div>
        <div class="row">
        </div>
    </div>
</div>
<!-- end wrapper -->
{/block}

{block name="js"}
<script>
    // 以后不再显示
    function noLst(){
        layer.confirm('确定以后不再显示吗？', {
          btn: ['确定','取消'] //按钮
        }, function(){
            document.getElementById('formId').action = "/webmaster/web/batchEdit?shows=1";
            $('form').submit();
        });
    }
    // 7天后再显示
    function sevenLst(){
        layer.confirm('确定7天后再显示吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            document.getElementById('formId').action = "/webmaster/web/batchEdit?shows=0";
            $('form').submit();
        });
    }
</script>
{/block}
<!-- block main end -->
