{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
        <h3 class="heading">广告商管理</h3>
        <div class="dataTables-wrapper">
            <div class="tb-lis users_lis" style="float:left;">
                <a><i class="fa fa-plus-circle"></i>新增会员</a>
               
            </div>
            <div class="tb-lis" style="float:left;">
                <a href="/admin/users/advertiserPay"><i class="fa fa-plus-circle"></i>充值</a>
            </div>
             <div class="dataTables-filter">
                    <input name="type" value="" type="hidden">
                    <input name="search_2" value="" type="hidden">
                    <form action="/admin/users/webmaster" name="list" method="post">
                        <select name="type" id="testSelect">
                            <option value="username" {if condition="$params.type eq 'username'"} selected {/if}>广告商用户名</option>
                            <option value="uid" {if condition="$params.type eq 'uid'"} selected {/if}>广告商ID</option>
                            <option value="contact" {if condition="$params.type eq 'contact'"} selected {/if}>联系人</option>
                        </select>
                        <input class="input-text input1" name="search" value="{$params.search|default=''}" type="text" style="width:230px">
                        <button id='zzz' type="input" style="width:60px"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            <!--批量操作，暂时隐藏，下一期进行开发-->
            <!--<div class="row">-->
                <!--<div class="users6">-->
                    <!--<div class="dataTables-length">-->
                        <!--批量操作：-->
                        <!--<select size="1">-->
                            <!--<option value="">请选择</option>-->
                            <!--<option value="unlock">激活</option>-->
                            <!--<option value="lock">锁定</option>-->
                            <!--<option value="del">删除</option>-->
                        <!--</select>-->
                        <!--<button class="rowbtn" type="submin">提交</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
          
                <table class="dataTable table-hover" name="users-list" >
                <tr role="row">
                    <th rowspan="1" colspan="1" style="width:13px;"><input class="checkedAll" id="" name="Ad" type="checkbox" data-name="name-data"></th>
                    <th>ID</th>
                    <th>广告商用户名</th>
                    <th>今日消耗</th>
                    <th>昨日消耗</th>
                    <th>总金额</th>
                    {if condition="$judge_name eq 'admin'"}<th>广告商扣量</th>{/if}
                    <th>QQ</th>
                    <th>联系人</th>
                    <th>电话</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                {volist name="advertiser_list" id="vo"}
                   
                <tr class="unread" >
                    <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="Ad" type="checkbox" data-name="name-data"></td>
                    <td><a href="/admin/users/usersToClient?uid={$vo.uid}" target="_blank">{$vo.uid}</a></td>
                    <td><a class="detailed_info">{$vo.username}</a></td>
                    <td>{$vo.Today|default='0.00'|process_decimal}</td>

                    <td>{$vo.Yesterday|default='0.00'|process_decimal}</td>
                    <!--<td><a href="javascript:;"  class="data-amount"  data='{"uid":"{$vo.uid}"}' durl='/admin/users/editor' >{if condition="$vo.money eq ''"}0.00{else /}{$vo.money}{/if}</a></td>-->
                    <td>{$vo.money|default='0.00'|process_decimal}</td>
                    {if condition="$judge_name eq 'admin'"}<td><a href="javascript:;"  class="data-amount"  data='{"uid":"{$vo.uid}"}' durl='/admin/users/advDeduction'>{$vo.adv_deduction|default='0'}</a></td>{/if}
                    <td>{$vo.qq|default='空'}</td>
                    <td>{$vo.contact|default='空'}</td>
                    <td>{$vo.tel|default='空'}</td>
                    <td>
                        <span class="common-button ajax-status">
                            {switch name="vo.status" }
                                {case value="0"}<span class="sta_er">锁定</span>{/case}
                                {case value="1"}<span class="sta_bl">活动</span>{/case}
                                {case value="2"}<span class="sta_er">待审</span>{/case}
                            {/switch}
                        </span>
                    </td>
                    <td>
                        <a href="javascript:;" class="data-lock"  data='{"uid":"{$vo.uid}","status":"0","type":"2"}' durl='/admin/users/activate' >锁定</a>
                        <a href="javascript:;" class="data-activation" data='{"uid":"{$vo.uid}","status":"1","type":"2"}' durl='/admin/users/activate' >激活</a>
                        <a href="/admin/users/edit?uid={$vo.uid}&type=2">编辑</a>
                        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="javascript:;" class="ajax-del" data='{"uid":{$vo.uid}}' durl="/admin/users/del">删除</a>

                    </td>
                </tr>
                <tr class="u_info">
                    <td colspan="103">
                        <table class="tab_info" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td height="30">
                                    <strong>用户详情</strong>
                                    <span class="span7" style="padding-left:20px;">
                                        <a href="/admin/report/advReport?stats=adv_list&id=adv_id&numid={$vo.uid}">查看报表</a>
                                        <a href="/admin/users/usersToplan?uid={$vo.uid}&search={$vo.uid}">查看计划</a>
                                        <a href="/admin/users/usersToAds?uid={$vo.uid}&search={$vo.uid}">查看广告</a>
                                        <a href="/admin/plan/add?uid={$vo.uid}">新建计划</a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#fff">
                                    <table class="master_table">
                                        <tr>
                                            <td>属于商务：</td>
                                            <td class="color_h">{if condition="$vo.uname eq null"}
                                                                没有分配{else /}{$vo.uname}{/if}</td>
                                            <td>联系人：</td>
                                            <td class="color_h">{$vo.contact|default='空'}</td>
                                        </tr>
                                        <tr>
                                            <td>QQ：</td>
                                            <td class="color_h">{$vo.qq|default='空'}</td>
                                            <td>EMAIL：</td>
                                            <td class="color_h">{$vo.email|default='空'}</td>
                                        </tr>
                                        <tr>
                                            <td>联系电话：</td>
                                            <td class="color_h">{$vo.tel|default='空'}</td>
                                            <!-- <td>身份证：</td>
                                            <td class="color_h">{$vo.idcard|default='空'}</td> -->
                                        </tr>
                                        <tr>
                                            <td>备注：</td>
                                            <td>{$vo.remark|default='空'}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {/volist}
            </table>
            
            <div class="row">{$page}</div>
        </div>
    </div>
</div>
<div class="modal_layer"></div>
<div class="modal" style="width: 600px; height:540px; top: 64px; left: 651.5px; display:none;">
    <div class="modal-header">
        <div class="modal_title">新建用户</div>
        <div class="modal_close"></div>
    </div>
    <div class="modal-body">
        <div class="text" style="margin:0; padding-top:0;">
            <form action="/admin/users/advAdd" name="addform" method="post">
                <div class="txt-fld txt-name">
                    <label class="tit" for="">用户角色</label>
                    <input type="radio" value="2" data='two' name="type" checked="checked">广告商
                </div>
                <div class="txt-fld">
                    <label class="tit" for="">广告商名称</label>
                    <input class="required" name="nickname" type="text"> <span class="erro">请输入广告商名称</span>
                </div>
                <div class="txt-fld">
                    <label class="tit" for="">用户名</label>
                    <input class="required" name="username" type="text"> <span class="erro">请输入用户名</span>
                </div>
                <div class="txt-fld">
                    <label class="tit" for="">用户密码</label>
                    <input class="required" name="password" type="text"> <span class="erro">请输入用户密码</span>
                </div>
                 <div class="txt-fld">
                    <label class="tit" for="">联系电话</label>
                    <input name="tel" type="text">
                </div>  
                <div class="txt-fld">
                    <label class="tit" for="">QQ</label>
                    <input name="qq" type="text">
                </div>
                {if condition="$auth.group_id eq '1'"}
                <div class="txt-fld titlabel">
                    <label class="tit titname" for="">站长扣量</label>
                    <input name="deduction" type="text"><span>%</span>
                </div>
                {/if}
                <div class="btn-fld" style="margin-top:10px;">
                    <button class="btn btn-primary" type="submin">提交</button>
                </div>      
            </form>
        </div>
    </div>
    <div class="modal-footer"></div>
</div>        
<!-- end wrapper -->
{/block}

{block name="js"}
<script type="text/javascript">
    $(function(){
        $('.txt-name input').change(function(){
            var _data = $(this).attr('data');
            if(_data == 'one'){
                $('.titname').text('站长扣量');
                $('.titlabel').css('display','block');
            }else if(_data == 'two'){
                $('.titname').text('广告扣量');
                $('.titlabel').css('display','block');
            }else{
                $('.titlabel').css('display','none');
            }
        })
    })


var search_name = $('input[name="search"]').val();
if(search_name != ''){
    $('input[name="search_2"]').val(search_name);
}
    //填写搜索框
$('input[name="search"]').change(function(){
    $('input[name="search_2"]').val($(this).val());
})
//选择搜索框
$('select[name="type"]').change(function(){
    $('input[name="type"]').val($(this).val());
})

//点击触发  
$('#zzz').click(function(){
    var type = $('#testSelect option:selected') .val();
    //判断select是否为空 
    if(type == ''){
        var type = $('select[name="type"] option:first').val();
    }
    var search = $('input[name="search_2"]').val();
    window.location.href = '/admin/users/advertiser/type/'+type+'/search/'+search;
})
</script>
{/block}