{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
        <h3 class="heading">{if condition="$one.type eq '3'"}客服管理{else /}商务管理{/if}</h3>
        <div class="dataTables-wrapper">
            <div class="tb-lis users_lis">
                <a><i class="fa fa-plus-circle"></i>新增会员</a>
                <div style="display:none;">
                    <a href="#"><i class="fa fa-flag-o"></i>待审核</a>
                    <a href="#"><i class="fa fa-flag-o"></i>已审核</a>
                    <a href="#"><i class="fa fa-flag-o"></i>已锁定</a>
                </div>
                <div class="dataTables-filter">
                    <input name="type" value="" type="hidden">
                    <input name="search_2" value="" type="hidden">
                
                    <form action="/admin/users/customer" name="list" method="post">
                        <select name="type" id="testSelect">
                            <option value="username" {if condition="$pageParam.type eq 'username'"} selected {/if}>客服用户名</option>
                            <option value="uid" {if condition="$pageParam.type eq 'uid'"} selected {/if}>客服ID</option>
                        </select>
                        <input class="input-text input1" name="search" value="{$pageParam.search|default=''}" type="text" style="width:230px">
                        <button id='zzz' type="input" style="width:60px"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <!--批量操作，暂时隐藏，下一期进行开发-->
            <!--<div class="row">-->
                <!--<div class="users6">-->
                    <!--<div class="dataTables-length">-->
                        <!--批量操作：-->
                        <!--<select size="1">-->
                            <!--<option value="">请选择</option>-->
                            <!--<option value="unlock">激活</option>-->
                            <!--<option value="lock">锁定</option>-->
                            <!--<option value="del">删除</option>-->
                        <!--</select>-->
                        <!--<button class="rowbtn" type="submin">提交</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <table class="dataTable table-hover" name="users-list" >
            <input type='hidden' name='pageParam_p' value='{$pageParam.p}' />
            <input type='hidden' name='pageParam_type' value='{$pageParam.type}' />
            <input type='hidden' name='pageParam_search' value="{$pageParam.search|default=''}" />
                <tr role="row">
                    <th rowspan="1" colspan="1" style="width:13px;"><input class="checkedAll" id="" name="service" type="checkbox" data-name="name-data"></th>
                    <th>ID</th>
                    <th>{if condition="$one.type eq '3'"}客服用户名{else /}商务用户名{/if}</th>
                    <th>联系电话</th>
                    <th>QQ</th>
                    <th>{if condition="$one.type eq '3'"}名下人员{else /}名下厂商{/if}</th>
                    <th>当月业绩</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                {volist name="users_list" id="vo" }
                <tr class="unread">
                    <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="service" type="checkbox" data-name="name-data"></td>
                    <td><a href="/admin/users/usersToClient?uid={$vo.uid}" target="_blank">{$vo.uid}</a></td>
                    <td>{$vo.username}</td>
                    <td>{$vo.tel|default='空'}</td>
                    
            
                    <td>{$vo.qq|default='空'}</td>
                    
                    <td>{if condition="$vo.num neq '' "}<a href="/admin/users/belong?uid={$vo.uid}&type={$one.type}">{$vo.num}个</a>{else/}{$vo.num}个{/if}</td>
                    <td width="230"><span class='trigger trigger_{$key}' num='{$key}'></span></td>
                    <td>
                        <span class="common-button ajax-status">
                            {switch name="vo.status" }
                                {case value="0"}<span class="sta_er">锁定</span>{/case}
                                {case value="1"}<span class="sta_bl">活动</span>{/case}
                                {case value="2"}<span class="sta_er">待审</span>{/case}
                            {/switch}
                        </span>
                    </td>
                    <td>
                        <a href="/admin/users/performance?uid={$vo.uid}&type={$one.type}">我的业绩</a>
                        <a href="javascript:;" class="data-lock"  data='{"uid":"{$vo.uid}","status":"0","type":"{$one.type}"}' durl='/admin/users/activate' statuscls='ajax-status' >锁定</a>
                        <a href="javascript:;"  class="data-activation"  data='{"uid":"{$vo.uid}","status":"1","type":"{$one.type}"}'  durl='/admin/users/activate' statuscls='ajax-status'>激活</a>
                        <a href="/admin/users/edit?uid={$vo.uid}&type={$one.type}">编辑</a>
                        <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="javascript:;" class="ajax-del" data='{"uid":{$vo.uid}}' durl="/admin/users/del">删除</a>
                    </td>
                </tr>
                {/volist}
            </table>
       
            <div class="row">{$page}</div>
        </div>
    </div>
</div>
<div class="modal_layer"></div>
<div class="modal" style="width: 600px; height:540px; top: 64px; left: 651.5px; display:none;">
    <div class="modal-header">
        <div class="modal_title">新建用户</div>
        <div class="modal_close"></div>
    </div>
    <div class="modal-body">
        <div class="text" style="margin:0; padding-top:0;">
            {if condition="$one.type eq '3'"}
            <form action="/admin/users/cusAdd" name="addform" method="post">
            {else /}
            <form action="/admin/users/busAdd" name="addform" method="post">
            {/if}
                <div class="txt-fld txt-name">
                    <label class="tit" for="">用户角色</label>
                    {if condition="$one.type eq '3'"}
                    <input type="radio" value="3" data='three' name="type" checked="checked">联盟客服
                </div>
                    <div class="txt-fld">
                        <label class="tit" for="">客服名称</label>
                        <input class="required" name="nickname" type="text"> <span class="erro">请输入客服名称</span>
                    </div>
                    {else /}
                    <input type="radio" value="4" data='four' name="type" checked="checked">联盟商务
                </div>
                    <div class="txt-fld">
                        <label class="tit" for="">商务名称</label>
                        <input class="required" name="nickname" type="text"> <span class="erro">请输入商务名称</span>
                    </div>
                    {/if}
                <div class="txt-fld">
                    <label class="tit" for="">用户名</label> 
                    <input class="required" name="username" type="text"> <span class="erro">请输入用户名</span>
                </div>
                <div class="txt-fld">
                    <label class="tit" for="">用户密码</label> 
                    <input class="required" name="password" type="text"> <span class="erro">请输入用户密码</span>
                </div>
                <div class="txt-fld">
                    <label class="tit" for="">联系电话</label>
                    <input name="tel" type="text">
                </div>
                <div class="txt-fld">
                    <label class="tit" for="">QQ</label>
                    <input name="qq" type="text">
                </div>
                <div class="btn-fld" style="margin-top:10px;">
                    <button class="btn btn-primary" type="submin">提交</button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer"></div>
</div>
<!-- end wrapper -->
{/block}

{block name="js"}
<script type="text/javascript">
    $(function(){
        $('.txt-name input').change(function(){
            var _data = $(this).attr('data');
            if(_data == 'one'){
                $('.titname').text('站长扣量');
                $('.titlabel').css('display','block');
            }else if(_data == 'two'){
                $('.titname').text('广告扣量');
                $('.titlabel').css('display','block');
            }else{
                $('.titlabel').css('display','none');
            }
        })
    })
     window.onload = function(){
        var pageParam_p = $('input[name="pageParam_p"]').val();
        var pageParam_search = $('input[name="pageParam_search"]').val()
        var pageParam_type = $('input[name="pageParam_type"]').val()
        $('.trigger').html('<img src="/admin/img/jiazai.jpg" height="25"/>');
        $.ajax({
            type: 'get',//数据发送的方式（post 或者 get）
            url: '/admin/users/ajaxcustomer',//要发送的后台地址
            data: {p:pageParam_p,search:pageParam_search,type:pageParam_type},//要发送的数据（参数）格式为{'val1':"1","val2":"2"}
            dataType: 'json',//后台处理后返回的数据格式
            success: function (res){
            //ajax请求成功后触发的方法
                // $('.trigger').text(res);

                for(var i=0;i<res.length;i++){
                     var num = $('.trigger_'+i).attr('num');
                    
                    if(i == num){

                        $('.trigger_'+i).text(res[i]);
                    }
                }
                // console.log(res);
            }
        })
    };
    var search_name = $('input[name="search"]').val();
if(search_name != ''){
    $('input[name="search_2"]').val(search_name);
}
//填写搜索框
$('input[name="search"]').change(function(){
    $('input[name="search_2"]').val($(this).val());
})
//选择搜索框
$('select[name="type"]').change(function(){
    $('input[name="type"]').val($(this).val());
})


//点击触发  
$('#zzz').click(function(){
    var type = $('#testSelect option:selected') .val();
    //判断select是否为空 
    if(type == ''){
        var type = $('select[name="type"] option:first').val();
    }
    var search = $('input[name="search_2"]').val();
    window.location.href = '/admin/users/customer/type/'+type+'/search/'+search;
})

</script>
{/block}