{extend name="public:base" /}

<!-- block main start -->
{block name="css"}
<link href="__CSS__/daterangepicker-bs3.css" rel="stylesheet" />
{/block}
{block name="main"}
<!--body  -->

<div class="wrapper">
    <div class="main_nav">
        <div class="mn_left"></div>
        <div class="mn_right">
            <div class="mn_mt">
                <ul>
                    <li><a href="/admin/users/webmaster">返回列表</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div id="repo_data" class="tb_sts" style="position:absolute; top:110px; right:30px;">
        </div>
        <h3 class="heading">站长业绩排序</h3>
        <form action="/admin/users/websort" method="post">
            <div class="tb_sts">
                时间段
                <select id="selectime" name="time" id="" style="width:120px;">
                    <option id="fatime" value="{$param.time}">{$param.time}</option>
                </select>
                <img src="/admin/img/calendar.png" id="reservation">
                排序规则
                <select name="sort_day">
                    <option value="1" {if condition="$param.sort_day eq '1'"} selected {/if}>当前日收入</option>
                    <option value="2" {if condition="$param.sort_day eq '2'"} selected {/if}>上一日收入</option>
                </select>
                <select name="sort_type">
                    <option value="1" {if condition="$param.sort_type eq '1'"} selected {/if}>递减</option>
                    <option value="2" {if condition="$param.sort_type eq '2'"} selected {/if}>递增</option>
                </select>
                <button type="input" style="width:150px;"><i class="fa fa-search"></i></button>
            </div>
        </form>

        <div class="dataTables-wrapper">
            <table class="dataTable table-hover" name="ads-list" >
                <tr role="row">
                    <th>站长id</th>
                    <th>站长名称</th>
                    <th>当前日收入</th>
                    <th>上一日收入</th>
                    <th>当前状态</th>
                </tr>
                {volist name="one" id="vo"}
                <tr class="unread">
                    <td>{$vo.uid}</td>
                    <td><a class="detailed_info" style="cursor:pointer;">{$vo.username}</a></td>
                    <td>{$vo.nowsumpay}</td>
                    <td>{$vo.lastsumpay}</td>
                    <td>
                        <span class="common-button ajax-status">
                            {switch name="vo.status" }
                                {case value="0"}<span class="sta_er">锁定</span>{/case}
                                {case value="1"}<span class="sta_bl">活动</span>{/case}
                                {case value="2"}<span class="sta_er">待审</span>{/case}
                            {/switch}
                        </span>
                    </td>
                </tr>
                <tr class="u_info">
                    <td colspan="103">
                        <table class="tab_info" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td height="30">
                                    <strong>用户详情</strong>
                                    <span class="span7" style="padding-left:20px;">
                                        <a href="/admin/report/webReport?stats=user_list&id=uid&numid={$vo.uid}">查看报表</a>
                                        <a href="/admin/users/usersToSite?uid={$vo.uid}&search={$vo.username}&status=site_all">查看网站</a>
                                        <a href="/admin/users/usersToAdzone?uid={$vo.uid}&search={$vo.uid}&status=adzone_all">查看广告位</a>
                                        <a href="/admin/users/webmaster?type=uid&search={$vo.uid}">查看站长信息</a>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                {/volist}
            </table>
        </div>
        <div class="row">
        </div>
    </div>
</div>
<!-- end wrapper -->
{/block}

{block name="js"}
<script src="__STATIC__/js/moment.min.js"></script>
<script src="__JS__/daterangepicker.js"></script>
<script src="__JS__/moment.js"></script>
<script type="text/javascript">
    var time = $('select[name="time"] option:selected').val();
    var start = time.substr(0,10);
    $('#reservation').daterangepicker({
        singleDatePicker: true,//设置成单日历
        startDate: start,
         }, function(start, label) {
        var a = start.format();
        //start time
        var c = a.substr(0,10);
        //点击选中第一个
        $("#selectime option:first").prop("selected","selected");
        $("#fatime").text(c);
        $("#fatime").val(value = c);
    });

</script>
{/block}
<!-- block main end -->
