<!--站长管理编辑-->
{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
        <h3 class="heading">基本编辑</h3>
        <div class="row-fluid" style="padding-top:10px;">
            <form action="/admin/users/webmasteredit" method="post">
                <div class="control-group formSep">
                    <label class="control-label" for="">用户名</label>
                    <div class="controls" style="padding-top:5px;">
                        <strong>{$one.username}</strong>
                        <span class="notification error_bg">{if condition="$one.status eq '0'"} 锁定
                                                            {elseif condition="$one.status eq '1'"}激活
                                                            {else /}待审{/if}</span>
                    </div>
                </div>
                <div class="control-group formSep">
                    <label class="control-label" for="">姓名</label>
                    <div class="controls" style="padding-top:5px;">{$one.nickname}</div>
                </div>
                <div class="control-group formSep">
                    <label class="control-label" for="">用户ID</label>
                    <div class="controls" style="padding-top:5px;">{$one.uid}</div>
                </div>
                <div class="control-group formSep">
                    <label class="control-label" for="">用户角色</label>
                    <div class="controls" style="padding-top:5px;">网站主</div>
                </div>
                <div class="control-group formSep">
                    <label class="control-label" for="">域名限制</label>&nbsp;&nbsp;
                    <input type="radio" name="domain_limit" {if condition="$one.domain_limit eq 0"}checked {/if} value="0">默认
                    <input type="radio" name="domain_limit" {if condition="$one.domain_limit eq 1"}checked {/if} value="1">开启
                    <input type="radio" name="domain_limit" {if condition="$one.domain_limit eq 2"}checked {/if} value="2">关闭

                </div>
                <div class="control-group formSep">
                    <label class="control-label" for="">合作模式</label>&nbsp;&nbsp;
                    <input type="radio" name="cpd_type" {if condition="$one.cpd_type eq 0"}checked {/if} value="0">跑量
                    <input type="radio" name="cpd_type" {if condition="$one.cpd_type eq 1"}checked {/if} value="1">包月
                    <input type="radio" name="cpd_type" {if condition="$one.cpd_type eq 2"}checked {/if} value="2">公户跑量

                </div>
                <div class="control-group formSep">
                    <label class="control-label" for="">属于客服</label>
                    <div class="controls">
                        <select name="serviceid" id="" style="width:160px;">
                            <option value="">请选择客服</option>
                            {volist name="edit" id="vo" }
                            <tr class="unread">
                                <option value="{$vo.uid}" {if condition="$vo.uid eq $one.serviceid"}selected {/if}>{$vo.username}</option>
                            </tr>
                            {/volist}
                        </select>
                    </div>
                </div>
                <div class="control-group formSep">
                    <label class="control-label" for="">备注说明</label>
                    <div class="controls">
                        <textarea class="input-text input1" name="remark" id="" cols="30" rows="10"
                        style="height:80px;">{$one.remark}</textarea>
                        <span></span>
                    </div>
                </div>
                <!--<div class="control-group formSep">-->
                    <!--<label class="control-label" for="">包月广告</label>-->
                    <!--<div class="controls" style="margin-top:5px;">-->
                        <!--<input class="input-text" type="radio" name="remark"  id="">&nbsp;是-->
                        <!--&nbsp;&nbsp;<input class="input-text" type="radio" name="remark"  id="">&nbsp;否-->
                        <!--<span></span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<h3 class="heading">相关设置</h3>-->
                <!--<div class="control-group formSep">-->
                    <!--<label class="control-label" for="">域名限制</label>-->
                    <!--<div class="controls">-->
                        <!--<input type="radio" name="insite" value="0" {if condition="$one.insite eq '0'"} checked {/if}>默认-->
                        <!--<input type="radio" name="insite" value="1" {if condition="$one.insite eq '1'"} checked {/if}>开启-->
                        <!--<input type="radio" name="insite" value="2" {if condition="$one.insite eq '2'"} checked {/if}>关闭-->
                    <!--</div>-->
                <!--</div>-->
                <h3 class="heading">联系信息</h3>
                <div class="control-group formSep" {if condition="($judge_name eq 'admin' || $judge_name eq 'laixiaoxing' )"}style="display:block" {else
                /}style="display:none"{/if}>
                <div class="control-group formSep">
                    <label class="control-label" for="">电子邮件</label>
                    <div class="controls">
                        <input class="input-text input1" type="text" name="email" value="{$one.email}">
                    </div>
                </div>
                <div class="control-group formSep">
                    <label class="control-label" for="">联系QQ</label>
                    <div class="controls">
                        <input class="input-text input1" type="text" name="qq" value="{$one.qq}">
                    </div>
                </div>
                </div>

                <div class="control-group formSep">
                    <label class="control-label" for="">真实姓名</label>
                    <div class="controls">
                        <input class="input-text input1" type="text" name="contact" value="{$one.contact}">
                    </div>
                </div>
                <div class="control-group formSep">
                    <label class="control-label" for="">联系电话</label>
                    <div class="controls">
                        <input class="input-text input1" type="text" name="tel" value="{$one.tel}">
                    </div>
                </div>
                <!-- <div class="control-group formSep">
                    <label class="control-label" for="">身份证号码</label>
                    <div class="controls">
                        <input class="input-text input1" type="text" name="idcard" value="{$one.idcard}">
                    </div>
                </div> -->
                <h3 class="heading">支付信息</h3>
                <div class="control-group formSep">
                    <label class="control-label" for="">收款银行</label>
                    <div class="controls">
                        <select name="bank_name" id="" style="width:160px;">
                            <option value="工商银行" {if condition="$one.bank_name eq '工商银行'"} selected {/if}>工商银行</option>
                            <option value="招商银行" {if condition="$one.bank_name eq '招商银行'"} selected {/if}>招商银行</option>
                            <option value="建设银行" {if condition="$one.bank_name eq '建设银行'"} selected {/if}>建设银行</option>
                            <option value="农业银行" {if condition="$one.bank_name eq '农业银行'"} selected {/if}>农业银行</option>
                            <option value="交通银行" {if condition="$one.bank_name eq '交通银行'"} selected {/if}>交通银行</option>
                            <option value="中国银行" {if condition="$one.bank_name eq '中国银行'"} selected {/if}>中国银行</option>
                            <option value="民生银行" {if condition="$one.bank_name eq '民生银行'"} selected {/if}>民生银行</option>
                            <option value="邮政银行" {if condition="$one.bank_name eq '邮政银行'"} selected {/if}>邮政银行</option>
                            <option value="广发银行" {if condition="$one.bank_name eq '广发银行'"} selected {/if}>广发银行</option>
                            <option value="三峡银行" {if condition="$one.bank_name eq '三峡银行'"} selected {/if}>三峡银行</option>
                            <option value="浦发银行" {if condition="$one.bank_name eq '浦发银行'"} selected {/if}>浦发银行</option>
                            <option value="支付宝" {if condition="$one.bank_name eq '支付宝'"} selected {/if}>支付宝</option>
                        </select>
                    </div>
                </div>
                <div class="control-group formSep">
                    <label class="control-label" for="">开户分行</label>
                    <div class="controls">
                        <input class="input-text input1" type="text" name="bank_branch" value="{$one.bank_branch}">
                    </div>
                </div>
                <div class="control-group formSep">
                    <label class="control-label" for="">收款姓名</label>
                    <div class="controls">
                        <input class="input-text input1" type="text" name="account_name" value="{$one.account_name}">
                    </div>
                </div>
                <div class="control-group formSep">
                    <label class="control-label" for="">收款账号</label>
                    <div class="controls">
                        <input class="input-text input1" type="text" name="bank_card" value="{$one.bank_card}">
                    </div>
                </div>
                {if condition="$auth.group_id eq '1'"}
                <div class="control-group formSep">
                    <label class="control-label" for="">站长扣量</label>
                    <div class="controls">
                        <input class="input-text input1" type="text" name="deduction" value="{$one.web_deduction}"><span>%</span>
                    </div>
                </div>
                {/if}
                <div class="control-group formSep">
                    <div class="controls">
                        <button class="btn btn-primary">提交更新</button>
                    </div>
                    <input type="hidden" name="uid" value="{$one.uid}" />
                    <input type="hidden" name="type" value="{$one.type}" />
                </div>
            </form>
        </div>
    </div>
</div>  
<div style="height:50px;"></div>      
<!-- end wrapper -->
{/block}