{extend name="public:customer-base" /}

{block name="main"}
    <!--我的概括-->
    <div class="main_left">
        <div class="subnav">
            <div class="subnav-title">
                <a href="" class="toggle-subnav">
                    <i></i>
                    <span>我的概括</span>
                </a>
            </div>
            <ul class="subnav-menu">
                <li class="current"><a href="/home/customer/index">我的概括</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <p>会员发展链接：https://www.lezun.com/cusnewusers/{$date.uid}/1</p>
        <a href="/webmaster/Web/list"  class="btn btn-primary" target="_blank">进入网站跟进系统</a>
        <table border="0" cellpadding="0" cellspacing="0" class="mt30">
            <tr>
                <td width="21%"><span class="money">{$date.num}</span>个</td>
                <td width="21%"><span class="money">{$date.usersCount}</span>个</td>
                <td width="21%"><span class="money">{$date.siteCount}</span>个</td>
                <td width="21%"><span class="money">{$date.money|decimal}</span>元</td>
                <td width="21%"><span class="money">{$date.sumpay|decimal}</span>元</td>
            </tr>
            <tr>
                <td>当天新增下属会员</td>
                <td>待审会员</td>
                <td>待审网站</td>
                <td>今日业绩</td>
                <td>当月业绩</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <div class="box">
            <div class="box-title">
                <h3><i></i>待审会员TOP50</h3>
            </div>
            <div class="box-content">
                <table class="table table-hover table-nomargin">
                    <tr>
                        <th>会员名</th>
                        <th width="160">注册IP</th>
                        <th width="160" class="hidden-350">注册时间</th>
                        <th width="160" class="hidden-480">操作</th>
                    </tr>
                    {volist name="date.users" id="vo"}
                    <tr>
                        <td>{$vo.username}</td>
                        <td>{$vo.regip|default='空'}</td>
                        <td>{$vo.ctime}</td>
                        <td>
                            <a href="javascript:;" class="homepage-activation"  data='{"uid":"{$vo.uid}","status":"1"}' durl='/home/customer/usersActivate' >审核</a>
                            <a href="javascript:;" class="homepage-lock"  data='{"uid":"{$vo.uid}","status":"0"}' durl='/home/customer/usersActivate' >锁定</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
            </div>
            <div class="box-title" style="margin-top:50px;">
                <h3><i></i>待审网站TOP50</h3>
            </div>
            <div class="box-content ai_report">
                <table class="table table-hover table-nomargin">
                    <tr>
                        <th width="120">会员名</th>
                        <th>网站名称</th>
                        <th width="120" class="hidden-350">分类</th>
                        <th width="160" class="hidden-480">网站备案信息</th>
                        <!-- <th width="120">操作</th> -->
                    </tr>
                    {volist name="date.site" id="vo"}
                    <tr>
                        <td>{$vo.username}</td>
                        <td>{$vo.sitename}<br><a href="//{$vo.siteurl}" target="_blank">{$vo.siteurl}</a></td>
                        <td>{$vo.class_name|default='空'}</td>
                        <td>{$vo.beian}</td>
<!--                         <td>
                            <a href="javascript:;"  class="homepage-activation"  data='{"siteid":"{$vo.site_id}","status":"1"}' durl='/home/customer/siteActivate' >审核</a>
                            <a href="javascript:;"  class="homepage-lock"  data='{"siteid":"{$vo.site_id}","status":"0"}' durl='/home/customer/siteActivate' >锁定</a>
                        </td> -->
                    </tr>
                    {/volist}
                </table>
            </div>

            <div class="box-title" style="margin-top:50px;">
                <h3><i></i>待审广告位</h3>
            </div>
            <div class="box-content ai_report">
                <table class="table table-hover table-nomargin">
                    <tr>
                        <th>广告位ID</th>
                        <th>广告位名称</th>
                        <th>站长名称</th>
                        <th>尺寸</th>
                        <th>广告模式</th>
                    </tr>
                    {volist name="res" id="vo"}
                    <tr>
                        <td>{$vo.adz_id}</td>
                        <td>{$vo.zonename}</a></td>
                        <td>{$vo.username}</td>
                        <td>{$vo.width}*{$vo.height}</td>
                        <td>{$vo.tplname}</td>
                    </tr>
                    {/volist} 
                </table>
            </div>

            <div class="box-title" style="margin-top:50px;">
                <h3><i></i>客户合作明细</h3>
            </div>
            <!--<div class="box-content ai_report">
                <table class="table table-hover table-nomargin">
                    <tr>
                        <th width="120">客户名</th>
                        <th>今天收益</th>
                        <th>昨天收益</th>
                        <th>前天收益</th>
                        <th>收益情况</th>
                    </tr>
                    {volist name="date.detail" id="vo"}
                    <tr>
                        <td>{$vo.username|default='空'}</td>
                        <td>{$vo.today|default='0'}</td>
                        <td>{$vo.yesterday|default='0'}</td>
                        <td>{$vo.before_yesterday|default='0'}</td>

                        {if condition="empty($vo.today) and empty($vo.yesterday) and empty($vo.before_yesterday)"}
                            <td style="color:red;">3天无收益</td>
                        {else/}
                            {if condition="!empty($vo.today) gt !empty($vo.yesterday)"}
                            <td style="color: green;  font-size: 20px;">↑</td>
                            {else/}
                            <td style="color:red;  font-size: 20px;">↓</td>
                            {/if}
                        {/if}

                    </tr>
                    {/volist}
                </table>
            </div>-->
        </div>
    </div>
{/block}

{block name="js"}

{/block}