{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
         <div id="repo_data" class="tb_sts" style="position:absolute; top:110px; right:30px;">
         </div>
        <h3 class="heading">审核测试</h3>
            <table class="dataTable table-hover" name="users-list" >
                <tr role="row">
                    <th rowspan="1" colspan="1" style="width:13px;"><input class="checkedAll" id="" name="site" type="checkbox" data-name="name-data"></th>
                    <th>ID</th>
                    <th>广告位ID</th>
                    <th>站长ID</th>
                    <th>测试类型</th>
                    <th>申请人</th>
                    <th>状态</th>
                    <th>申请时间</th>
                    <th>审核状态</th>
                    <th>匹配计划ID</th>
                    <th>操作</th>
                </tr>
                {volist  name="re" id="vo"}
                <tr class="unread">
                    <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="site" type="checkbox" data-name="name-data"></td>
                    <td>{$vo['a_id']}</td>
                    <td>{$vo.adz_id}</td>
                    <td>{$vo.u_id}</td>
                    <td>
                        {switch name="vo.type" }
                            {case value="1"}清理类测试{/case}
                            {case value="2"}高要求测试{/case}
                            {case value="3"}小清新测试{/case}
                            {case value="4"}小说测试{/case}
                            {case value="5"}文字链测试{/case}
                            {case value="6"}右漂测试{/case}
                        {/switch}
                    </td>
                    <!-- 处理之前的数据 -->
                    {if condition="$vo.username eq 28"}
                    <td>yunyingbu1</td>
                    {elseif condition="$vo.username eq 15"}
                    <td>mjzg</td>
                    {elseif condition="$vo.username eq 7"}
                    <td>laixiaoxing</td>
                    {else/}
                    <td>{$vo.username}</td>
                    {/if}
                    {if condition="$vo.status eq 1"}
                        <td>广告位</td>
                    {else/}
                        <td>站长</td>
                    {/if}
                    <td>{$vo.time|date="Y-m-d H:i",###}</td>
                    <td>
                        <span class="common-button ajax-status">
                            {switch name="vo.shenhe"}
                                {case value="1"}<span class="sta_er">待审</span>{/case}
                                {case value="2"}<span class="sta_bl">已审</span>{/case}
                            {/switch}
                        </span>
                    </td>
                    <td class="Auditpid">
                        
                        {if condition="$vo.ad_id"}
                        <a onclick='window.location.href="/admin/newtest/list?plan=pid&search={$vo.ad_id}"'>{$vo.ad_id}</a>
                        {else/}
                        待审核匹配计划ID
                        {/if}
                    </td>
                    <td>
                <a href="javascript:;" class="data-audit" statuscls='ajax-status'  data='{"id":"{$vo.a_id}"}'  durl='/admin/newtest/edit_audit'>激活</a>
                &nbsp;&nbsp;
                <a href="javascript:;" class="data-auditlock " data='{"id":"{$vo.a_id}","ad_id":"{$vo.ad_id}"}'  durl='/admin/newtest/edit_audit_s'>锁定</a>
                &nbsp;&nbsp;
                <a href="javascript:;" class="ajax-del" data='{"id":"{$vo.a_id}"}' durl="/admin/newtest/del_audit">删除</a>
                    </td>
                </tr>
                {/volist}
            </table>
            <div class="row">

            </div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    //锁定审核
    $(".data-auditlock").click(function(){
        var href= $(this).attr('durl');
        var arr = $(this).attr('data');
        var params = $.parseJSON(arr);
        var statuscls = $(this).attr('statuscls');
        var _this = $(this);

        $.post(href,params,success);
        function success(data) {
            if (data.status == 1) {
                layer.msg('锁定成功', {icon: 1});
                _this.parent().parent().find('.ajax-status').html('待审').css({
                    "background":"#ae432e",
                    "padding":"2px 6px",
                    "font-size":"12px",
                    "color":"#fff",
                    "border-radius":"4px"
                    });
                // _this.parent().parent().find('ajax-status').html('锁定');
            } else {
                layer.msg('锁定失败', {icon: 1});
                return false;
            }
        }
        // });
    }); 

    //审核
    $(".data-audit").click(function(){
        var href= $(this).attr('durl');
        var arr = $(this).attr('data');
        var params = $.parseJSON(arr);
        var statuscls = $(this).attr('statuscls');
        var _this = $(this);
        $.post(href,params,success);
        function success(data) {
            if (data.status == 1) {
                _this.parent().parent().find('.Auditpid').html(data.data.pid);
                _this.parent().parent().find('.ajax-status').html('已审').css({
                    "background":"#058dc7",
                    "padding":"2px 6px",
                    "font-size":"12px",
                    "color":"#fff",
                    "border-radius":"4px"
                });
                layer.msg(data.info, {icon: 1});
            } else {
                layer.msg(data.info, {icon: 1});
                return false;
            }
        }
    });

</script>
{/block}