{extend name="public:base" /}
{block name="css"}
<link href="__CSS__/daterangepicker-bs3.css" rel="stylesheet" />
{/block}
{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div id="repo_data" class="tb_sts" style="position:absolute; top:82px; right:44px;">
        <a href=""><i class="fa fa-plus-circle"></i>操作系统</a>
        <a href=""><i class="fa fa-plus-circle"></i>浏览器</a>
        <a href=""><i class="fa fa-plus-circle"></i>分辨率</a>
        <a href=""><i class="fa fa-plus-circle"></i>网络提供商</a>
        <a href="" class="payTab"><i class="fa fa-plus-circle"></i>地域分布</a>
    </div>
    <h3 class="heading head_trend">地域分布<span><a href="">今天</a></span><span><a href="">昨天</a></span><span><a href="">最近7天</a></span><span><a href="">最近30天</a></span><span><a href="">所有数据</a></span></h3>
    <div class="tb_sts">
        <form class="" action="" method="post" name="">
            搜索：
            <input class="input-text input1" type="hidden" name="stats" value="" />
            <input class="input-text" name="numid" type="text" value="" value="" style="width:200px;">
            <select name="id" id="" style="width:90px;">
                <option value="pid">计划ID</option>
                <option value="uid">站长ID</option>
                <option value="ad_id">广告ID</option>
                <option value="adz_id ">广告位ID</option>
            </select>
            <select id="selectime" name="time" id="" style="width:204px;">
                <option id="fatime" value="">111</option>
                <option value="">所有时间段</option>
                <option value="" >今天</option>
                <option value="" >昨天</option>
                <option value="" >最近七天</option>
                <option value="" >最近30天</option>
                <option value="" >上个月</option>
            </select>
            <img src="/admin/img/calendar.png" id="reservation">
            <button type="input"><i class="fa fa-search"></i></button>
        </form>
    </div>
    <div class="box-content" style="margin-top:15px;overflow:hidden;">
        <!--地图-->
        <div id="main" style="width:780px;height:600px; float:left;"></div>
        <!--饼状图-->
        <div id="container" style="width:780px;height:600px; float:left;"></div>
    </div>
    <div class="fold" style="margin-bottom:30px;"></div>
    <form  action="" name="delete" id="delete" method="post">
    <table class="dataTable table-hover">
        <tr>
            <th>日期</th>
            <th>省份</th>
            <th>城市</th>
        </tr>
        <tr>
            <td>2016-10-12</td>
            <td>河北</td>
            <td>其他(199702),太原(5202),太原(5202),太原(5202),太原(5202),太原(5202),太原(5202),太原(5202),太原(5202),太原(5202)</td>
        </tr>
    </table>
    </form>
    <div class="row"></div>
</div>

{/block}

<!-- end wrapper -->

{block name="js"}
<!-- <script src="__JS__/report.js"></script> -->
<script src="__STATIC__/js/moment.min.js"></script>
<script src="__JS__/daterangepicker.js"></script>
<script src="__JS__/moment.js"></script>
<!--世界地图插件-->
<script src="__JS__/echarts.js"></script>
<script src="__JS__/china.js"></script>

<script type="text/javascript" src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script type="text/javascript">
    function randomData() {
        return Math.round(Math.random()*1000);
    }
    var myChart = echarts.init(document.getElementById('main'));
    option = {
            title: {
                text: '测试',
                subtext: '纯属虚构',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            //左上角列表
            legend: {
                orient: 'vertical',
                left: 'left',
                data:['城市','iphone4','iphone5']
            },
            //左下角对比度
            visualMap: {
                min: 0,
                max: 2500,
                left: 'left',
                top: 'bottom',
                text: ['高','低'],           // 文本，默认为数值文本
                calculable: true
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    dataView: {readOnly: false},
                    restore: {},
                    saveAsImage: {}
                }
            },
            series: [
                {
                    name: '',
                    type: 'map',
                    mapType: 'china',
                    //是否允许缩放
                    roam: false,
                    label: {
                        normal: {
                            show: false
                        },
                        emphasis: {
                            show: true
                        }
                    },
                    data:[
                        {name: '北京',value: randomData() },
                        {name: '天津',value: randomData() },
                        {name: '上海',value: randomData() },
                        {name: '重庆',value: randomData() },
                        {name: '河北',value: randomData() },
                        {name: '安徽',value: randomData() },
                        {name: '新疆',value: randomData() },
                        {name: '浙江',value: randomData() },
                        {name: '江西',value: randomData() },
                        {name: '山西',value: randomData() },
                        {name: '内蒙古',value: randomData() },
                        {name: '吉林',value: randomData() },
                        {name: '福建',value: randomData() },
                        {name: '广东',value: randomData() },
                        {name: '西藏',value: randomData() },
                        {name: '四川',value: randomData() },
                        {name: '宁夏',value: randomData() },
                        {name: '香港',value: randomData() },
                        {name: '澳门',value: randomData() }
                    ]
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    $(function(){

        //饼状图
        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'TOP 10'
            },
            credits: {
                enabled: false
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                    ['Son',   45.0],
                    ['Sol',       26.8],
                    {
                        name: 'Chrome',
                        y: 12.8,
                        sliced: true,
                        selected: true
                    },
                    ['So',    8.5],
                    ['Sog',     6.2],
                    ['Others',   0.7]
                ]
            }]
        });

        //时间插件

        $('#reservation').daterangepicker(null, function(start, end, label) {
            var a = start.format();
            var b = end.format();
            //start time
            var c = a.substr(0,10);
            //end time
            var d = b.substr(0,10);
            //点击选中第一个
            $("#selectime option:first").prop("selected","selected");
            $("#fatime").text(c+"至"+d);
            $("#fatime").val(value = c+""+d);
        });
    });
    // 批量删除
    function delLst(){
        layer.confirm('确定删除吗？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $('form').submit();
        });
    }
</script>
{/block}