{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div>
        <h3 class="heading">批量修改广告图片链接</h3>
        <!-- <form class=""  name="addform" id="formId"> -->
            <div class="control-group">
                <label class="control-label control-label-left">广告图片名称</label>
                <div class="controls control-input">
                    <select name="img_name" id="img_name">
                        <option value="_1">_1</option>
                        <option value="_2">_2</option>
                        <option value="_3">_3</option>
                        <option value="_4">_4</option>
                        <option value="_5">_5</option>
                        <option value="_6">_6</option>
                        <option value="_7">_7</option>
                        <option value="_8">_8</option>
                        <option value="_9">_9</option>
                        <option value="_10">_10</option>
                        <option value="-1">-1</option>
                        <option value="-2">-2</option>
                        <option value="-3">-3</option>
                        <option value="-4">-4</option>
                        <option value="-5">-5</option>
                        <option value="-6">-6</option>
                        <option value="-7">-7</option>
                        <option value="-8">-8</option>
                        <option value="-9">-9</option>
                        <option value="-10">-10</option>
                    </select>
                </div>
            </div>
            <div class="control-group control-padding">
                <label class="control-label control-label-left">图片地址(查找)</label>
                <div class="controls control-input">
                    <input id="beforUrl" class="input-text input1 required" type="text" name="befor_url" value="" placeholder="请输入需要修改部分链接" size="22"/><span class="erro"></span>
                </div>
            </div>
            <div class="control-group control-padding">
                <label class="control-label control-label-left">图片地址(替换)</label>
                <div class="controls control-input">
                    <input id="imgurl" class="input-text input1 required" type="text" name="url" value="" placeholder="请输入需要修改后的部分链接" size="22"/><span class="erro"></span>
                </div>
            </div>

            <input type="hidden" name="pid" value="{$pid}" id="pid">
            <div class="control-group formSep">
                <div class="controls">
                    <button id="sbm" class="btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        <!-- </form> -->
    </div>
</div>
{/block}

<!-- end wrapper -->

{block name="js"}
<script type="text/javascript">
    href = '/admin/ads/saveimgurl';
    $('#sbm').click(function(){
        var img_name = $("#img_name").val();
        var beforUrl = $('#beforUrl').val();
        var url = $('#imgurl').val();
        var pid = $('#pid').val();
        $.ajax({  
            type: "post",
            url: href,
            data : {'img_name':img_name,'beforUrl':beforUrl,'url':url,'pid':pid},
                success : function(data) { 
                    if(data.status ==1){
                        layer.msg(data.info, {icon: 1});
                    }else{
                        layer.msg(data.info, {icon: 2});
                    }
             }
        });
    })
</script>
{/block}
