{extend name="public:base" /}
{block name="css"}
<link href="__CSS__/webuploader.css" rel="stylesheet" />
<!-- <link href="__CSS__/demo.css" rel="stylesheet" /> -->
{/block}
{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
        <h3 class="heading">新建 批量广告</h3>
        <div class="row-plan row-fluid" style="padding-top:20px; overflow:hidden;">
            <div class="">
                <!--form表开始-->
                <form action="/admin/ads/doAddImg" name="addform" method="post" enctype="multipart/form-data" >
                    <div class="pl-tab">
                        <div class="control-group control-padding">
                            <label class="control-label">所属广告计划</label>
                            <div class="controls">
                             {if condition="$ads_name"}
                                <select id="plan_select" name="ads_pid" class="required onesel">
                                    {volist name="ptype_list" id="vo"}
                                    <optgroup label="{$key}" >
                                        <option value="{$ads_name.pid}" data="{$ads_name.uid}" pid="{$ads_name.pid}">{$ads_name.plan_name}</option>
                                    </optgroup>
                                    {/volist}
                                </select>
                                <span class="erro"></span>
                                {else /}  
                                <select id="plan_change" name="ads_pid" class="required onesel">
                                    <option value="">选择一个计划</option>
                                    {volist name="ptype_list" id="vo"}
                                    <optgroup label="{$key}" >
                                        {volist name="vo" id="sub"}
                                        <option value="{$sub.pid}" data="{$sub.uid}" pid="{$sub.pid}">{$sub.plan_name}</option>
                                        {/volist}
                                    </optgroup>
                                    {/volist}
                                </select>
                                <span class="erro"></span>
                                <span>属于哪个计划名下的广告</span>
                            {/if}
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">广告名称</label>
                            <div class="controls">
                                <input id="ad_name" class="input-text input1 data_pac" name="ad_name" value="" type="text"><span class="erro" style="display:none;">请输入广告名称</span>
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">广告类型尺寸</label>
                            <div class="controls">
                                <select id="adtpl_change" name="adtpl_id" class="required twosel">
                                    <option value="">选择一个广告类型尺寸</option>
                                </select>
                                <span class="erro"></span>
                            </div>
                        </div>
                        <div id="ad_ch" style="margin-bottom:20px;"></div>
                        <div class="control-group control-padding">
                            <label class="control-label">上传图片</label>
                            <div class="controls" style="margin-top:6px;">
                                <input name="upmethond" type="radio" value="" checked="checked" onclick="show1()">上传文件
                                <input name="upmethond" type="radio" value="" onclick="show()">远程文件
                            </div>
                            <br>
                            <div class="controls">
                                <div id="uploader-demo">  
                                    <!--用来存放item-->  
                                    <div id="thelist" class="uploader-list"></div>  
                                    <div id="filePicker">选择图片</div>  
                                </div> 
                                <input class="input-text input1 files longUrl " type="url" name="imageurl[]" value="" placeholder="图片地址" style="display:none;" />
                                <input class="input-text input1 files addressImg " type="url" name="url[]" value="" placeholder="广告跳转地址" style="display:none;" /><span class="erro data-fi">不能为空</span>
                                <input name="file[]" class="input-text input1 data_pac" type="hidden" value="2">
                                <input id="addUrl" type="button" value="添加广告" style="display:none;background-color:#337ab7;color:white;border: 1px solid transparent;border-radius: 4px"; onclick="appendUrl()">
                            </div>
                        </div>
                        <!--<div class="control-group control-padding">
                            <label class="control-label">广告地址</label>
                            <div class="controls">
                                <input id="" class="input-text input1" type="text" name="url" value=""  />
                            </div>
                        </div> -->
                        <div class="control-group control-padding">
                            <label class="control-label">广告权重</label>
                            <div class="controls">
                                <input id="" class="input-text input1" type="text" name="priority" value="1"  /><span>1~10数字，默认为1，权重越高，显示的几率越大</span>
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">站长扣量</label>
                            <div class="controls">
                                <input id="" class="input-text input1" type="text" name="web_deduction" value=""/>%
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">广告商扣量</label>
                            <div class="controls">
                                <input id="" class="input-text input1" type="text" name="adv_deduction" value=""/>%
                            </div>
                        </div>
                        <div class="control-group control-padding">
                            <label class="control-label">广告描述</label>
                            <div class="controls">
                                <input id="" class="input-text input1" type="text" name="adinfo" value=""  />
                            </div>
                        </div>
                    </div>
                    <!--end-->
                    
                    <!--表单提交-->
                    <div class="control-group" style="padding-bottom:50px;">
                        <div class="controls">
                            <button class="btn btn-primary" type="submit">提交</button>
                        </div>
                    </div>
                    <!--end-->
                    <input id="hid_uid" type="hidden" name="uid" value="" />
                </form>
                <!--end-->
            </div>
        </div>
    </div>
</div>

{/block}

{block name="js"}
<script src="__JS__/submit.js"></script>
<script src="__JS__/webuploader.js"></script>
<!-- <script src="__JS__/webuploader.min.js"></script> -->
<script language="JavaScript" type="text/javascript">
$(function(){
         (function(){
        var uid = $('#plan_select option:selected').attr('data');
        $('#hid_uid').val(uid);

        var href = '/admin/ads/changePrice';
        var params = {
            pid:$('#plan_select option:selected').attr('pid')
        };

        /*console.log(121);*/      
        $.post(href,params,success);
        function success(data) {
        /*console.log(441114);*/
            if (data.status == 1) {
                $("#adtpl_change").html("");
                var info='';
                info='<option value="">选择一个广告类型尺寸</option>';
                for(var key in data.data){
                    info+='<option value='+data.data[key].tpl_id+','+data.data[key].id+','+data.data[key].size+'>'+data.data[key].price_name+'</option>';
                }
                $("#adtpl_change").append(info);

            } else {
                console.log(data);
            }
        }
    })();
    $('#plan_change').change(function(){
        var uid = $('#plan_change option:selected').attr('data');
        $('#hid_uid').val(uid);

        var href = '/admin/ads/changePrice';
        var params = {
            pid:$('#plan_change option:selected').attr('pid')
        };
        $.post(href,params,success);
        function success(data) {
            if (data.status == 1) {
                $("#adtpl_change").html("");
                var info='';
                info='<option value="">选择一个广告类型尺寸</option>';
                for(var key in data.data){
                    info+='<option value='+data.data[key].tpl_id+','+data.data[key].id+','+data.data[key].size+'>'+data.data[key].price_name+'</option>';
                }
                $("#adtpl_change").append(info);

            } else {
                console.log(data);
            }
        }
    });
    //form 表单提交       测试
    $("form").submit(function(){
        var flag  = true;
        var thumbnail = document.getElementsByTagName('thumbnail').length;
        $(".data_pac").each(function(){
            // if(thumbnail == 0){}
            if($(this).val() == ""){
                $(this).next().css('display','inline');
                // //获取滚动条高度
                // // var a = $(this).offset().top;
                $(this).focus();
                $("html,body").animate({scrollTop:0}, 0);
                flag = false;
                console.log(document.getElementsByTagName('thumbnail').length);
            }
        })
        if(!flag){
            return false;
        }
    })

    //批量上传图片插件位置
    var $list=$("#thelist");   //这几个初始化全局的百度文档上没说明，好蛋疼。  
    var $btn =$("#ctlBtn");   //开始上传  
    var thumbnailWidth = 100;   //缩略图高度和宽度 （单位是像素），当宽高度是0~1的时候，是按照百分比计算，具体可以看api文档  
    var thumbnailHeight = 100;

     //图片批量上传
     // 初始化Web Uploader
    var uploader = WebUploader.create({  
        // 选完文件后，是否自动上传。  
        auto: true,
  
        // swf文件路径  
        swf: '${ctxStatic }/webupload/Uploader.swf',  
  
        // 文件接收服务端。
        server: '/admin/Ads/upImg',
  
        // 选择文件的按钮。可选。  
        // 内部根据当前运行是创建，可能是input元素，也可能是flash.  
        pick: '#filePicker',  
  
        // 只允许选择图片文件。  
        accept: {  
           title: 'Images',  
           extensions: 'gif,jpg,jpeg,bmp,png',  
           mimeTypes: 'image/gif,image/jpg,image/jpeg,image/bmp,image/png'  
        },
    });
    // 当有文件添加进来的时候  
    uploader.on( 'fileQueued', function( file ) {  
    // webuploader事件.当选择文件后，文件被加载到文件队列中，触发该事件。等效于 uploader.onFileueued = function(file){...} ，类似js的事件定义。  
        var $li = $( 
            '<div style="width:300px; float:left; padding-bottom:10px;">' +
                '<div id="' + file.id + '" class="file-item thumbnail">' +  
                    '<img>' +
                    '<div class="info">' + file.name + '</div>' +  
                '</div>'  +
                '<div class="dsad" style="width:200px; float:left;">广告地址:<input class="" id="hidden'+file.id+'" type="url" name="url[]" value="">' +
            '</div>'    
                ),  
            $img = $li.find('img');  
  
  
        // $list为容器jQuery实例  
        $list.append( $li );  
  
        // 创建缩略图  
        // 如果为非图片文件，可以不用调用此方法。  
        // thumbnailWidth x thumbnailHeight 为 100 x 100  
        uploader.makeThumb( file, function( error, src ) {   
        //webuploader方法  
            if ( error ) {  
                $img.replaceWith('<span>不能预览</span>');  
                return;  
            }  
  
            $img.attr( 'src', src );  
        }, thumbnailWidth, thumbnailHeight );
    });  

    // 文件上传过程中创建进度条实时显示。  
    uploader.on( 'uploadProgress', function( file, percentage ) {
        var $li = $( '#'+file.id ),  
            $percent = $li.find('.progress span');  
   
        // 避免重复创建  
        if ( !$percent.length ) {  
            $percent = $('<p class="progress"><span></span></p>')  
                    .appendTo( $li )  
                    .find('span');  
        }  
        $percent.css( 'width', percentage * 100 + '%' );  
    });  
  
    // 文件上传成功，给item添加成功class, 用样式标记上传成功。  
    uploader.on( 'uploadSuccess', function( file,response ) {
        console.log(response.data);
        $('#hidden'+file.id).after('<input name="imageurl[]" type="hidden" value="'+response.data+'"><input name="file[]" type="hidden" value="1">');
        $( '#'+file.id ).addClass('upload-state-done');  
    });  
  
    // 文件上传失败，显示上传出错。  
    uploader.on( 'uploadError', function( file ) {  
        var $li = $( '#'+file.id ),  
            $error = $li.find('div.error');  
  
        // 避免重复创建  
        if ( !$error.length ) {  
            $error = $('<div class="error"></div>').appendTo( $li );  
        }  
  
        $error.text('上传失败');  
    });  
  
    // 完成上传完了，成功或者失败，先删除进度条。  
    uploader.on( 'uploadComplete', function( file ) {
        $( '#'+file.id ).find('.progress').remove();
    }); 
    // $btn.on( 'click', function() {  
    //     console.log("上传失败");  
    //     uploader.upload();  
    //     console.log("上传成功");  
    // });  

}); 
// 上传图片切换
function show(){
    $('.files').css('display','inline').addClass('data_pac');
    $('#uploader-demo').css('display','none');
    $('#addUrl').css('display','inline');  
}
function show1(){
    $('.files').css('display','none').removeClass('data_pac');
    $('#uploader-demo').css('display','block');
    $('#addUrl').css('display','none');
    $('.addressImg').next('span').hide();
}

//点击添加远程URL文本框
function appendUrl(){
    $('#addUrl').parent().after('<div class="controls remove" style="margin-top:10px;"><input name="imageurl[]" class="input-text input1 data_pac longUrl" type="url" value=""><input name="url[]" class="input-text input1 data_pac addressImg" type="url" value="" style="margin-left:4px;"><span class="erro">不能为空</span><input name="file[]" class="input-text input1 data_pac" type="hidden" value="2"></div>');
}    
</script> 
{/block}