{extend name="public:base" /}

{block name="main"}
<!--  添加  -->
<div class="wrapper">
    <div>
        <h3 class="heading">批量修改广告名称</h3>
        <form class="" method="post" name="addform" id="formId">
            <div class="control-group control-padding">
                <label class="control-label control-label-left">需要修改的广告名称</label>
                <div class="controls control-input">
                    <input class="input-text input1 required" type="text" name="oldname" value="" /><span class="erro">需要修改的广告名称</span>
                </div>
            </div>
            <div class="control-group control-padding">
                <label class="control-label control-label-left">新广告名称</label>
                <div class="controls control-input">
                    <input class="input-text input1 required" type="text" name="adname" value="" /><span class="erro">请输入新广告名称</span>
                </div>
            </div>

            <input class="input-text input1 required" name="pid" value="{$param.pid}" type="hidden">
            <div class="control-group formSep">
                <div class="controls">
                    <button class="btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}

<!-- end wrapper -->

{block name="js"}
<script type="text/javascript">

    $('#formId').submit(function () {
        if (addform.adname) {
            var href = '/admin/ads/upAdName';
            var data = $("#formId").serialize();
            $.post(href, data, success);
            function success(data) {
                if (data.status == 1) {
                    layer.msg(data.info, { icon: 1 });
                    setTimeout(function () {
                        window.location.href = '/admin/ads/planToAds?pid={$param.pid}';
                    }, 2000);
                } else {
                    layer.msg(data.info, { icon: 2 });
                    setTimeout(function () {
                    }, 2000);
                    return false;
                }
            }

            return false;
        }
    });
</script>
{/block}