{extend name="public:base" /}

{block name="main"}
<div class="wrapper">
    <div class="row-fluid">
         <div id="repo_data" class="tb_sts" style="position:absolute; top:110px; right:30px;">
            <a href="/admin/siteallaudit/siteAllAudit?status=site_all"  {if condition="$one.status eq 'site_all'"} class="repo_data" {/if} >全部</a>
            <a href="/admin/siteallaudit/siteAllAudit?status=0" {if condition="$one.status eq '0'"} class="repo_data" {/if} >锁定</a>
            <a href="/admin/siteallaudit/siteAllAudit?status=1" {if condition="$one.status eq '1'"} class="repo_data" {/if}>激活</a>
            <a href="/admin/siteallaudit/siteAllAudit?status=2" {if condition="$one.status eq '2'"} class="repo_data" {/if}>待审</a>
         </div>
        <h3 class="heading">网站管理</h3>
        <div class="dataTables-wrapper">
            <!--<div class="tb-lis users_lis">-->
                <!--<a href="/admin/site/siteAdd"><i class="fa fa-plus-circle"> 新增网站</i></a>-->
            <!--</div>-->

            <table class="dataTable table-hover" name="users-list" >
                <tr role="row">
                    <th rowspan="1" colspan="1" style="width:13px;"><input class="checkedAll" id="" name="site" type="checkbox" data-name="name-data"></th>
                    <th>ID</th>
                    <th>站长</th>
                    <th>网站名称</th>
                    <th>网站地址</th>
                    <th>网站类型</th>
                    <th>今日访问</th>
                    <th>昨日访问</th>
                    <!--<th>Alexa/PR</th>-->
                    <th>星级</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                {volist name="site_list" id="vo"}
                <tr class="unread">
                    <td rowspan="1" colspan="1" style="width:13px;"><input id="" name="site" type="checkbox" data-name="name-data"></td>


                    <td>{$vo.site_id}</td>
                    <td>{$vo.username}</td>
                    <td>{$vo.sitename}</td>
                    <td>{$vo.siteurl}</td>
                    <td>{$vo.class_name}</td>
                    <td>{$vo.todayViews}</td>
                    <td>{$vo.yesterdayViews}</td>
                    <td>{$vo.star}</td>

                    <td>
                        <span class="common-button ajax-status">
                            {switch name="$vo.status" }
                                {case value="0"}<span class="sta_er">锁定</span>{/case}
                                {case value="1"}<span class="sta_bl">活动</span>{/case}
                                {case value="2"}<span class="sta_er">待审</span>{/case}
                            {/switch}
                        </span>

                    </td>
                    <td>
                        <a href="javascript:;"  class="data-lock"  data='{"id":"{$vo.site_id}","status":"0"}' durl='/admin/siteallaudit/siteEditStatus' statuscls='ajax-status'>锁定</a>
                        <a href="javascript:;"  class="data-activation"  data='{"id":"{$vo.site_id}","status":"1"}' durl='/admin/siteallaudit/siteEditStatus' statuscls='ajax-status'>激活</a>
                    </td>
                </tr>
                {/volist}

            </table>
            <div class="row">
            {$page}
            </div>
        </div>
    </div>
</div>

<!-- end wrapper -->
{/block}

{block name="js"}
<script>
    $(function(){
        $('.list').each(function(){
            $(this).css({'display':'none'})
        })
    })
</script>
{/block}